BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/Aggregatex.workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "DefaultReceiveLocation": {
        "type": "Request",
        "kind": "Http"
      }
    },
    "actions": {
      "MessagesToAggregate": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "MessagesToAggregate",
              "type": "array",
              "value": []
            }
          ]
        },
        "runAfter": {}
      },
      "TotalNumberOfMessages": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "TotalNumberOfMessages",
              "type": "integer",
              "value": 0
            }
          ]
        },
        "runAfter": {
          "MessagesToAggregate": [
            "SUCCEEDED"
          ]
        }
      },
      "MessageEnumerator": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "MessageEnumerator",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "TotalNumberOfMessages": [
            "SUCCEEDED"
          ]
        }
      },
      "MessageToSuspend": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "MessageToSuspend",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "MessageEnumerator": [
            "SUCCEEDED"
          ]
        }
      },
      "AggregatedMessage": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "AggregatedMessage",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "MessageToSuspend": [
            "SUCCEEDED"
          ]
        }
      },
      "AddMessageToAggregatorList": {
        "type": "Compose",
        "inputs": "@'MessagesToAggregate.Add(triggerBody())'",
        "runAfter": {
          "AggregatedMessage": [
            "SUCCEEDED"
          ]
        }
      },
      "Until": {
        "type": "Until",
        "expression": "@greaterOrEquals(variables('TotalNumberOfMessages'), 2)",
        "limit": {
          "count": 2,
          "timeout": "PT1H"
        },
        "actions": {
          "Receive_ConvoyMessage": {
            "type": "Compose",
            "inputs": "// Unmapped: Response Receive response from Port_ConvoyRecieve (BizTalk correlation pattern - requires manual configuration)",
            "runAfter": {}
          },
          "AddMessageToAggregatorList_1": {
            "type": "Compose",
            "inputs": "@'MessagesToAggregate.Add(ConvoyMessage);\r\nTotalNumberOfMessages = TotalNumberOfMessages + 1'",
            "runAfter": {
              "Receive_ConvoyMessage": [
                "SUCCEEDED"
              ]
            }
          }
        },
        "runAfter": {
          "AddMessageToAggregatorList": [
            "SUCCEEDED"
          ]
        }
      },
      "Scope_ExecuteSendPipeline": {
        "type": "Scope",
        "actions": {
          "ConstructAggregatedMessage_35ad29e8": {
            "type": "Compose",
            "inputs": "@'AggregatedMessage = null;\r\nMicrosoft.XLANGs.Pipeline.XLANGPipelineManager.ExecuteSendPipeline(typeof(Aggregator.PipelinesAndSchemas.XMLAggregatingPipeline),MessagesToAggregate,AggregatedMessage)'",
            "runAfter": {}
          },
          "CatchPipelineException": {
            "type": "Scope",
            "actions": {
              "GetMessageEnumerator": {
                "type": "Compose",
                "inputs": "@'MessageEnumerator = MessagesToAggregate.GetEnumerator()'",
                "runAfter": {}
              },
              "Until_1": {
                "type": "Until",
                "expression": "@'!(MessageEnumerator.MoveNext())'",
                "limit": {
                  "count": 60,
                  "timeout": "PT1H"
                },
                "actions": {
                  "ConstructMessageToSuspend_69306948": {
                    "type": "Compose",
                    "inputs": "@'MessageToSuspend = MessageEnumerator.Current;\r\nMessageToSuspend(Aggregator.PipelinesAndSchemas.PropertySchema.ErrorDescription) = \"Send pipeline execution failed \" +\r\n                                            \"while assembling outbound batch that included this message.\\r\\n\" +\r\n                                            \"Error details: \" + pEx.Message'",
                    "runAfter": {}
                  },
                  "Send_MessageToSuspend": {
                    "type": "Http",
                    "inputs": {
                      "method": "POST",
                      "uri": "http://localhost/service",
                      "body": "@triggerBody()",
                      "headers": {
                        "Content-Type": "application/json"
                      }
                    },
                    "runAfter": {
                      "ConstructMessageToSuspend_69306948": [
                        "SUCCEEDED"
                      ]
                    }
                  }
                },
                "runAfter": {
                  "GetMessageEnumerator": [
                    "SUCCEEDED"
                  ]
                }
              },
              "TerminateOrchestration": {
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Failed",
                  "runError": {
                    "code": "Terminated",
                    "message": "\"Aggregator instance has terminated due to send pipeline failure. Error details: \" + pEx.Message;"
                  }
                },
                "runAfter": {
                  "Until_1": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {
              "ConstructAggregatedMessage_35ad29e8": [
                "FAILED",
                "TIMEDOUT",
                "SKIPPED"
              ]
            }
          }
        },
        "runAfter": {
          "Until": [
            "SUCCEEDED"
          ]
        }
      },
      "Send_AggregatedMessage": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "http://localhost/service",
          "body": "@triggerBody()",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "runAfter": {
          "Scope_ExecuteSendPipeline": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "Send_AggregatedMessage": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {}
  }
}