BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/Analyze_workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "DefaultReceiveLocation": {
        "type": "Request",
        "kind": "Http"
      }
    },
    "actions": {
      "BadOrderReason": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "BadOrderReason",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {}
      },
      "IsValid": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "IsValid",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "BadOrderReason": [
            "SUCCEEDED"
          ]
        }
      },
      "IsBadOrder": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "IsBadOrder",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "IsValid": [
            "SUCCEEDED"
          ]
        }
      },
      "orderHandler": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "orderHandler",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "IsBadOrder": [
            "SUCCEEDED"
          ]
        }
      },
      "OrderMsg": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "OrderMsg",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "orderHandler": [
            "SUCCEEDED"
          ]
        }
      },
      "RoutingInfo": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "RoutingInfo",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "OrderMsg": [
            "SUCCEEDED"
          ]
        }
      },
      "ReturnValue": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "ReturnValue",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "RoutingInfo": [
            "SUCCEEDED"
          ]
        }
      },
      "ParameterArray": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "ParameterArray",
              "type": "array",
              "value": []
            }
          ]
        },
        "runAfter": {
          "ReturnValue": [
            "SUCCEEDED"
          ]
        }
      },
      "MethodName": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "MethodName",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "ParameterArray": [
            "SUCCEEDED"
          ]
        }
      },
      "CalledObject": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "CalledObject",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "MethodName": [
            "SUCCEEDED"
          ]
        }
      },
      "Reason": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "Reason",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "CalledObject": [
            "SUCCEEDED"
          ]
        }
      },
      "ObjectType": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "ObjectType",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "Reason": [
            "SUCCEEDED"
          ]
        }
      },
      "XmlOrderMsg": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "XmlOrderMsg",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "ObjectType": [
            "SUCCEEDED"
          ]
        }
      },
      "BadXmlOrderMsg": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "BadXmlOrderMsg",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "XmlOrderMsg": [
            "SUCCEEDED"
          ]
        }
      },
      "OrderCorrelation": {
        "type": "Compose",
        "inputs": "@'// Unhandled shape type: CorrelationDeclaration'",
        "runAfter": {
          "BadXmlOrderMsg": [
            "SUCCEEDED"
          ]
        }
      },
      "Until": {
        "type": "Until",
        "expression": "@'!(!IsValid)'",
        "limit": {
          "count": 60,
          "timeout": "PT1H"
        },
        "actions": {
          "Call_Code_Scope": {
            "type": "Scope",
            "actions": {
              "Analyze_Order": {
                "type": "Compose",
                "inputs": "@'IsValid = orderHandler.Analyze(OrderMsg.CustNum, OrderMsg.OrderNum, OrderMsg.OrderTypeCode, OrderMsg.OrderSeqNum, System.Convert.ToDateTime(OrderMsg.OrderDate))'",
                "runAfter": {}
              },
              "Catch_Exception": {
                "type": "Scope",
                "actions": {
                  "Initial_Exception": {
                    "type": "Compose",
                    "inputs": "@'Ex = CodeEx;\r\nObjectType = orderHandler.GetType();\r\nCalledObject = orderHandler;\r\nReason = \"Analyze Failed\";\r\nMethodName = \"Analyze\";\r\nParameterArray = System.Array.CreateInstance(typeof(System.Object), 5);\r\nParameterArray.SetValue(OrderMsg.CustNum, 0);\r\nParameterArray.SetValue(OrderMsg.OrderNum, 1);\r\nParameterArray.SetValue(OrderMsg.OrderTypeCode, 2);\r\nParameterArray.SetValue(OrderMsg.OrderSeqNum, 3);\r\nParameterArray.SetValue(System.Convert.ToDateTime(OrderMsg.OrderDate), 4);\r\nReturnValue = null'",
                    "runAfter": {}
                  },
                  "Construct_XmlOrderMsg_01f2eb99": {
                    "type": "Compose",
                    "inputs": "@'XmlOrderMsg = OrderMsg'",
                    "runAfter": {
                      "Initial_Exception": [
                        "SUCCEEDED"
                      ]
                    }
                  },
                  "Call_Exception_Handler": {
                    "type": "Workflow",
                    "inputs": {
                      "host": {
                        "workflow": {
                          "id": "ExceptionHandlerOrch"
                        }
                      },
                      "body": {
                        "message": "@triggerBody()"
                      }
                    },
                    "runAfter": {
                      "Construct_XmlOrderMsg_01f2eb99": [
                        "SUCCEEDED"
                      ]
                    }
                  },
                  "Get_Result": {
                    "type": "Compose",
                    "inputs": "@'IsValid = (System.Boolean)ReturnValue'",
                    "runAfter": {
                      "Call_Exception_Handler": [
                        "SUCCEEDED"
                      ]
                    }
                  }
                },
                "runAfter": {
                  "Analyze_Order": [
                    "FAILED",
                    "TIMEDOUT",
                    "SKIPPED"
                  ]
                }
              }
            },
            "runAfter": {}
          },
          "Check_Validity_90e770f2": {
            "type": "If",
            "expression": "@'!IsValid'",
            "actions": {
              "Construct_BadXmlOrderMsg_da171d81": {
                "type": "Compose",
                "inputs": "@'BadXmlOrderMsg = OrderMsg'",
                "runAfter": {}
              },
              "Call_Bad_Order_Handler_d389dce3": {
                "type": "Workflow",
                "inputs": {
                  "host": {
                    "workflow": {
                      "id": "ErrorHandlerOrch"
                    }
                  },
                  "body": {
                    "message": "@triggerBody()"
                  }
                },
                "runAfter": {
                  "Construct_BadXmlOrderMsg_da171d81": [
                    "SUCCEEDED"
                  ]
                }
              },
              "Construct_OrderMsg_f8ff777a": {
                "type": "Compose",
                "inputs": "@'OrderMsg = FixedXmlOrderMsg'",
                "runAfter": {
                  "Call_Bad_Order_Handler_d389dce3": [
                    "SUCCEEDED"
                  ]
                }
              },
              "Call_Validate_2213af37": {
                "type": "Workflow",
                "inputs": {
                  "host": {
                    "workflow": {
                      "id": "Complete"
                    }
                  },
                  "body": {
                    "message": "@triggerBody()"
                  }
                },
                "runAfter": {
                  "Construct_OrderMsg_f8ff777a": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "else": {
              "actions": {}
            },
            "runAfter": {
              "Call_Code_Scope": [
                "SUCCEEDED"
              ]
            }
          }
        },
        "runAfter": {
          "OrderCorrelation": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "Until": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {},
    "metadata": {
      "detectedPatterns": [
        {
          "name": "Exception Handling & Compensation",
          "description": "Handle errors and perform compensating actions",
          "recommendation": "Use Scope action with Configure Run After for error handling"
        }
      ],
      "optimizationApplied": true,
      "generatedBy": "BizTalk to Logic Apps Refactoring Tool",
      "generatedAt": "2026-02-15T15:30:11.3231471Z"
    }
  }
}