BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/CableOrder2_workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "DefaultReceiveLocation": {
        "type": "Request",
        "kind": "Http"
      }
    },
    "actions": {
      "ServiceOrderActivityID": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "ServiceOrderActivityID",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {}
      },
      "CustomerOrderActivityID": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "CustomerOrderActivityID",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "ServiceOrderActivityID": [
            "SUCCEEDED"
          ]
        }
      },
      "routingInfo": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "routingInfo",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "CustomerOrderActivityID": [
            "SUCCEEDED"
          ]
        }
      },
      "orderHandler": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "orderHandler",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "routingInfo": [
            "SUCCEEDED"
          ]
        }
      },
      "configData": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "configData",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "orderHandler": [
            "SUCCEEDED"
          ]
        }
      },
      "ReturnValue": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "ReturnValue",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "configData": [
            "SUCCEEDED"
          ]
        }
      },
      "Reason": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "Reason",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "ReturnValue": [
            "SUCCEEDED"
          ]
        }
      },
      "ParameterArray": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "ParameterArray",
              "type": "array",
              "value": []
            }
          ]
        },
        "runAfter": {
          "Reason": [
            "SUCCEEDED"
          ]
        }
      },
      "MethodName": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "MethodName",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "ParameterArray": [
            "SUCCEEDED"
          ]
        }
      },
      "CalledObject": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "CalledObject",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "MethodName": [
            "SUCCEEDED"
          ]
        }
      },
      "ObjectType": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "ObjectType",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "CalledObject": [
            "SUCCEEDED"
          ]
        }
      },
      "XmlOrderMsg": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "XmlOrderMsg",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "ObjectType": [
            "SUCCEEDED"
          ]
        }
      },
      "OrderMsg": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "OrderMsg",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "XmlOrderMsg": [
            "SUCCEEDED"
          ]
        }
      },
      "CompleteOrderMsg": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "CompleteOrderMsg",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "OrderMsg": [
            "SUCCEEDED"
          ]
        }
      },
      "AckMsg": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "AckMsg",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "CompleteOrderMsg": [
            "SUCCEEDED"
          ]
        }
      },
      "CompletionMsg": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "CompletionMsg",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "AckMsg": [
            "SUCCEEDED"
          ]
        }
      },
      "TerminatedMsg": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "TerminatedMsg",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "CompletionMsg": [
            "SUCCEEDED"
          ]
        }
      },
      "Global_Scope": {
        "type": "Scope",
        "actions": {
          "OrderCorrelation": {
            "type": "Compose",
            "inputs": "@'// Unhandled shape type: CorrelationDeclaration'",
            "runAfter": {}
          },
          "Assign_Address": {
            "type": "Compose",
            "inputs": "@'StageCompletionPort(Microsoft.XLANGs.BaseTypes.Address) = OrderMgrMsg.RoutingPart.OrderMgrReturnAddress'",
            "runAfter": {
              "OrderCorrelation": [
                "SUCCEEDED"
              ]
            }
          },
          "Construct_Ack__OrderMsg_fe6211bd": {
            "type": "Scope",
            "actions": {
              "Assign_Ack": {
                "type": "Compose",
                "inputs": "@'Set message properties'",
                "runAfter": {}
              },
              "Get_OrderMsg": {
                "type": "Compose",
                "inputs": "@'OrderMsg = (System.Xml.XmlDocument)OrderMgrMsg.OrderPart'",
                "runAfter": {
                  "Assign_Ack": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {
              "Assign_Address": [
                "SUCCEEDED"
              ]
            }
          },
          "TRACE": {
            "type": "Compose",
            "inputs": "@'System.Diagnostics.Debug.WriteLine( \"\\n<CABLEORDER2>\\n\" );\r\nSystem.Diagnostics.Debug.WriteLine( \"   Req ID   : \" + OrderMsg.RequestID );\r\nSystem.Diagnostics.Debug.WriteLine( \"   Customer : \" + OrderMsg.CustNum );\r\nSystem.Diagnostics.Debug.WriteLine( \"   Order    : \" + OrderMsg.OrderNum );\r\nSystem.Diagnostics.Debug.WriteLine( \"   Sequence : \" + System.Convert.ToString( OrderMsg.OrderSeqNum ) );\r\nSystem.Diagnostics.Debug.WriteLine( \"\\n</CABLEORDER2>\\n\" )'",
            "runAfter": {
              "Construct_Ack__OrderMsg_fe6211bd": [
                "SUCCEEDED"
              ]
            }
          },
          "Respond": {
            "type": "Http",
            "inputs": {
              "method": "POST",
              "uri": "http://localhost/service",
              "body": "@triggerBody()",
              "headers": {
                "Content-Type": "application/json"
              }
            },
            "runAfter": {
              "TRACE": [
                "SUCCEEDED"
              ]
            }
          },
          "Save_RoutingInfo": {
            "type": "Compose",
            "inputs": "@'routingInfo = OrderMgrMsg.RoutingPart'",
            "runAfter": {
              "Respond": [
                "SUCCEEDED"
              ]
            }
          },
          "Business_Processing": {
            "type": "Scope",
            "actions": {
              "BAM_Continuation": {
                "type": "Compose",
                "inputs": "@'// [BAM] Continue [CustomerOrderRequest]\r\n\r\nCustomerOrderActivityID = Microsoft.Samples.BizTalk.SouthridgeVideo.ServiceLevelTracking.CustomerOrderRequest.ContinueCollecting(OrderMsg.RequestID);\r\n\r\n// [BAM] Continue [ServiceOrderRequest]\r\n\r\nServiceOrderActivityID = Microsoft.Samples.BizTalk.SouthridgeVideo.ServiceLevelTracking.ServiceOrderRequest.ContinueCollecting(OrderMsg.RequestID)'",
                "runAfter": {}
              },
              "Create_Order_Handler_Scope": {
                "type": "Scope",
                "actions": {
                  "Calling_Code_Scope": {
                    "type": "Scope",
                    "actions": {
                      "Get_Config_Data": {
                        "type": "Compose",
                        "inputs": "@'configData = Microsoft.Samples.BizTalk.SouthridgeVideo.Utilities.SsoConfigHelper.Singleton'",
                        "runAfter": {}
                      },
                      "Catch_Exception": {
                        "type": "Scope",
                        "actions": {
                          "Initial_Exception": {
                            "type": "Compose",
                            "inputs": "@'Ex = CodeEx;\r\nCalledObject = null;\r\nObjectType = System.Type.GetType(\"Microsoft.Samples.BizTalk.SouthridgeVideo.Utilities.SSOConfigHelper\");\r\nReason = \"Read SSO failed\";\r\nMethodName = \"Microsoft.Samples.BizTalk.SouthridgeVideo.Utilities.SSOConfigHelper.Singleton\";\r\nParameterArray = null;\r\nReturnValue = null'",
                            "runAfter": {}
                          },
                          "Construct_XmlOrderMsg_82a44e5f": {
                            "type": "Compose",
                            "inputs": "@'XmlOrderMsg = OrderMsg'",
                            "runAfter": {
                              "Initial_Exception": [
                                "SUCCEEDED"
                              ]
                            }
                          },
                          "Call_Exception_Handler": {
                            "type": "Workflow",
                            "inputs": {
                              "host": {
                                "workflow": {
                                  "id": "ExceptionHandlerOrch"
                                }
                              },
                              "body": {
                                "message": "@triggerBody()"
                              }
                            },
                            "runAfter": {
                              "Construct_XmlOrderMsg_82a44e5f": [
                                "SUCCEEDED"
                              ]
                            }
                          },
                          "Get_Config_Data_1": {
                            "type": "Compose",
                            "inputs": "@'configData = (Microsoft.Samples.BizTalk.SouthridgeVideo.Utilities.SsoConfigHelper)ReturnValue'",
                            "runAfter": {
                              "Call_Exception_Handler": [
                                "SUCCEEDED"
                              ]
                            }
                          }
                        },
                        "runAfter": {
                          "Get_Config_Data": [
                            "FAILED",
                            "TIMEDOUT",
                            "SKIPPED"
                          ]
                        }
                      }
                    },
                    "runAfter": {}
                  },
                  "Calling_Code_Scope_OrderHandler": {
                    "type": "Scope",
                    "actions": {
                      "Create_OrderHandler": {
                        "type": "Compose",
                        "inputs": "@'orderHandler = new Microsoft.Samples.BizTalk.SouthridgeVideo.CableProvisioningSystem.OrderHandlerWrapper( configData.CableProvisioningSystemLocation )'",
                        "runAfter": {}
                      },
                      "Catch_Exception_1": {
                        "type": "Scope",
                        "actions": {
                          "Initial_Exception_1": {
                            "type": "Compose",
                            "inputs": "@'Ex = CodeEx;\r\nCalledObject = null;\r\nObjectType = System.Type.GetType(\"Microsoft.Samples.BizTalk.SouthridgeVideo.CableProvisioningSystem.OrderHandlerWrapper\");\r\nReason = \"Construction Failed\";\r\nMethodName = System.String.Empty;\r\nParameterArray = System.Array.CreateInstance(typeof(System.Object), 1);\r\nParameterArray.SetValue(configData.CableProvisioningSystemLocation, 0);\r\nReturnValue = null'",
                            "runAfter": {}
                          },
                          "Construct_XmlOrderMsg_9312eb23": {
                            "type": "Compose",
                            "inputs": "@'XmlOrderMsg = OrderMsg'",
                            "runAfter": {
                              "Initial_Exception_1": [
                                "SUCCEEDED"
                              ]
                            }
                          },
                          "Call_Exception_Handler_1": {
                            "type": "Workflow",
                            "inputs": {
                              "host": {
                                "workflow": {
                                  "id": "ExceptionHandlerOrch"
                                }
                              },
                              "body": {
                                "message": "@triggerBody()"
                              }
                            },
                            "runAfter": {
                              "Construct_XmlOrderMsg_9312eb23": [
                                "SUCCEEDED"
                              ]
                            }
                          },
                          "Get_OrderHandler": {
                            "type": "Compose",
                            "inputs": "@'orderHandler = (Microsoft.Samples.BizTalk.SouthridgeVideo.CableProvisioningSystem.OrderHandlerWrapper)ReturnValue'",
                            "runAfter": {
                              "Call_Exception_Handler_1": [
                                "SUCCEEDED"
                              ]
                            }
                          }
                        },
                        "runAfter": {
                          "Create_OrderHandler": [
                            "FAILED",
                            "TIMEDOUT",
                            "SKIPPED"
                          ]
                        }
                      }
                    },
                    "runAfter": {
                      "Calling_Code_Scope": [
                        "SUCCEEDED"
                      ]
                    }
                  }
                },
                "runAfter": {
                  "BAM_Continuation": [
                    "SUCCEEDED"
                  ]
                }
              },
              "Check_Interrupt": {
                "type": "Workflow",
                "inputs": {
                  "host": {
                    "workflow": {
                      "id": "CheckInterruptOrch"
                    }
                  },
                  "body": {
                    "message": "@triggerBody()"
                  }
                },
                "runAfter": {
                  "Create_Order_Handler_Scope": [
                    "SUCCEEDED"
                  ]
                }
              },
              "Call_Complete": {
                "type": "Workflow",
                "inputs": {
                  "host": {
                    "workflow": {
                      "id": "Complete"
                    }
                  },
                  "body": {
                    "message": "@triggerBody()"
                  }
                },
                "runAfter": {
                  "Check_Interrupt": [
                    "SUCCEEDED"
                  ]
                }
              },
              "BAM_Activated": {
                "type": "Compose",
                "inputs": "@'// [BAM] Update Activity [ServiceorderRequest] with [CompletedService]\r\n\r\nMicrosoft.Samples.BizTalk.SouthridgeVideo.ServiceLevelTracking.ServiceOrderRequest.CompletedService( ServiceOrderActivityID )'",
                "runAfter": {
                  "Call_Complete": [
                    "SUCCEEDED"
                  ]
                }
              },
              "Construct_Completion_Msgs_7e98fd1d": {
                "type": "Scope",
                "actions": {
                  "Update_Status": {
                    "type": "Compose",
                    "inputs": "@'Set message properties'",
                    "runAfter": {}
                  },
                  "Assign_Parts": {
                    "type": "Compose",
                    "inputs": "@'Set message properties'",
                    "runAfter": {
                      "Update_Status": [
                        "SUCCEEDED"
                      ]
                    }
                  }
                },
                "runAfter": {
                  "BAM_Activated": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {
              "Save_RoutingInfo": [
                "SUCCEEDED"
              ]
            }
          },
          "Efficient_Send_Scope": {
            "type": "Scope",
            "actions": {
              "Business_Processing_1": {
                "type": "Scope",
                "actions": {
                  "Update_History": {
                    "type": "Http",
                    "inputs": {
                      "method": "POST",
                      "uri": "http://localhost/service",
                      "body": "@triggerBody()",
                      "headers": {
                        "Content-Type": "application/json"
                      }
                    },
                    "runAfter": {}
                  }
                },
                "runAfter": {}
              },
              "Part2_Complete": {
                "type": "Http",
                "inputs": {
                  "method": "POST",
                  "uri": "http://localhost/service",
                  "body": "@triggerBody()",
                  "headers": {
                    "Content-Type": "application/json"
                  }
                },
                "runAfter": {
                  "Business_Processing_1": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {
              "Business_Processing": [
                "SUCCEEDED"
              ]
            }
          },
          "BAM_Upd_History": {
            "type": "Compose",
            "inputs": "@'// [BAM] Update Activity [Customer Order Request] with [Update History DB]\r\n\r\nMicrosoft.Samples.BizTalk.SouthridgeVideo.ServiceLevelTracking.CustomerOrderRequest.UpdatedHistory( CustomerOrderActivityID )'",
            "runAfter": {
              "Efficient_Send_Scope": [
                "SUCCEEDED"
              ]
            }
          },
          "BAM_End_Order": {
            "type": "Compose",
            "inputs": "@'// [BAM] Update Activity [ServiceorderRequest] with [EndOrder]\r\n\r\nMicrosoft.Samples.BizTalk.SouthridgeVideo.ServiceLevelTracking.ServiceOrderRequest.EndOrder( ServiceOrderActivityID )'",
            "runAfter": {
              "BAM_Upd_History": [
                "SUCCEEDED"
              ]
            }
          },
          "BAM_End": {
            "type": "Compose",
            "inputs": "@'// [BAM] End collecting BAM data [Customer Order Request]\r\n\r\nMicrosoft.Samples.BizTalk.SouthridgeVideo.ServiceLevelTracking.CustomerOrderRequest.EndCollecting( CustomerOrderActivityID );\r\n\r\n\r\n// [BAM] End collecting BAM data [ServiceOrderRequest]\r\n\r\nMicrosoft.Samples.BizTalk.SouthridgeVideo.ServiceLevelTracking.ServiceOrderRequest.EndCollecting( ServiceOrderActivityID )'",
            "runAfter": {
              "BAM_End_Order": [
                "SUCCEEDED"
              ]
            }
          },
          "Catch_Interrupt_Exception": {
            "type": "Scope",
            "actions": {
              "Log_Error": {
                "type": "Compose",
                "inputs": "@'PostWarning( \"CableOrder2 terminated because: Interrupted\" )'",
                "runAfter": {}
              },
              "BAM_Terminate": {
                "type": "Compose",
                "inputs": "@'// [BAM] Update Activity [ServiceorderRequest] with [Terminated]\r\n\r\nMicrosoft.Samples.BizTalk.SouthridgeVideo.ServiceLevelTracking.ServiceOrderRequest.Terminated( ServiceOrderActivityID );\r\n\r\n// [BAM] Update Activity [Service Order Request] with [Error]\r\n\r\nMicrosoft.Samples.BizTalk.SouthridgeVideo.ServiceLevelTracking.ServiceOrderRequest.ErrorOccurred( ServiceOrderActivityID, \"CableOrder2 Interrupted\" )'",
                "runAfter": {
                  "Log_Error": [
                    "SUCCEEDED"
                  ]
                }
              },
              "BAM_End_1": {
                "type": "Compose",
                "inputs": "@'// [BAM] End collecting BAM data [Customer Order Request]\r\n\r\nMicrosoft.Samples.BizTalk.SouthridgeVideo.ServiceLevelTracking.CustomerOrderRequest.EndCollecting( CustomerOrderActivityID );\r\n\r\n\r\n// [BAM] End collecting BAM data [ServiceOrderRequest]\r\n\r\nMicrosoft.Samples.BizTalk.SouthridgeVideo.ServiceLevelTracking.ServiceOrderRequest.EndCollecting( ServiceOrderActivityID )'",
                "runAfter": {
                  "BAM_Terminate": [
                    "SUCCEEDED"
                  ]
                }
              },
              "Terminate": {
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Failed",
                  "runError": {
                    "code": "Terminated",
                    "message": "\"Interrupted\";\r\n"
                  }
                },
                "runAfter": {
                  "BAM_End_1": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {
              "BAM_End": [
                "FAILED",
                "TIMEDOUT",
                "SKIPPED"
              ]
            }
          },
          "Catch_Exceptions": {
            "type": "Scope",
            "actions": {
              "Log_Error_1": {
                "type": "Compose",
                "inputs": "@concat('PostError( \"CableOrder2 terminated because: \"', 'Exception message')",
                "runAfter": {}
              },
              "BAM_Terminate_1": {
                "type": "Compose",
                "inputs": "@'// [BAM] Update Activity [ServiceorderRequest] with [Terminated]\r\n\r\nMicrosoft.Samples.BizTalk.SouthridgeVideo.ServiceLevelTracking.ServiceOrderRequest.Terminated( ServiceOrderActivityID );\r\n\r\n// [BAM] Update Activity [Customer Order Request] with [Error]\r\n\r\nMicrosoft.Samples.BizTalk.SouthridgeVideo.ServiceLevelTracking.CustomerOrderRequest.ErrorOccurred( CustomerOrderActivityID, globalEx.Message );\r\n\r\n// [BAM] Update Activity [Service Order Request] with [Error]\r\n\r\nMicrosoft.Samples.BizTalk.SouthridgeVideo.ServiceLevelTracking.ServiceOrderRequest.ErrorOccurred( ServiceOrderActivityID, globalEx.Message )'",
                "runAfter": {
                  "Log_Error_1": [
                    "SUCCEEDED"
                  ]
                }
              },
              "BAM_End_2": {
                "type": "Compose",
                "inputs": "@'// [BAM] End collecting BAM data [Customer Order Request]\r\n\r\nMicrosoft.Samples.BizTalk.SouthridgeVideo.ServiceLevelTracking.CustomerOrderRequest.EndCollecting( CustomerOrderActivityID );\r\n\r\n\r\n// [BAM] End collecting BAM data [ServiceOrderRequest]\r\n\r\nMicrosoft.Samples.BizTalk.SouthridgeVideo.ServiceLevelTracking.ServiceOrderRequest.EndCollecting( ServiceOrderActivityID )'",
                "runAfter": {
                  "BAM_Terminate_1": [
                    "SUCCEEDED"
                  ]
                }
              },
              "Construct_TerminatedMsg_9b075f8b": {
                "type": "Compose",
                "inputs": "@'TerminatedMsg = new Microsoft.Samples.BizTalk.SouthridgeVideo.SchemaClasses.Terminated();\r\nTerminatedMsg.CustomerID = OrderMgrMsg.RoutingPart.CustomerID;\r\nTerminatedMsg.OrderID = OrderMgrMsg.RoutingPart.OrderID;\r\nTerminatedMsg.Status = globalEx.Message'",
                "runAfter": {
                  "BAM_End_2": [
                    "SUCCEEDED"
                  ]
                }
              },
              "Send_TerminatedMsg": {
                "type": "Http",
                "inputs": {
                  "method": "POST",
                  "uri": "http://localhost/service",
                  "body": "@triggerBody()",
                  "headers": {
                    "Content-Type": "application/json"
                  }
                },
                "runAfter": {
                  "Construct_TerminatedMsg_9b075f8b": [
                    "SUCCEEDED"
                  ]
                }
              },
              "Terminate_1": {
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Failed",
                  "runError": {
                    "code": "Terminated",
                    "message": "\"Exception thrown in CableOrder2: \" + globalEx.Message;"
                  }
                },
                "runAfter": {
                  "Send_TerminatedMsg": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {
              "BAM_End": [
                "FAILED",
                "TIMEDOUT",
                "SKIPPED"
              ]
            }
          }
        },
        "runAfter": {
          "TerminatedMsg": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "Global_Scope": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {},
    "metadata": {
      "detectedPatterns": [
        {
          "name": "Request-Reply (Synchronous)",
          "description": "Synchronous request-response pattern",
          "recommendation": "Use Request trigger with Response action (built-in pattern)"
        },
        {
          "name": "Exception Handling & Compensation",
          "description": "Handle errors and perform compensating actions",
          "recommendation": "Use Scope action with Configure Run After for error handling"
        }
      ],
      "optimizationApplied": true,
      "generatedBy": "BizTalk to Logic Apps Refactoring Tool",
      "generatedAt": "2026-02-15T15:30:11.4886203Z"
    }
  }
}