BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/CMP.workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "DefaultReceiveLocation": {
        "type": "Request",
        "kind": "Http"
      }
    },
    "actions": {
      "SendPipeInput": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "SendPipeInput",
              "type": "array",
              "value": []
            }
          ]
        },
        "runAfter": {}
      },
      "RcvPipeOutput": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "RcvPipeOutput",
              "type": "array",
              "value": []
            }
          ]
        },
        "runAfter": {
          "SendPipeInput": [
            "SUCCEEDED"
          ]
        }
      },
      "TmpMessageOut": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "TmpMessageOut",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "RcvPipeOutput": [
            "SUCCEEDED"
          ]
        }
      },
      "TmpMessageIn": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "TmpMessageIn",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "TmpMessageOut": [
            "SUCCEEDED"
          ]
        }
      },
      "FailedInterchange": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "FailedInterchange",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "TmpMessageIn": [
            "SUCCEEDED"
          ]
        }
      },
      "OutputInterchange": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "OutputInterchange",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "FailedInterchange": [
            "SUCCEEDED"
          ]
        }
      },
      "Scope_MapInterchange": {
        "type": "Scope",
        "actions": {
          "Scope_ExecuteReceivePipeline": {
            "type": "Scope",
            "actions": {
              "ExecuteRcvPipe": {
                "type": "Compose",
                "inputs": "@'RcvPipeOutput = Microsoft.XLANGs.Pipeline.XLANGPipelineManager.ExecuteReceivePipeline(typeof(CMP.PipelinesAndSchemas.FFReceivePipeline), InputInterchange)'",
                "runAfter": {}
              },
              "CatchPipelineException": {
                "type": "Scope",
                "actions": {
                  "ConstructFailedInterchangeMessage_cf686824": {
                    "type": "Compose",
                    "inputs": "@'FailedInterchange = InputInterchange;\r\nFailedInterchange(CMP.PipelinesAndSchemas.ErrorDescription) = pEx.Message'",
                    "runAfter": {}
                  },
                  "Send_FailedInterchange": {
                    "type": "Http",
                    "inputs": {
                      "method": "POST",
                      "uri": "http://localhost/service",
                      "body": "@triggerBody()",
                      "headers": {
                        "Content-Type": "application/json"
                      }
                    },
                    "runAfter": {
                      "ConstructFailedInterchangeMessage_cf686824": [
                        "SUCCEEDED"
                      ]
                    }
                  },
                  "TerminateOrchestrationOnRcv": {
                    "type": "Terminate",
                    "inputs": {
                      "runStatus": "Failed",
                      "runError": {
                        "code": "Terminated",
                        "message": "\"Receive pipeline execution failed with the following error:\" + pEx.Message;"
                      }
                    },
                    "runAfter": {
                      "Send_FailedInterchange": [
                        "SUCCEEDED"
                      ]
                    }
                  }
                },
                "runAfter": {
                  "ExecuteRcvPipe": [
                    "FAILED",
                    "TIMEDOUT",
                    "SKIPPED"
                  ]
                }
              }
            },
            "runAfter": {}
          },
          "Until": {
            "type": "Until",
            "expression": "@'!(RcvPipeOutput.MoveNext())'",
            "limit": {
              "count": 60,
              "timeout": "PT1H"
            },
            "actions": {
              "ConstructTmpMessageIn_ee062bff": {
                "type": "Compose",
                "inputs": "@'TmpMessageIn = null;\r\nRcvPipeOutput.GetCurrent(TmpMessageIn)'",
                "runAfter": {}
              },
              "ConstructTmpMessageOut_ea94f894": {
                "type": "Xslt",
                "inputs": {
                  "content": "@triggerBody()",
                  "map": {
                    "name": "PO2Invoice",
                    "type": "Xslt"
                  },
                  "transformOptions": "ApplyXsltTemplates"
                },
                "runAfter": {
                  "ConstructTmpMessageIn_ee062bff": [
                    "SUCCEEDED"
                  ]
                }
              },
              "AddMessageToBatch": {
                "type": "Compose",
                "inputs": "@union(variables('SendPipeInput'), createArray(variables('TmpMessageOut')))",
                "runAfter": {
                  "ConstructTmpMessageOut_ea94f894": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {
              "Scope_ExecuteReceivePipeline": [
                "SUCCEEDED"
              ]
            }
          }
        },
        "runAfter": {
          "OutputInterchange": [
            "SUCCEEDED"
          ]
        }
      },
      "Scope_ExecuteSendPipeline": {
        "type": "Scope",
        "actions": {
          "ConstructOutputInterchange_876bd879": {
            "type": "Compose",
            "inputs": "@'OutputInterchange = null;\r\nMicrosoft.XLANGs.Pipeline.XLANGPipelineManager.ExecuteSendPipeline(typeof(CMP.PipelinesAndSchemas.FFSendPipeline), SendPipeInput, OutputInterchange)'",
            "runAfter": {}
          },
          "Send_OutputInterchange": {
            "type": "Http",
            "inputs": {
              "method": "POST",
              "uri": "http://localhost/service",
              "body": "@triggerBody()",
              "headers": {
                "Content-Type": "application/json"
              }
            },
            "runAfter": {
              "ConstructOutputInterchange_876bd879": [
                "SUCCEEDED"
              ]
            }
          },
          "CatchPipelineException_1": {
            "type": "Scope",
            "actions": {
              "ConstructFailedInterchangeMessage_09f5dae4": {
                "type": "Compose",
                "inputs": "@'FailedInterchange = InputInterchange;\r\nFailedInterchange(CMP.PipelinesAndSchemas.ErrorDescription) = pEx.Message'",
                "runAfter": {}
              },
              "Send_FailedMessage": {
                "type": "Http",
                "inputs": {
                  "method": "POST",
                  "uri": "http://localhost/service",
                  "body": "@triggerBody()",
                  "headers": {
                    "Content-Type": "application/json"
                  }
                },
                "runAfter": {
                  "ConstructFailedInterchangeMessage_09f5dae4": [
                    "SUCCEEDED"
                  ]
                }
              },
              "Terminate_Orchestration": {
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Failed",
                  "runError": {
                    "code": "Terminated",
                    "message": "\"Send pipeline execution failed with the following error:\" + pEx.Message;"
                  }
                },
                "runAfter": {
                  "Send_FailedMessage": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {
              "Send_OutputInterchange": [
                "FAILED",
                "TIMEDOUT",
                "SKIPPED"
              ]
            }
          }
        },
        "runAfter": {
          "Scope_MapInterchange": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "Scope_ExecuteSendPipeline": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {}
  }
}