BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/ConfirmOrderWithBroker_workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "DefaultReceiveLocation": {
        "type": "Request",
        "kind": "Http"
      }
    },
    "actions": {
      "bFailed": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "bFailed",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {}
      },
      "brokerID": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "brokerID",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "bFailed": [
            "SUCCEEDED"
          ]
        }
      },
      "OrderMessage": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "OrderMessage",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "brokerID": [
            "SUCCEEDED"
          ]
        }
      },
      "destination": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "destination",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "OrderMessage": [
            "SUCCEEDED"
          ]
        }
      },
      "Broker": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "Broker",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "destination": [
            "SUCCEEDED"
          ]
        }
      },
      "Send_Partial_order_to_partner": {
        "type": "Scope",
        "actions": {
          "InitializeBrokerRoleLink": {
            "type": "Compose",
            "inputs": "@'BrokerRoleLink(Microsoft.XLANGs.BaseTypes.DestinationParty) = new Microsoft.XLANGs.BaseTypes.Party(brokerID,\"OrganizationName\")'",
            "runAfter": {}
          },
          "SendOrderDetails": {
            "type": "Http",
            "inputs": {
              "method": "POST",
              "uri": "http://localhost/service",
              "body": "@triggerBody()",
              "headers": {
                "Content-Type": "application/json"
              }
            },
            "runAfter": {
              "InitializeBrokerRoleLink": [
                "SUCCEEDED"
              ]
            }
          },
          "FailedToSend": {
            "type": "Scope",
            "actions": {
              "bFailed__true": {
                "type": "Compose",
                "inputs": "@'bFailed = true'",
                "runAfter": {}
              },
              "Notify_Admin": {
                "type": "Compose",
                "inputs": "@'System.Diagnostics.EventLog.WriteEntry(\"Litware Scenario\", \"Unable to initialize rolelink OR party not enlisted  for Broker = \" + brokerID + \". Exception ocurred: \"+ exp.Message, System.Diagnostics.EventLogEntryType.Error)'",
                "runAfter": {
                  "bFailed__true": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {
              "SendOrderDetails": [
                "FAILED",
                "TIMEDOUT",
                "SKIPPED"
              ]
            }
          }
        },
        "runAfter": {
          "Broker": [
            "SUCCEEDED"
          ]
        }
      },
      "GotEmail_438a2b29": {
        "type": "If",
        "expression": "@and(not(equals(null, variables('destination'))), equals(false, variables('bFailed')))",
        "actions": {
          "IntializeSendPort_9b95ae86": {
            "type": "Compose",
            "inputs": "@'SendBrokerEmail(Microsoft.XLANGs.BaseTypes.Address) = destination'",
            "runAfter": {}
          },
          "Send_Order_by_Mail_9337532d": {
            "type": "Http",
            "inputs": {
              "method": "POST",
              "uri": "http://localhost/service",
              "body": "@triggerBody()",
              "headers": {
                "Content-Type": "application/json"
              }
            },
            "runAfter": {
              "IntializeSendPort_9b95ae86": [
                "SUCCEEDED"
              ]
            }
          }
        },
        "else": {
          "actions": {}
        },
        "runAfter": {
          "Send_Partial_order_to_partner": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "GotEmail_438a2b29": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {},
    "metadata": {
      "detectedPatterns": [
        {
          "name": "Content-Based Router",
          "description": "Route messages to different destinations based on content",
          "recommendation": "Use Switch action or simplified If conditions with dynamic connectors"
        },
        {
          "name": "Exception Handling & Compensation",
          "description": "Handle errors and perform compensating actions",
          "recommendation": "Use Scope action with Configure Run After for error handling"
        }
      ],
      "optimizationApplied": true,
      "generatedBy": "BizTalk to Logic Apps Refactoring Tool",
      "generatedAt": "2026-02-15T15:30:11.5998572Z"
    }
  }
}