BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/CustomerServiceReceiveSend_workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "DefaultReceiveLocation": {
        "type": "Request",
        "kind": "Http"
      }
    },
    "actions": {
      "transport": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "transport",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {}
      },
      "isMQSeries": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "isMQSeries",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "transport": [
            "SUCCEEDED"
          ]
        }
      },
      "CustomerServiceResponse2": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "CustomerServiceResponse2",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "isMQSeries": [
            "SUCCEEDED"
          ]
        }
      },
      "Correlation": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "Correlation",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "CustomerServiceResponse2": [
            "SUCCEEDED"
          ]
        }
      },
      "ProcessRequest": {
        "type": "Workflow",
        "inputs": {
          "host": {
            "workflow": {
              "id": "CustomerService"
            }
          },
          "body": {
            "message": "@triggerBody()"
          }
        },
        "runAfter": {
          "Correlation": [
            "SUCCEEDED"
          ]
        }
      },
      "IdentifyMQSeriesMessage": {
        "type": "Compose",
        "inputs": "@'// Identify if the incoming message is coming via the MQ Series transport\r\n\r\ntransport = CustomerServiceRequest(BTS.InboundTransportType);\r\nisMQSeries = transport.IndexOf(\"MQS\") != -1;\r\n\r\n//System.Diagnostics.Trace.Write(\"Transport = \" + transport)'",
        "runAfter": {
          "ProcessRequest": [
            "SUCCEEDED"
          ]
        }
      },
      "Decide_1_bb4a50a4": {
        "type": "If",
        "expression": "@variables('isMQSeries')",
        "actions": {
          "ConstructCorrelatedResponse_4d43aa1f": {
            "type": "Compose",
            "inputs": "@'// For messages received via MQ Series transport, need to correlate the response to the request received\r\n// This is standard MQ Series practice\r\n\r\nCustomerServiceResponse2 = CustomerServiceResponse;\r\nCustomerServiceResponse2(MQSeries.MQMD_CorrelId) = CustomerServiceRequest (MQSeries.MQMD_MsgId);\r\n\r\n//System.Diagnostics.Trace.Write(\"Request Messge ID = \" + CustomerServiceRequest (MQSeries.MQMD_MsgId));\r\n//System.Diagnostics.Trace.Write(\"Response Correlation = \" + CustomerServiceResponse2(MQSeries.MQMD_CorrelId))'",
            "runAfter": {}
          }
        },
        "else": {
          "actions": {
            "ConstructCopiedResponse_d06d63d8": {
              "type": "Compose",
              "inputs": "@'CustomerServiceResponse2 = CustomerServiceResponse'",
              "runAfter": {}
            }
          }
        },
        "runAfter": {
          "IdentifyMQSeriesMessage": [
            "SUCCEEDED"
          ]
        }
      },
      "SendCustomerServiceResponse": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "http://localhost/service",
          "body": "@triggerBody()",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "runAfter": {
          "Decide_1_bb4a50a4": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "SendCustomerServiceResponse": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {}
  }
}