BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/CustomerServiceNativeRequestResponse (45)_workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "DefaultReceiveLocation": {
        "type": "Request",
        "kind": "Http"
      }
    },
    "actions": {
      "Process_Request": {
        "type": "Workflow",
        "inputs": {
          "host": {
            "workflow": {
              "id": "CustomerService"
            }
          },
          "body": {
            "message": "@triggerBody()"
          }
        },
        "runAfter": {}
      },
      "SendCustomerServiceResponse": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "http://localhost/service",
          "body": "@triggerBody()",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "runAfter": {
          "Process_Request": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "SendCustomerServiceResponse": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {},
    "metadata": {
      "detectedPatterns": [
        {
          "name": "Request-Reply (Synchronous)",
          "description": "Synchronous request-response pattern",
          "recommendation": "Use Request trigger with Response action (built-in pattern)"
        }
      ],
      "optimizationApplied": true,
      "generatedBy": "BizTalk to Logic Apps Refactoring Tool",
      "generatedAt": "2026-02-15T15:30:11.7930625Z"
    }
  }
}