BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/CustomerService (46).workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "When_called_from_parent_workflow": {
        "type": "Request",
        "kind": "Http",
        "description": "Migrated from BizTalk WCF endpoint - BizTalk Adapter: HTTP",
        "metadata": {
          "biztalkTransportType": "HTTP"
        }
      }
    },
    "actions": {
      "customerName": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "customerName",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {}
      },
      "zipCode": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "zipCode",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "customerName": [
            "SUCCEEDED"
          ]
        }
      },
      "RequestIsValid": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "RequestIsValid",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "zipCode": [
            "SUCCEEDED"
          ]
        }
      },
      "errorLastPayments": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "errorLastPayments",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "RequestIsValid": [
            "SUCCEEDED"
          ]
        }
      },
      "errorPendingTransactions": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "errorPendingTransactions",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "errorLastPayments": [
            "SUCCEEDED"
          ]
        }
      },
      "errorCreditLimit": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "errorCreditLimit",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "errorPendingTransactions": [
            "SUCCEEDED"
          ]
        }
      },
      "beginCreditLimitTime": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "beginCreditLimitTime",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "errorCreditLimit": [
            "SUCCEEDED"
          ]
        }
      },
      "endCreditLimitTime": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "endCreditLimitTime",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "beginCreditLimitTime": [
            "SUCCEEDED"
          ]
        }
      },
      "beginLastPaymentTime": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "beginLastPaymentTime",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "endCreditLimitTime": [
            "SUCCEEDED"
          ]
        }
      },
      "endLastPaymentTime": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "endLastPaymentTime",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "beginLastPaymentTime": [
            "SUCCEEDED"
          ]
        }
      },
      "beginPendingTransTime": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "beginPendingTransTime",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "endLastPaymentTime": [
            "SUCCEEDED"
          ]
        }
      },
      "endPendingTransTime": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "endPendingTransTime",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "beginPendingTransTime": [
            "SUCCEEDED"
          ]
        }
      },
      "creditLimitDuration": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "creditLimitDuration",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "endPendingTransTime": [
            "SUCCEEDED"
          ]
        }
      },
      "lastPaymentDuration": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "lastPaymentDuration",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "creditLimitDuration": [
            "SUCCEEDED"
          ]
        }
      },
      "pendingTransDuration": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "pendingTransDuration",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "lastPaymentDuration": [
            "SUCCEEDED"
          ]
        }
      },
      "activityID": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "activityID",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "pendingTransDuration": [
            "SUCCEEDED"
          ]
        }
      },
      "beginTime": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "beginTime",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "activityID": [
            "SUCCEEDED"
          ]
        }
      },
      "endTime": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "endTime",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "beginTime": [
            "SUCCEEDED"
          ]
        }
      },
      "timeTaken": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "timeTaken",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "endTime": [
            "SUCCEEDED"
          ]
        }
      },
      "sapReturnCode": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "sapReturnCode",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "timeTaken": [
            "SUCCEEDED"
          ]
        }
      },
      "accountNumber": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "accountNumber",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "sapReturnCode": [
            "SUCCEEDED"
          ]
        }
      },
      "CustomerServiceRequest": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "CustomerServiceRequest",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "accountNumber": [
            "SUCCEEDED"
          ]
        }
      },
      "CustomerServiceResponse": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "CustomerServiceResponse",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "CustomerServiceRequest": [
            "SUCCEEDED"
          ]
        }
      },
      "sendPipelineInputMessages": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "sendPipelineInputMessages",
              "type": "array",
              "value": []
            }
          ]
        },
        "runAfter": {
          "CustomerServiceResponse": [
            "SUCCEEDED"
          ]
        }
      },
      "DataElementName": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "DataElementName",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "sendPipelineInputMessages": [
            "SUCCEEDED"
          ]
        }
      },
      "CreditLimitResponse": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "CreditLimitResponse",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "DataElementName": [
            "SUCCEEDED"
          ]
        }
      },
      "xd1": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "xd1",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "CreditLimitResponse": [
            "SUCCEEDED"
          ]
        }
      },
      "LastPaymentRequestAfterSendPipeline": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "LastPaymentRequestAfterSendPipeline",
              "type": "array",
              "value": []
            }
          ]
        },
        "runAfter": {
          "xd1": [
            "SUCCEEDED"
          ]
        }
      },
      "format": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "format",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "LastPaymentRequestAfterSendPipeline": [
            "SUCCEEDED"
          ]
        }
      },
      "LastPaymentResponseBeforeReceivePipeline": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "LastPaymentResponseBeforeReceivePipeline",
              "type": "array",
              "value": []
            }
          ]
        },
        "runAfter": {
          "format": [
            "SUCCEEDED"
          ]
        }
      },
      "LastPaymentResponse": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "LastPaymentResponse",
              "type": "array",
              "value": []
            }
          ]
        },
        "runAfter": {
          "LastPaymentResponseBeforeReceivePipeline": [
            "SUCCEEDED"
          ]
        }
      },
      "PendingTransactionsWSResponse": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "PendingTransactionsWSResponse",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "LastPaymentResponse": [
            "SUCCEEDED"
          ]
        }
      },
      "HandleExceptions": {
        "type": "Scope",
        "actions": {
          "BeginActivity": {
            "type": "Compose",
            "inputs": "@'// Begin the BAM activity\r\n\r\nactivityID = Microsoft.Samples.BizTalk.WoodgroveBank.ServiceLevelTracking.ServiceLevelTracking.BeginRequest(CustomerServiceRequest.RequestSource, CustomerServiceRequest.RequestType);\r\n\r\n// Save starting time for later computing response times...\r\nbeginTime = System.DateTime.Now;\r\n\r\n// Request Received Milestone\r\nMicrosoft.Samples.BizTalk.WoodgroveBank.ServiceLevelTracking.ServiceLevelTracking.TrackRequestReceived(activityID)'",
            "runAfter": {}
          },
          "ExtractCustomerName": {
            "type": "Compose",
            "inputs": "@'// Validate the input request based on the contents of the AuthenticationInfo element.\r\n// The AuthenticationInfo elements contains name/value pairs for authenticating the customer\r\n// We must either have a ZipCode or a CustomerName to declare that this a valid request.\r\n// Validating the message based on the contents of the request is done in one or more\r\n// of the back end systems...\r\n\r\ncustomerName  = xpath(CustomerServiceRequest, \r\n\"string(/*[local-name()=''CustomerServiceRequest'']/*[local-name()=''Body'']/*[local-name()=''AuthenticationInfo''][DataElementName=''CustomerName'']/*[local-name()=''DataElementValue''])\")'",
            "runAfter": {
              "BeginActivity": [
                "SUCCEEDED"
              ]
            }
          },
          "ExtractZipCode": {
            "type": "Compose",
            "inputs": "@'//Get the zipCode out of the message...\r\n\r\nzipCode = xpath(CustomerServiceRequest, \r\n\"string(/*[local-name()=''CustomerServiceRequest'']/*[local-name()=''Body'']/*[local-name()=''AuthenticationInfo''][DataElementName=''ZipCode'']/*[local-name()=''DataElementValue''])\")'",
            "runAfter": {
              "ExtractCustomerName": [
                "SUCCEEDED"
              ]
            }
          },
          "ExtractAccountNumber": {
            "type": "Compose",
            "inputs": "@'//Get the Account Number out of the message...\r\n\r\naccountNumber = CustomerServiceRequest.Body.AccountNumber'",
            "runAfter": {
              "ExtractZipCode": [
                "SUCCEEDED"
              ]
            }
          },
          "ValidateRequest": {
            "type": "Compose",
            "inputs": "@'// One of the authentication values must be there in the message in order to proceed\r\n// And the account number must be there also.\r\n// And the account number must be valid...\r\nRequestIsValid = (zipCode != \"\" || customerName != \"\") && \r\n                    accountNumber != \"\" &&\r\n                    Microsoft.Samples.BizTalk.WoodgroveBank.Utilities.CustomerServiceHelper.IsAccountNumberValid(accountNumber)'",
            "runAfter": {
              "ExtractAccountNumber": [
                "SUCCEEDED"
              ]
            }
          },
          "IsRequestValid_a906930a": {
            "type": "If",
            "expression": "@variables('RequestIsValid')",
            "actions": {
              "ConstructCreditLimitRequest_e5169b60": {
                "type": "Xslt",
                "inputs": {
                  "content": "@triggerBody()",
                  "map": {
                    "name": "CustomerServiceRequest_To_CreditLimiRequest",
                    "type": "Xslt"
                  },
                  "transformOptions": "ApplyXsltTemplates"
                },
                "runAfter": {}
              },
              "AssignBeginTime": {
                "type": "Compose",
                "inputs": "@'beginCreditLimitTime = System.DateTime.Now'",
                "runAfter": {
                  "ConstructCreditLimitRequest_e5169b60": [
                    "SUCCEEDED"
                  ]
                }
              },
              "SAPTimeoutDetectionScope": {
                "type": "Scope",
                "actions": {
                  "GetCreditLimitResponseInline_e8d80a59": {
                    "type": "Compose",
                    "inputs": "@'CreditLimitResponse = Microsoft.Samples.BizTalk.WoodgroveBank.StubSapCall.StubSapCallHelper.GetAccountDetails(CreditLimitRequest)'",
                    "runAfter": {}
                  },
                  "ExamineForError": {
                    "type": "Compose",
                    "inputs": "@'// Examine the SAP return code\r\n\r\nsapReturnCode = (System.String) xpath(CreditLimitResponse, \r\n\"string(/*[local-name()=''BAPI_BANKACCT_GET_DETAIL_Response'']/*[local-name()=''E_RC''])\");\r\n\r\nerrorCreditLimit = sapReturnCode != \"\"'",
                    "runAfter": {
                      "GetCreditLimitResponseInline_e8d80a59": [
                        "SUCCEEDED"
                      ]
                    }
                  },
                  "SAPTimeoutHandler": {
                    "type": "Scope",
                    "actions": {
                      "AssignTimeoutError": {
                        "type": "Compose",
                        "inputs": "@'errorCreditLimit = true;\r\n\r\nsapReturnCode = Microsoft.Samples.BizTalk.WoodgroveBank.ErrorHelper.CustomerServiceErrors.SapTimeoutErrorCode()'",
                        "runAfter": {}
                      },
                      "Trace": {
                        "type": "Compose",
                        "inputs": "@'WriteLine(\"Timeout from SAP\")'",
                        "runAfter": {
                          "AssignTimeoutError": [
                            "SUCCEEDED"
                          ]
                        }
                      },
                      "ConstructCreditLimitResponeMessage_ce80b779": {
                        "type": "Xslt",
                        "inputs": {
                          "content": "@triggerBody()",
                          "map": {
                            "name": "CustomerServiceRequest_To_CreditLimitResponse",
                            "type": "Xslt"
                          },
                          "transformOptions": "ApplyXsltTemplates"
                        },
                        "runAfter": {
                          "Trace": [
                            "SUCCEEDED"
                          ]
                        }
                      },
                      "Trace_1": {
                        "type": "Compose",
                        "inputs": "@'System.Diagnostics.Trace.WriteLine(\"Constructed SAP Response Message\");\r\n\r\n//xd1 = CreditLimitResponse ;\r\n//System.Diagnostics.Trace.Write(\"CreditLimitResponse = \" + xd1.OuterXml)'",
                        "runAfter": {
                          "ConstructCreditLimitResponeMessage_ce80b779": [
                            "SUCCEEDED"
                          ]
                        }
                      }
                    },
                    "runAfter": {
                      "ExamineForError": [
                        "FAILED",
                        "TIMEDOUT",
                        "SKIPPED"
                      ]
                    }
                  }
                },
                "runAfter": {
                  "AssignBeginTime": [
                    "SUCCEEDED"
                  ]
                }
              },
              "CreateBAMMilestone": {
                "type": "Compose",
                "inputs": "@'endCreditLimitTime = System.DateTime.Now;\r\ncreditLimitDuration = endCreditLimitTime.Subtract(beginCreditLimitTime);\r\n\r\n// Create the appropriate BAM milestones...\r\nif (errorCreditLimit)\r\n{\r\n    // Map SAP return code to appropriate descriptions here...\r\n\r\n    Microsoft.Samples.BizTalk.WoodgroveBank.ServiceLevelTracking.ServiceLevelTracking.TrackCreditLimitError\r\n       (\r\n           activityID, \r\n           System.Convert.ToInt32(creditLimitDuration.TotalMilliseconds),\r\n           sapReturnCode,\r\n           Microsoft.Samples.BizTalk.WoodgroveBank.ErrorHelper.CustomerServiceErrors.DecodeSapErrorCodeToDescription(sapReturnCode),\r\n           Microsoft.Samples.BizTalk.WoodgroveBank.ErrorHelper.CustomerServiceErrors.DecodeSapErrorCodeToSource(sapReturnCode)\r\n       );       \r\n}\r\nelse\r\n{\r\n    Microsoft.Samples.BizTalk.WoodgroveBank.ServiceLevelTracking.ServiceLevelTracking.TrackCreditLimitSuccess(activityID, \r\n          System.Convert.ToInt32(creditLimitDuration.TotalMilliseconds));\r\n}'",
                "runAfter": {
                  "SAPTimeoutDetectionScope": [
                    "SUCCEEDED"
                  ]
                }
              },
              "ConstructLastPaymentRequest_85e96c88": {
                "type": "Xslt",
                "inputs": {
                  "content": "@triggerBody()",
                  "map": {
                    "name": "CustomerServiceRequest_To_LastPaymentRequest",
                    "type": "Xslt"
                  },
                  "transformOptions": "ApplyXsltTemplates"
                },
                "runAfter": {}
              },
              "AssignBeginTime_1": {
                "type": "Compose",
                "inputs": "@'beginLastPaymentTime = System.DateTime.Now'",
                "runAfter": {
                  "ConstructLastPaymentRequest_85e96c88": [
                    "SUCCEEDED"
                  ]
                }
              },
              "ExecuteSendPipelnieCatchExceptionScope": {
                "type": "Scope",
                "actions": {
                  "ConstructRequestMessageAfterSendPipeline_3a0267bb": {
                    "type": "Compose",
                    "inputs": "@'// Create the collection of messages to be sent to the send pipeline...\r\nsendPipelineInputMessages = new Microsoft.XLANGs.Pipeline.SendPipelineInputMessages();\r\nsendPipelineInputMessages.Add(LastPaymentRequest);\r\n\r\n// Create an empty message for the output from the pipeline...\r\nLastPaymentRequestAfterSendPipeline = null;\r\n\r\n// Execute the send pipeline and get the message output from the send pipeline.\r\nMicrosoft.XLANGs.Pipeline.XLANGPipelineManager.ExecuteSendPipeline(\r\n        typeof(Microsoft.Samples.BizTalk.WoodgroveBank.PaymentTrackerPipelines.PaymentTrackerSendPipeline),\r\n        sendPipelineInputMessages,\r\n        LastPaymentRequestAfterSendPipeline\r\n    );\r\n//System.Diagnostics.Trace.WriteLine(\"Msg data format = \" + LastPaymentRequestAfterSendPipeline(MQSeries.MQMD_Format));\r\n//System.Diagnostics.Trace.WriteLine(\"Msg data format = \" + LastPaymentRequestAfterSendPipeline(MQSeries.MQCIH_Format));\r\n\r\n// Copy the SSO Ticket and the originator SID to the message so SSO can\r\n// happily redeem the ticket later.\r\n\r\n// Since we ran the pipeline from the orchestrations directly, we needed to set these\r\n// properties to the message that was returned from the send pipeline as opposed to\r\n// the message that went into the send pipeline.  When we transport the message using the \r\n// transport call inline, these properties will be retrieved and the SSO ticket\r\n// redeemed.\r\nLastPaymentRequestAfterSendPipeline(BTS.SSOTicket) = CustomerServiceRequest(BTS.SSOTicket);\r\nLastPaymentRequestAfterSendPipeline(Microsoft.BizTalk.XLANGs.BTXEngine.OriginatorSID) = CustomerServiceRequest(Microsoft.BizTalk.XLANGs.BTXEngine.OriginatorSID);\r\nLastPaymentRequestAfterSendPipeline(BTS.WindowsUser) = CustomerServiceRequest(BTS.WindowsUser)'",
                    "runAfter": {}
                  },
                  "ExecuteSendPipelineExceptionHandler": {
                    "type": "Scope",
                    "actions": {
                      "TraceSendPipelineException": {
                        "type": "Compose",
                        "inputs": "@concat('WriteLine(\"Exception while running the send pipeline: \"', 'pipeEx')",
                        "runAfter": {}
                      },
                      "ThrowSendPipelineException": {
                        "type": "Terminate",
                        "inputs": {
                          "runStatus": "Failed",
                          "runError": {
                            "code": "Terminated",
                            "message": ""
                          }
                        },
                        "runAfter": {
                          "TraceSendPipelineException": [
                            "SUCCEEDED"
                          ]
                        }
                      }
                    },
                    "runAfter": {
                      "ConstructRequestMessageAfterSendPipeline_3a0267bb": [
                        "FAILED",
                        "TIMEDOUT",
                        "SKIPPED"
                      ]
                    }
                  }
                },
                "runAfter": {
                  "AssignBeginTime_1": [
                    "SUCCEEDED"
                  ]
                }
              },
              "PaymentTrackerExceptionHandlingScope": {
                "type": "Scope",
                "actions": {
                  "GetLastPaymentResponseInline_0c5943a0": {
                    "type": "Compose",
                    "inputs": "@'// Execute the inline method to send the message to the Payment Tracking System and get the response.\r\n// The response message received should be passed through the receive pipeline...\r\n\r\nLastPaymentResponseBeforeReceivePipeline = null;\r\nMicrosoft.Samples.BizTalk.WoodgroveBank.PaymentTrackerCall.PaymentTrackerCaller.GetPaymentTrackerResponse \r\n   (\r\n        LastPaymentRequestAfterSendPipeline, LastPaymentResponseBeforeReceivePipeline\r\n    ); \r\n\r\n// Execute the receive pipeline using the helper class so we don''t\r\n// need to declare the non-serializable types involved.\r\n\r\n// Set the documentspec name so the xml disassembler in the pipeline can resolve the schemas for the received message\r\n// without any ambiguity\r\nLastPaymentResponseBeforeReceivePipeline(XMLNORM.DocumentSpecName) = Microsoft.Samples.BizTalk.WoodgroveBank.ConfigHelper.ConfigParameters.GetConfigParameter(Microsoft.Samples.BizTalk.WoodgroveBank.ConfigHelper.ConfigParameters.SsoConfigParameter.PaymentTrackingReceivePipelineSchemaType);\r\n\r\n// Create an empty response message and fill it in with the real response from the Payment Tracking System\r\nLastPaymentResponse = null;\r\n\r\nMicrosoft.Samples.BizTalk.WoodgroveBank.Utilities.ReceivePipelineHelper.CallReceivePipeline (\r\n        typeof(Microsoft.Samples.BizTalk.WoodgroveBank.PaymentTrackerPipelines.PaymentTrackerReceivePipeline),\r\n        LastPaymentResponseBeforeReceivePipeline,\r\n        LastPaymentResponse\r\n    )'",
                    "runAfter": {}
                  },
                  "ExamineForError_1": {
                    "type": "Compose",
                    "inputs": "@'// Check for errors\r\nerrorLastPayments = LastPaymentResponse.ResponseStatus.Error.ErrorNumber != \"0000\"'",
                    "runAfter": {
                      "GetLastPaymentResponseInline_0c5943a0": [
                        "SUCCEEDED"
                      ]
                    }
                  },
                  "PaymentTrackerTimeoutHandler": {
                    "type": "Scope",
                    "actions": {
                      "AssignTimeoutError_1": {
                        "type": "Compose",
                        "inputs": "@'errorLastPayments = true'",
                        "runAfter": {}
                      },
                      "AssembleResponseMessageWithError_c6ac8d1d": {
                        "type": "Xslt",
                        "inputs": {
                          "content": "@triggerBody()",
                          "map": {
                            "name": "CustomerServiceRequest_To_LastPaymentResponseTimeout",
                            "type": "Xslt"
                          },
                          "transformOptions": "ApplyXsltTemplates"
                        },
                        "runAfter": {
                          "AssignTimeoutError_1": [
                            "SUCCEEDED"
                          ]
                        }
                      }
                    },
                    "runAfter": {
                      "ExamineForError_1": [
                        "FAILED",
                        "TIMEDOUT",
                        "SKIPPED"
                      ]
                    }
                  },
                  "ExecuteReceivePiplineExceptionHandler": {
                    "type": "Scope",
                    "actions": {
                      "TraceReceivePipelineException": {
                        "type": "Compose",
                        "inputs": "@concat('WriteLine(\"Exception while running the receive pipeline \"', 'pipeEx')",
                        "runAfter": {}
                      },
                      "ThrowReceivePipelineException": {
                        "type": "Terminate",
                        "inputs": {
                          "runStatus": "Failed",
                          "runError": {
                            "code": "Terminated",
                            "message": ""
                          }
                        },
                        "runAfter": {
                          "TraceReceivePipelineException": [
                            "SUCCEEDED"
                          ]
                        }
                      }
                    },
                    "runAfter": {
                      "ExamineForError_1": [
                        "FAILED",
                        "TIMEDOUT",
                        "SKIPPED"
                      ]
                    }
                  }
                },
                "runAfter": {
                  "ExecuteSendPipelnieCatchExceptionScope": [
                    "SUCCEEDED"
                  ]
                }
              },
              "CreateBAMMilestones": {
                "type": "Compose",
                "inputs": "@'// Calculate the response time\r\nendLastPaymentTime = System.DateTime.Now;\r\nlastPaymentDuration = endLastPaymentTime.Subtract(beginLastPaymentTime);\r\n\r\n// Create the BAM milestones...\r\nif (errorLastPayments)\r\n{\r\n    Microsoft.Samples.BizTalk.WoodgroveBank.ServiceLevelTracking.ServiceLevelTracking.TrackLastPaymentError(activityID, \r\n           System.Convert.ToInt32(lastPaymentDuration.TotalMilliseconds), \r\n           LastPaymentResponse.ResponseStatus.Error.ErrorNumber, \r\n           LastPaymentResponse.ResponseStatus.Error.ErrorDescription,\r\n           LastPaymentResponse.ResponseStatus.Error.ErrorSource);\r\n}\r\nelse\r\n{\r\n    Microsoft.Samples.BizTalk.WoodgroveBank.ServiceLevelTracking.ServiceLevelTracking.TrackLastPaymentSuccess(activityID, \r\n          System.Convert.ToInt32(lastPaymentDuration.TotalMilliseconds));\r\n}'",
                "runAfter": {
                  "PaymentTrackerExceptionHandlingScope": [
                    "SUCCEEDED"
                  ]
                }
              },
              "ConstructPendingTransactionsRequest_53076f8f": {
                "type": "Xslt",
                "inputs": {
                  "content": "@triggerBody()",
                  "map": {
                    "name": "CustomerServiceRequest_To_PendingTransactionsRequest",
                    "type": "Xslt"
                  },
                  "transformOptions": "ApplyXsltTemplates"
                },
                "runAfter": {}
              },
              "AssignBeginTime_2": {
                "type": "Compose",
                "inputs": "@'beginPendingTransTime = System.DateTime.Now'",
                "runAfter": {
                  "ConstructPendingTransactionsRequest_53076f8f": [
                    "SUCCEEDED"
                  ]
                }
              },
              "PendTransTimeoutDetectionScope": {
                "type": "Scope",
                "actions": {
                  "GetPendingTransactionsResponseInline_3b2fbc6c": {
                    "type": "Compose",
                    "inputs": "@'PendingTransactionsWSResponse = Microsoft.Samples.BizTalk.WoodgroveBank.PendingTransactionsCall.PendingTransactionsCaller.GetPendingTransactionsResponse(PendingTransactionsWSRequest)'",
                    "runAfter": {}
                  },
                  "ExamineForErrors": {
                    "type": "Compose",
                    "inputs": "@'// Error if the error code is not 0000\r\nerrorPendingTransactions = PendingTransactionsWSResponse.ResponseStatus.Error.ErrorNumber != \"0000\"'",
                    "runAfter": {
                      "GetPendingTransactionsResponseInline_3b2fbc6c": [
                        "SUCCEEDED"
                      ]
                    }
                  },
                  "PendTransTimeoutHandler": {
                    "type": "Scope",
                    "actions": {
                      "AssignTimeoutError_2": {
                        "type": "Compose",
                        "inputs": "@'errorPendingTransactions = true'",
                        "runAfter": {}
                      },
                      "Trace_2": {
                        "type": "Compose",
                        "inputs": "@'WriteLine(\"Timeout from the Pending Transactions Web Service\")'",
                        "runAfter": {
                          "AssignTimeoutError_2": [
                            "SUCCEEDED"
                          ]
                        }
                      },
                      "ConstructPendTransRespWithTimeoutError_afc97035": {
                        "type": "Xslt",
                        "inputs": {
                          "content": "@triggerBody()",
                          "map": {
                            "name": "CustomerServiceRequest_To_PendingTransactionResponse",
                            "type": "Xslt"
                          },
                          "transformOptions": "ApplyXsltTemplates"
                        },
                        "runAfter": {
                          "Trace_2": [
                            "SUCCEEDED"
                          ]
                        }
                      }
                    },
                    "runAfter": {
                      "ExamineForErrors": [
                        "FAILED",
                        "TIMEDOUT",
                        "SKIPPED"
                      ]
                    }
                  }
                },
                "runAfter": {
                  "AssignBeginTime_2": [
                    "SUCCEEDED"
                  ]
                }
              },
              "CreateBAMMilestones_1": {
                "type": "Compose",
                "inputs": "@'endPendingTransTime = System.DateTime.Now;\r\npendingTransDuration = endPendingTransTime.Subtract(beginPendingTransTime);\r\n\r\n// Create the BAM milestones...\r\nif (errorPendingTransactions)\r\n{\r\n    Microsoft.Samples.BizTalk.WoodgroveBank.ServiceLevelTracking.ServiceLevelTracking.TrackPendingTransactionsError(activityID, \r\n           System.Convert.ToInt32(pendingTransDuration.TotalMilliseconds), \r\n           PendingTransactionsWSResponse.ResponseStatus.Error.ErrorNumber,\r\n           PendingTransactionsWSResponse.ResponseStatus.Error.ErrorDescription,\r\n           PendingTransactionsWSResponse.ResponseStatus.Error.ErrorSource);\r\n}\r\nelse\r\n{\r\n    Microsoft.Samples.BizTalk.WoodgroveBank.ServiceLevelTracking.ServiceLevelTracking.TrackPendingTransactionsSuccess(activityID, \r\n          System.Convert.ToInt32(pendingTransDuration.TotalMilliseconds));\r\n}'",
                "runAfter": {
                  "PendTransTimeoutDetectionScope": [
                    "SUCCEEDED"
                  ]
                }
              },
              "CollectAccountInformations_fa8184fc_Join": {
                "type": "Compose",
                "inputs": {
                  "parallelBranchesCompleted": true,
                  "branchCount": 3
                },
                "runAfter": {
                  "CreateBAMMilestone": [
                    "SUCCEEDED"
                  ],
                  "CreateBAMMilestones": [
                    "SUCCEEDED"
                  ],
                  "CreateBAMMilestones_1": [
                    "SUCCEEDED"
                  ]
                }
              },
              "CheckErrorAndAggregate_8f28fe58": {
                "type": "If",
                "expression": "@or(variables('errorCreditLimit'), or(variables('errorLastPayments'), variables('errorPendingTransactions')))",
                "actions": {
                  "ConstructCustomerServiceErrorResponse_016c0163": {
                    "type": "Xslt",
                    "inputs": {
                      "content": "@triggerBody()",
                      "map": {
                        "name": "Aggregate_To_ErrorResponse",
                        "type": "Xslt"
                      },
                      "transformOptions": "ApplyXsltTemplates"
                    },
                    "runAfter": {}
                  },
                  "CreateBAMMilestone_1b838a2f": {
                    "type": "Compose",
                    "inputs": "@'endTime = System.DateTime.Now;\r\n\r\ntimeTaken = endTime.Subtract(beginTime);\r\n\r\nMicrosoft.Samples.BizTalk.WoodgroveBank.ServiceLevelTracking.ServiceLevelTracking.TrackRequestCompleteError(activityID, System.Convert.ToInt32(timeTaken.TotalMilliseconds), CustomerServiceResponse.ResponseStatus.Error.ErrorNumber, CustomerServiceResponse.ResponseStatus.Error.ErrorDescription, CustomerServiceResponse.ResponseStatus.Error.ErrorSource)'",
                    "runAfter": {
                      "ConstructCustomerServiceErrorResponse_016c0163": [
                        "SUCCEEDED"
                      ]
                    }
                  }
                },
                "else": {
                  "actions": {
                    "ConstructCustomerServiceResponse_a76878e1": {
                      "type": "Xslt",
                      "inputs": {
                        "content": "@triggerBody()",
                        "map": {
                          "name": "Aggregate_To_CustomerServiceResponse",
                          "type": "Xslt"
                        },
                        "transformOptions": "ApplyXsltTemplates"
                      },
                      "runAfter": {}
                    },
                    "CreateBAMMilestone_2b60c131": {
                      "type": "Compose",
                      "inputs": "@'endTime = System.DateTime.Now;\r\n\r\ntimeTaken = endTime.Subtract(beginTime);\r\n\r\nMicrosoft.Samples.BizTalk.WoodgroveBank.ServiceLevelTracking.ServiceLevelTracking.TrackRequestCompleteSuccess(activityID, System.Convert.ToInt32(timeTaken.TotalMilliseconds))'",
                      "runAfter": {
                        "ConstructCustomerServiceResponse_a76878e1": [
                          "SUCCEEDED"
                        ]
                      }
                    }
                  }
                },
                "runAfter": {
                  "CollectAccountInformations_fa8184fc_Join": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "else": {
              "actions": {
                "ConstructRequestDenied_08f742ea": {
                  "type": "Xslt",
                  "inputs": {
                    "content": "@triggerBody()",
                    "map": {
                      "name": "CustomerServiceRequest_To_CustomerServiceResponseDenied",
                      "type": "Xslt"
                    },
                    "transformOptions": "ApplyXsltTemplates"
                  },
                  "runAfter": {}
                },
                "CreateBAMMielstone_eaeb8ca5": {
                  "type": "Compose",
                  "inputs": "@'endTime = System.DateTime.Now;\r\n\r\ntimeTaken = endTime.Subtract(beginTime);\r\n\r\nMicrosoft.Samples.BizTalk.WoodgroveBank.ServiceLevelTracking.ServiceLevelTracking.TrackInvalidRequest(activityID, System.Convert.ToInt32(timeTaken.TotalMilliseconds))'",
                  "runAfter": {
                    "ConstructRequestDenied_08f742ea": [
                      "SUCCEEDED"
                    ]
                  }
                }
              }
            },
            "runAfter": {
              "ValidateRequest": [
                "SUCCEEDED"
              ]
            }
          },
          "EndActivity": {
            "type": "Compose",
            "inputs": "@'// Complete the activity...\r\nMicrosoft.Samples.BizTalk.WoodgroveBank.ServiceLevelTracking.ServiceLevelTracking.EndRequest(activityID)'",
            "runAfter": {
              "IsRequestValid_a906930a": [
                "SUCCEEDED"
              ]
            }
          },
          "CustomerServiceExceptionHandler": {
            "type": "Scope",
            "actions": {
              "checkForActivity_48e3617d": {
                "type": "If",
                "expression": "@not(equals(variables('activityID'), null))",
                "actions": {
                  "EndActivityInException_53f66f0e": {
                    "type": "Compose",
                    "inputs": "@'// An Exception is treated as an error from the BAM perspective...\r\n\r\nMicrosoft.Samples.BizTalk.WoodgroveBank.ServiceLevelTracking.ServiceLevelTracking.TrackRequestCompleteError(\r\n                            activityID, \r\n                            0, \r\n                            Microsoft.Samples.BizTalk.WoodgroveBank.ErrorHelper.CustomerServiceErrors.CustomerServiceExceptionError,\r\n                            ex.Message, \r\n                            \"Customer Service Orchestration\"\r\n        );\r\n// Complete the activity...\r\nMicrosoft.Samples.BizTalk.WoodgroveBank.ServiceLevelTracking.ServiceLevelTracking.EndRequest(activityID)'",
                    "runAfter": {}
                  }
                },
                "else": {
                  "actions": {}
                },
                "runAfter": {}
              },
              "TraceException": {
                "type": "Compose",
                "inputs": "@concat('Write(\"Exception in Orchestration: \"', 'ex')",
                "runAfter": {
                  "checkForActivity_48e3617d": [
                    "SUCCEEDED"
                  ]
                }
              },
              "RespondUnderException_c5928f37": {
                "type": "Xslt",
                "inputs": {
                  "content": "@triggerBody()",
                  "map": {
                    "name": "CustomerServiceRequest_To_CustomerServiceResponseDenied",
                    "type": "Xslt"
                  },
                  "transformOptions": "ApplyXsltTemplates"
                },
                "runAfter": {
                  "TraceException": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {
              "EndActivity": [
                "FAILED",
                "TIMEDOUT",
                "SKIPPED"
              ]
            }
          }
        },
        "runAfter": {
          "PendingTransactionsWSResponse": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "HandleExceptions": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {}
  }
}