BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/Delegate.workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "ActionInterruptReceiveLocation": {
        "type": "Request",
        "kind": "Http",
        "description": "Migrated from BizTalk WCF endpoint - BizTalk Adapter: HTTP; Original Address: /HwsMessages/BtsHttpReceive.dll?InterruptAndResponse",
        "metadata": {
          "biztalkTransportType": "HTTP",
          "biztalkOriginalAddress": "/HwsMessages/BtsHttpReceive.dll?InterruptAndResponse",
          "biztalkUseSSO": false
        }
      }
    },
    "actions": {
      "resourceManager": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "resourceManager",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {}
      },
      "breakLoop": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "breakLoop",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "resourceManager": [
            "SUCCEEDED"
          ]
        }
      },
      "responseMessageXml": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "responseMessageXml",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "breakLoop": [
            "SUCCEEDED"
          ]
        }
      },
      "finishMessageXml_1": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "finishMessageXml_1",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "responseMessageXml": [
            "SUCCEEDED"
          ]
        }
      },
      "SelfFinishMessage_Out_1": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "SelfFinishMessage_Out_1",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "finishMessageXml_1": [
            "SUCCEEDED"
          ]
        }
      },
      "DelegateTaskMgr": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "DelegateTaskMgr",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "SelfFinishMessage_Out_1": [
            "SUCCEEDED"
          ]
        }
      },
      "intVar": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "intVar",
              "type": "integer",
              "value": 0
            }
          ]
        },
        "runAfter": {
          "DelegateTaskMgr": [
            "SUCCEEDED"
          ]
        }
      },
      "Task": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "Task",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "intVar": [
            "SUCCEEDED"
          ]
        }
      },
      "loopVariable": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "loopVariable",
              "type": "integer",
              "value": 0
            }
          ]
        },
        "runAfter": {
          "Task": [
            "SUCCEEDED"
          ]
        }
      },
      "loopVariable2": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "loopVariable2",
              "type": "integer",
              "value": 0
            }
          ]
        },
        "runAfter": {
          "loopVariable": [
            "SUCCEEDED"
          ]
        }
      },
      "finishMessageXml_2": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "finishMessageXml_2",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "loopVariable2": [
            "SUCCEEDED"
          ]
        }
      },
      "SelfFinishMessage_Out_2": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "SelfFinishMessage_Out_2",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "finishMessageXml_2": [
            "SUCCEEDED"
          ]
        }
      },
      "finishMessageXml_3": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "finishMessageXml_3",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "SelfFinishMessage_Out_2": [
            "SUCCEEDED"
          ]
        }
      },
      "SelfFinishMessage_Out_3": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "SelfFinishMessage_Out_3",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "finishMessageXml_3": [
            "SUCCEEDED"
          ]
        }
      },
      "finishMessageXml_5": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "finishMessageXml_5",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "SelfFinishMessage_Out_3": [
            "SUCCEEDED"
          ]
        }
      },
      "SelfFinishMessage_Out_5": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "SelfFinishMessage_Out_5",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "finishMessageXml_5": [
            "SUCCEEDED"
          ]
        }
      },
      "finishMessageXml_4": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "finishMessageXml_4",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "SelfFinishMessage_Out_5": [
            "SUCCEEDED"
          ]
        }
      },
      "SelfFinishMessage_Out_4": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "SelfFinishMessage_Out_4",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "finishMessageXml_4": [
            "SUCCEEDED"
          ]
        }
      },
      "ns0": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "ns0",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "SelfFinishMessage_Out_4": [
            "SUCCEEDED"
          ]
        }
      },
      "HwsMessageType": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "HwsMessageType",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "ns0": [
            "SUCCEEDED"
          ]
        }
      },
      "ResponseMessage_1": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "ResponseMessage_1",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "HwsMessageType": [
            "SUCCEEDED"
          ]
        }
      },
      "ResponseMessage_3": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "ResponseMessage_3",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "ResponseMessage_1": [
            "SUCCEEDED"
          ]
        }
      },
      "ResponseMessage_2": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "ResponseMessage_2",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "ResponseMessage_3": [
            "SUCCEEDED"
          ]
        }
      },
      "ResponseMessage_4": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "ResponseMessage_4",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "ResponseMessage_2": [
            "SUCCEEDED"
          ]
        }
      },
      "xmlns": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "xmlns",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "ResponseMessage_4": [
            "SUCCEEDED"
          ]
        }
      },
      "TaskMessage": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "TaskMessage",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "xmlns": [
            "SUCCEEDED"
          ]
        }
      },
      "SyncMessage": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "SyncMessage",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "TaskMessage": [
            "SUCCEEDED"
          ]
        }
      },
      "ActivateAndSendInstanceIdBack": {
        "type": "Scope",
        "actions": {
          "ResponseMessageScope": {
            "type": "Scope",
            "actions": {
              "BuildResponseMessage_b00dc963": {
                "type": "Scope",
                "actions": {
                  "ConstructTheMessage": {
                    "type": "Compose",
                    "inputs": "@'responseMessageXml.LoadXml(\"<ns0:HwsMessage xmlns:ns0=''http://schemas.microsoft.com/Hws/2003/Hws_ActivateResponse''> <HwsSection HwsMessageType=''Hws_ActivateResponse''>  <ActivityFlowID>ActivityFlowID_0</ActivityFlowID> <ActionInstanceID>ActionInstanceID_0</ActionInstanceID> <ActivityModelInstanceID>ActivityModelInstanceID_0</ActivityModelInstanceID> <ParentActionInstanceID>ParentActionInstanceID_0</ParentActionInstanceID> </HwsSection> </ns0:HwsMessage>\");\r\nResponseMessage_1 = responseMessageXml'",
                    "runAfter": {}
                  },
                  "SetPropertiesOnTheMessage": {
                    "type": "Compose",
                    "inputs": "@'ResponseMessage_1(Microsoft.BizTalk.Hws.HwsPromotedProperties.ScheduleInstanceID)=triggerBody()(Microsoft.BizTalk.Hws.HwsPromotedProperties.ScheduleInstanceID);\r\nResponseMessage_1(Microsoft.BizTalk.Hws.HwsPromotedProperties.ParentInstanceID)=triggerBody()(Microsoft.BizTalk.Hws.HwsPromotedProperties.ParentInstanceID);\r\nResponseMessage_1(Microsoft.BizTalk.Hws.HwsPromotedProperties.ActivityModelInstanceID)=triggerBody()(Microsoft.BizTalk.Hws.HwsPromotedProperties.ActivityModelInstanceID);\r\nResponseMessage_1(Microsoft.BizTalk.Hws.HwsPromotedProperties.ActivityFlowID)=triggerBody()(Microsoft.BizTalk.Hws.HwsPromotedProperties.ActivityFlowID)'",
                    "runAfter": {
                      "ConstructTheMessage": [
                        "SUCCEEDED"
                      ]
                    }
                  }
                },
                "runAfter": {}
              }
            },
            "runAfter": {}
          },
          "CheckIfParentInstanceIdIsNull_685d30bc": {
            "type": "If",
            "expression": "@'(ActivationMessage(Microsoft.BizTalk.Hws.HwsPromotedProperties.ParentInstanceID) == \"00000000-0000-0000-0000-000000000000\" || ActivationMessage(Microsoft.BizTalk.Hws.HwsPromotedProperties.ParentInstanceID) == \"{00000000-0000-0000-0000-000000000000}\")'",
            "actions": {
              "CheckIfActivityModelInstanceIdIsNull_47931dd9": {
                "type": "If",
                "expression": "@'(ActivationMessage(Microsoft.BizTalk.Hws.HwsPromotedProperties.ActivityModelInstanceID) == \"00000000-0000-0000-0000-000000000000\" || ActivationMessage(Microsoft.BizTalk.Hws.HwsPromotedProperties.ActivityModelInstanceID) == \"{00000000-0000-0000-0000-000000000000}\")'",
                "actions": {
                  "UpdateParentInstanceAndActivityModelInstanceIdId_6a7fa1fe": {
                    "type": "Compose",
                    "inputs": "@'ResponseMessage_3 = ResponseMessage_1;\r\nResponseMessage_3(Microsoft.BizTalk.Hws.HwsPromotedProperties.ParentInstanceID) = System.Convert.ToString(System.Guid.NewGuid());\r\nResponseMessage_3(Microsoft.BizTalk.Hws.HwsPromotedProperties.ActivityModelInstanceID) = System.Convert.ToString(System.Guid.NewGuid())'",
                    "runAfter": {}
                  },
                  "SendActivateResponse_b0ad66e0": {
                    "type": "Http",
                    "inputs": {
                      "method": "POST",
                      "uri": "http://localhost/service",
                      "body": "@triggerBody()",
                      "headers": {
                        "Content-Type": "application/json"
                      }
                    },
                    "runAfter": {
                      "UpdateParentInstanceAndActivityModelInstanceIdId_6a7fa1fe": [
                        "SUCCEEDED"
                      ]
                    }
                  },
                  "ReceiveActivateResponse_855999ef": {
                    "type": "Compose",
                    "inputs": "// Unmapped: Response Receive response from ActionDirectBoundInPort (BizTalk correlation pattern - requires manual configuration)",
                    "runAfter": {
                      "SendActivateResponse_b0ad66e0": [
                        "SUCCEEDED"
                      ]
                    }
                  }
                },
                "else": {
                  "actions": {
                    "UpdateParentInstanceId_e25f1dc2": {
                      "type": "Compose",
                      "inputs": "@'ResponseMessage_2 = ResponseMessage_1;\r\nResponseMessage_2(Microsoft.BizTalk.Hws.HwsPromotedProperties.ParentInstanceID) = System.Convert.ToString(System.Guid.NewGuid())'",
                      "runAfter": {}
                    },
                    "SendActivateResponse_214686ea": {
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "http://localhost/service",
                        "body": "@triggerBody()",
                        "headers": {
                          "Content-Type": "application/json"
                        }
                      },
                      "runAfter": {
                        "UpdateParentInstanceId_e25f1dc2": [
                          "SUCCEEDED"
                        ]
                      }
                    },
                    "ReceiveActivateResponse_24e72f21": {
                      "type": "Compose",
                      "inputs": "// Unmapped: Response Receive response from ActionDirectBoundInPort (BizTalk correlation pattern - requires manual configuration)",
                      "runAfter": {
                        "SendActivateResponse_214686ea": [
                          "SUCCEEDED"
                        ]
                      }
                    }
                  }
                },
                "runAfter": {}
              }
            },
            "else": {
              "actions": {
                "CheckIfActivityModelInstanceIdIsNull_1fcfbe83": {
                  "type": "If",
                  "expression": "@'(ActivationMessage(Microsoft.BizTalk.Hws.HwsPromotedProperties.ActivityModelInstanceID) == \"00000000-0000-0000-0000-000000000000\" || ActivationMessage(Microsoft.BizTalk.Hws.HwsPromotedProperties.ActivityModelInstanceID) == \"{00000000-0000-0000-0000-000000000000}\")'",
                  "actions": {
                    "UpdateActivityModelInstanceIdId_a1d761cb": {
                      "type": "Compose",
                      "inputs": "@'ResponseMessage_4 = ResponseMessage_1;\r\nResponseMessage_4(Microsoft.BizTalk.Hws.HwsPromotedProperties.ActivityModelInstanceID) = System.Convert.ToString(System.Guid.NewGuid())'",
                      "runAfter": {}
                    },
                    "SendActivateResponse_62788182": {
                      "type": "Http",
                      "inputs": {
                        "method": "POST",
                        "uri": "http://localhost/service",
                        "body": "@triggerBody()",
                        "headers": {
                          "Content-Type": "application/json"
                        }
                      },
                      "runAfter": {
                        "UpdateActivityModelInstanceIdId_a1d761cb": [
                          "SUCCEEDED"
                        ]
                      }
                    },
                    "ReceiveActivateResponse_32037cc1": {
                      "type": "Compose",
                      "inputs": "// Unmapped: Response Receive response from ActionDirectBoundInPort (BizTalk correlation pattern - requires manual configuration)",
                      "runAfter": {
                        "SendActivateResponse_62788182": [
                          "SUCCEEDED"
                        ]
                      }
                    }
                  },
                  "else": {
                    "actions": {
                      "SendActivateResponse_8e788d7b": {
                        "type": "Http",
                        "inputs": {
                          "method": "POST",
                          "uri": "http://localhost/service",
                          "body": "@triggerBody()",
                          "headers": {
                            "Content-Type": "application/json"
                          }
                        },
                        "runAfter": {}
                      },
                      "ReceiveActivateResponse_fd5b511c": {
                        "type": "Compose",
                        "inputs": "// Unmapped: Response Receive response from ActionDirectBoundInPort (BizTalk correlation pattern - requires manual configuration)",
                        "runAfter": {
                          "SendActivateResponse_8e788d7b": [
                            "SUCCEEDED"
                          ]
                        }
                      }
                    }
                  },
                  "runAfter": {}
                }
              }
            },
            "runAfter": {
              "ResponseMessageScope": [
                "SUCCEEDED"
              ]
            }
          }
        },
        "runAfter": {
          "SyncMessage": [
            "SUCCEEDED"
          ]
        }
      },
      "ScopeForParallelStatement": {
        "type": "Scope",
        "actions": {
          "CheckForDependentComposition_0693d593": {
            "type": "If",
            "expression": "@equals('IsDependentOnParent)', true)",
            "actions": {
              "ScopeForFinishMessage_1": {
                "type": "Scope",
                "actions": {
                  "BuildFinishMessage_4f14f201": {
                    "type": "Scope",
                    "actions": {
                      "ConstructTheMessage_1": {
                        "type": "Compose",
                        "inputs": "@'finishMessageXml_1.LoadXml(\"<HwsMessage xmlns=''http://schemas.microsoft.com/Hws/2003/Hws_Finish''> <HwsSection HwsMessageType=''Hws_Finish'' xmlns=''''> <ActionInstanceID>ActionInstanceID_0</ActionInstanceID> </HwsSection> </HwsMessage>\");\r\nSelfFinishMessage_Out_1 = finishMessageXml_1'",
                        "runAfter": {}
                      },
                      "SetPropertiesOnTheMessage_1": {
                        "type": "Compose",
                        "inputs": "@'SelfFinishMessage_Out_1(Microsoft.BizTalk.Hws.HwsPromotedProperties.ScheduleInstanceID)=triggerBody()(Microsoft.BizTalk.Hws.HwsPromotedProperties.ScheduleInstanceID)'",
                        "runAfter": {
                          "ConstructTheMessage_1": [
                            "SUCCEEDED"
                          ]
                        }
                      }
                    },
                    "runAfter": {}
                  },
                  "SendFinishMessage": {
                    "type": "Http",
                    "inputs": {
                      "method": "POST",
                      "uri": "http://localhost/service",
                      "body": "@triggerBody()",
                      "headers": {
                        "Content-Type": "application/json"
                      }
                    },
                    "runAfter": {
                      "BuildFinishMessage_4f14f201": [
                        "SUCCEEDED"
                      ]
                    }
                  }
                },
                "runAfter": {}
              },
              "finishMessageXml_1_1": {
                "type": "InitializeVariable",
                "inputs": {
                  "variables": [
                    {
                      "name": "finishMessageXml_1",
                      "type": "object",
                      "value": null
                    }
                  ]
                },
                "runAfter": {
                  "ScopeForFinishMessage_1": [
                    "SUCCEEDED"
                  ]
                }
              },
              "BuildFinishMessage_4f14f201_1": {
                "type": "Scope",
                "actions": {
                  "ConstructTheMessage_2": {
                    "type": "Compose",
                    "inputs": "@'finishMessageXml_1.LoadXml(\"<HwsMessage xmlns=''http://schemas.microsoft.com/Hws/2003/Hws_Finish''> <HwsSection HwsMessageType=''Hws_Finish'' xmlns=''''> <ActionInstanceID>ActionInstanceID_0</ActionInstanceID> </HwsSection> </HwsMessage>\");\r\nSelfFinishMessage_Out_1 = finishMessageXml_1'",
                    "runAfter": {}
                  },
                  "SetPropertiesOnTheMessage_2": {
                    "type": "Compose",
                    "inputs": "@'SelfFinishMessage_Out_1(Microsoft.BizTalk.Hws.HwsPromotedProperties.ScheduleInstanceID)=triggerBody()(Microsoft.BizTalk.Hws.HwsPromotedProperties.ScheduleInstanceID)'",
                    "runAfter": {
                      "ConstructTheMessage_2": [
                        "SUCCEEDED"
                      ]
                    }
                  }
                },
                "runAfter": {
                  "finishMessageXml_1_1": [
                    "SUCCEEDED"
                  ]
                }
              },
              "SendFinishMessage_1": {
                "type": "Http",
                "inputs": {
                  "method": "POST",
                  "uri": "http://localhost/service",
                  "body": "@triggerBody()",
                  "headers": {
                    "Content-Type": "application/json"
                  }
                },
                "runAfter": {
                  "BuildFinishMessage_4f14f201_1": [
                    "SUCCEEDED"
                  ]
                }
              },
              "SelfFinishMessage_Out_1_1": {
                "type": "InitializeVariable",
                "inputs": {
                  "variables": [
                    {
                      "name": "SelfFinishMessage_Out_1",
                      "type": "object",
                      "value": null
                    }
                  ]
                },
                "runAfter": {
                  "SendFinishMessage_1": [
                    "SUCCEEDED"
                  ]
                }
              },
              "ReceiveSyncMessage": {
                "type": "Compose",
                "inputs": "// Unmapped: Response Receive response from ActionDirectBoundInPort (BizTalk correlation pattern - requires manual configuration)",
                "runAfter": {}
              },
              "ScopeForFinishMessage_1_1": {
                "type": "Scope",
                "actions": {
                  "BuildFinishMessage_4f14f201_2": {
                    "type": "Scope",
                    "actions": {
                      "ConstructTheMessage_3": {
                        "type": "Compose",
                        "inputs": "@'finishMessageXml_1.LoadXml(\"<HwsMessage xmlns=''http://schemas.microsoft.com/Hws/2003/Hws_Finish''> <HwsSection HwsMessageType=''Hws_Finish'' xmlns=''''> <ActionInstanceID>ActionInstanceID_0</ActionInstanceID> </HwsSection> </HwsMessage>\");\r\nSelfFinishMessage_Out_1 = finishMessageXml_1'",
                        "runAfter": {}
                      },
                      "SetPropertiesOnTheMessage_3": {
                        "type": "Compose",
                        "inputs": "@'SelfFinishMessage_Out_1(Microsoft.BizTalk.Hws.HwsPromotedProperties.ScheduleInstanceID)=triggerBody()(Microsoft.BizTalk.Hws.HwsPromotedProperties.ScheduleInstanceID)'",
                        "runAfter": {
                          "ConstructTheMessage_3": [
                            "SUCCEEDED"
                          ]
                        }
                      }
                    },
                    "runAfter": {}
                  },
                  "SendFinishMessage_2": {
                    "type": "Http",
                    "inputs": {
                      "method": "POST",
                      "uri": "http://localhost/service",
                      "body": "@triggerBody()",
                      "headers": {
                        "Content-Type": "application/json"
                      }
                    },
                    "runAfter": {
                      "BuildFinishMessage_4f14f201_2": [
                        "SUCCEEDED"
                      ]
                    }
                  }
                },
                "runAfter": {}
              },
              "TerminateAction": {
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Failed",
                  "runError": {
                    "code": "Terminated",
                    "message": "resourceManager.ResolveString(\"PARENT_FINISH_MESSAGE\");"
                  }
                },
                "runAfter": {
                  "ScopeForFinishMessage_1_1": [
                    "SUCCEEDED"
                  ]
                }
              },
              "ReceiveFinishMessageFromParent": {
                "type": "Compose",
                "inputs": "// Unmapped: Response Receive response from ActionDirectBoundInPort (BizTalk correlation pattern - requires manual configuration)",
                "runAfter": {
                  "TerminateAction": [
                    "SUCCEEDED"
                  ]
                }
              },
              "TerminateAction_1": {
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Failed",
                  "runError": {
                    "code": "Terminated",
                    "message": "resourceManager.ResolveString(\"PARENT_FINISH_MESSAGE\");"
                  }
                },
                "runAfter": {}
              },
              "ReceiveFinishMessageFromParent_1": {
                "type": "Compose",
                "inputs": "// Unmapped: Response Receive response from ActionDirectBoundInPort (BizTalk correlation pattern - requires manual configuration)",
                "runAfter": {}
              },
              "ReceiveSyncMessage_1": {
                "type": "Compose",
                "inputs": "// Unmapped: Response Receive response from ActionDirectBoundInPort (BizTalk correlation pattern - requires manual configuration)",
                "runAfter": {}
              },
              "ListenForSyncOrFinishFromParent_b92a25d7_Join": {
                "type": "Compose",
                "inputs": {
                  "parallelBranchesCompleted": true,
                  "branchCount": 6
                },
                "runAfter": {
                  "SelfFinishMessage_Out_1_1": [
                    "SUCCEEDED"
                  ],
                  "ReceiveSyncMessage": [
                    "SUCCEEDED"
                  ],
                  "ReceiveFinishMessageFromParent": [
                    "SUCCEEDED"
                  ],
                  "TerminateAction_1": [
                    "SUCCEEDED"
                  ],
                  "ReceiveFinishMessageFromParent_1": [
                    "SUCCEEDED"
                  ],
                  "ReceiveSyncMessage_1": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "else": {
              "actions": {}
            },
            "runAfter": {}
          },
          "ScopeAllActionSpecificLogic": {
            "type": "Scope",
            "actions": {
              "ConstructShellTaskMessage_03fd7816": {
                "type": "Xslt",
                "inputs": {
                  "content": "@triggerBody()",
                  "map": {
                    "name": "ActivationToTaskMessage",
                    "type": "Xslt"
                  },
                  "transformOptions": "ApplyXsltTemplates"
                },
                "runAfter": {}
              },
              "Initialize": {
                "type": "Compose",
                "inputs": "@'DelegateTaskMgr = new Microsoft.Samples.BizTalk.UtilObjects.DelegateTaskMgr(triggerBody(), TaskMessage);\r\nintVar = DelegateTaskMgr.NumOfTasks'",
                "runAfter": {
                  "ConstructShellTaskMessage_03fd7816": [
                    "SUCCEEDED"
                  ]
                }
              },
              "SendTaskMessage": {
                "type": "Scope",
                "actions": {
                  "Until": {
                    "type": "Until",
                    "expression": "@equals(variables('intVar'), 0)",
                    "limit": {
                      "count": 60,
                      "timeout": "PT1H"
                    },
                    "actions": {
                      "ConstructTaskMessage_cbaf52b5": {
                        "type": "Compose",
                        "inputs": "@'Task = DelegateTaskMgr.GetTaskByIndex(intVar - 1);\r\nTaskMessage = Task.TaskMessage;\r\nintVar = intVar - 1'",
                        "runAfter": {}
                      },
                      "SendTaskMessage_1": {
                        "type": "Http",
                        "inputs": {
                          "method": "POST",
                          "uri": "http://localhost/service",
                          "body": "@body('ConstructShellTaskMessage_03fd7816')",
                          "headers": {
                            "Content-Type": "application/json"
                          }
                        },
                        "runAfter": {
                          "ConstructTaskMessage_cbaf52b5": [
                            "SUCCEEDED"
                          ]
                        }
                      }
                    },
                    "runAfter": {}
                  }
                },
                "runAfter": {
                  "Initialize": [
                    "SUCCEEDED"
                  ]
                }
              },
              "ListenForResponses": {
                "type": "Scope",
                "actions": {
                  "Init": {
                    "type": "Compose",
                    "inputs": "@'loopVariable = DelegateTaskMgr.WaitForMoreResponses;\r\nloopVariable2 = DelegateTaskMgr.WaitForMoreResponses'",
                    "runAfter": {}
                  },
                  "Until_1": {
                    "type": "Until",
                    "expression": "@equals(variables('loopVariable'), 0)",
                    "limit": {
                      "count": 60,
                      "timeout": "PT1H"
                    },
                    "actions": {
                      "TransacScope": {
                        "type": "Scope",
                        "actions": {
                          "ReceiveResponseMessage": {
                            "type": "Compose",
                            "inputs": "// Unmapped: Response Receive response from ReceiveTaskResponseMessagePort (BizTalk correlation pattern - requires manual configuration)",
                            "runAfter": {}
                          }
                        },
                        "runAfter": {}
                      },
                      "SyncScope": {
                        "type": "Scope",
                        "actions": {
                          "ProcessResponseMessage": {
                            "type": "Compose",
                            "inputs": "@'DelegateTaskMgr.ProcessResponseMessage(TaskResponseMessage);\r\nloopVariable = DelegateTaskMgr.WaitForMoreResponses'",
                            "runAfter": {}
                          }
                        },
                        "runAfter": {
                          "TransacScope": [
                            "SUCCEEDED"
                          ]
                        }
                      }
                    },
                    "runAfter": {
                      "Init": [
                        "SUCCEEDED"
                      ]
                    }
                  },
                  "BreakLoop_1": {
                    "type": "Terminate",
                    "inputs": {
                      "runStatus": "Failed",
                      "runError": {
                        "code": "Terminated",
                        "message": ""
                      }
                    },
                    "runAfter": {
                      "Until_1": [
                        "SUCCEEDED"
                      ]
                    }
                  },
                  "Until_2": {
                    "type": "Until",
                    "expression": "@equals(variables('loopVariable2'), 0)",
                    "limit": {
                      "count": 60,
                      "timeout": "PT1H"
                    },
                    "actions": {
                      "Check_Periodically": {
                        "type": "Wait",
                        "inputs": {
                          "interval": {
                            "count": 1,
                            "unit": "Minute"
                          }
                        },
                        "runAfter": {}
                      },
                      "SyncScope_1": {
                        "type": "Scope",
                        "actions": {
                          "SendEmail": {
                            "type": "Compose",
                            "inputs": "@'DelegateTaskMgr.SendReminderEmail();\r\nloopVariable2 = DelegateTaskMgr.WaitForMoreResponses'",
                            "runAfter": {}
                          }
                        },
                        "runAfter": {
                          "Check_Periodically": [
                            "SUCCEEDED"
                          ]
                        }
                      }
                    },
                    "runAfter": {
                      "Init": [
                        "SUCCEEDED"
                      ]
                    }
                  },
                  "BreakLoop_2": {
                    "type": "Terminate",
                    "inputs": {
                      "runStatus": "Failed",
                      "runError": {
                        "code": "Terminated",
                        "message": ""
                      }
                    },
                    "runAfter": {
                      "Until_2": [
                        "SUCCEEDED"
                      ]
                    }
                  },
                  "ListenForResponseOrSendreminderEmail_Join": {
                    "type": "Compose",
                    "inputs": {
                      "parallelBranchesCompleted": true,
                      "branchCount": 2
                    },
                    "runAfter": {
                      "BreakLoop_1": [
                        "SUCCEEDED"
                      ],
                      "BreakLoop_2": [
                        "SUCCEEDED"
                      ]
                    }
                  },
                  "CatchBreakLoop": {
                    "type": "Scope",
                    "actions": {
                      "NoOp": {
                        "type": "Compose",
                        "inputs": "@'Exception occurred'",
                        "runAfter": {}
                      },
                      "SendSummaryEmail": {
                        "type": "Compose",
                        "inputs": "@variables('DelegateTaskMgr')?['SendSummaryEmail()']",
                        "runAfter": {
                          "NoOp": [
                            "SUCCEEDED"
                          ]
                        }
                      },
                      "SendSyncMessage": {
                        "type": "Scope",
                        "actions": {
                          "ConstructSyncMessage_6bc9665f": {
                            "type": "Compose",
                            "inputs": "@'SyncMessage = DelegateTaskMgr.GetSyncMsgInstance(triggerBody())'",
                            "runAfter": {}
                          },
                          "SendSyncMessage_1": {
                            "type": "Http",
                            "inputs": {
                              "method": "POST",
                              "uri": "http://localhost/service",
                              "body": "@triggerBody()",
                              "headers": {
                                "Content-Type": "application/json"
                              }
                            },
                            "runAfter": {
                              "ConstructSyncMessage_6bc9665f": [
                                "SUCCEEDED"
                              ]
                            }
                          }
                        },
                        "runAfter": {
                          "SendSummaryEmail": [
                            "SUCCEEDED"
                          ]
                        }
                      }
                    },
                    "runAfter": {
                      "ListenForResponseOrSendreminderEmail_Join": [
                        "FAILED",
                        "TIMEDOUT",
                        "SKIPPED"
                      ]
                    }
                  }
                },
                "runAfter": {
                  "SendTaskMessage": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {
              "CheckForDependentComposition_0693d593": [
                "SUCCEEDED"
              ]
            }
          },
          "ScopeForFinishMessage_2": {
            "type": "Scope",
            "actions": {
              "BuildFinishMessage_812ba0c8": {
                "type": "Scope",
                "actions": {
                  "ConstructTheMessage_4": {
                    "type": "Compose",
                    "inputs": "@'finishMessageXml_2.LoadXml(\"<HwsMessage xmlns=''http://schemas.microsoft.com/Hws/2003/Hws_Finish''> <HwsSection HwsMessageType=''Hws_Finish'' xmlns=''''> <ActionInstanceID>ActionInstanceID_0</ActionInstanceID> </HwsSection> </HwsMessage>\");\r\nSelfFinishMessage_Out_2 = finishMessageXml_2'",
                    "runAfter": {}
                  },
                  "SetPropertiesOnTheMessage_4": {
                    "type": "Compose",
                    "inputs": "@'SelfFinishMessage_Out_2(Microsoft.BizTalk.Hws.HwsPromotedProperties.ScheduleInstanceID)=triggerBody()(Microsoft.BizTalk.Hws.HwsPromotedProperties.ScheduleInstanceID)'",
                    "runAfter": {
                      "ConstructTheMessage_4": [
                        "SUCCEEDED"
                      ]
                    }
                  }
                },
                "runAfter": {}
              },
              "SendFinishMessage_3": {
                "type": "Http",
                "inputs": {
                  "method": "POST",
                  "uri": "http://localhost/service",
                  "body": "@triggerBody()",
                  "headers": {
                    "Content-Type": "application/json"
                  }
                },
                "runAfter": {
                  "BuildFinishMessage_812ba0c8": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {
              "ScopeAllActionSpecificLogic": [
                "SUCCEEDED"
              ]
            }
          },
          "ListenForAbortOrFinishMessage": {
            "type": "Scope",
            "actions": {
              "ReceiveFinishMessage": {
                "type": "Compose",
                "inputs": "// Unmapped: Response Receive response from ActionDirectBoundInPort (BizTalk correlation pattern - requires manual configuration)",
                "runAfter": {}
              },
              "ReceiveActionInstanceInterruptMessage": {
                "type": "Compose",
                "inputs": "// Unmapped: Response Receive response from ActionInterruptPort (BizTalk correlation pattern - requires manual configuration)",
                "runAfter": {}
              },
              "ReceiveActivityFlowInterruptMessage": {
                "type": "Compose",
                "inputs": "// Unmapped: Response Receive response from ActionInterruptPort (BizTalk correlation pattern - requires manual configuration)",
                "runAfter": {}
              },
              "CheckForInterruptTypeAbort_8dfe95ee": {
                "type": "If",
                "expression": "@equals('InterruptType)', 'Abort')",
                "actions": {
                  "ThrowAbortException_e340d3e1": {
                    "type": "Terminate",
                    "inputs": {
                      "runStatus": "Failed",
                      "runError": {
                        "code": "Terminated",
                        "message": ""
                      }
                    },
                    "runAfter": {}
                  }
                },
                "else": {
                  "actions": {
                    "ThrowRollbackException_9a69dc19": {
                      "type": "Terminate",
                      "inputs": {
                        "runStatus": "Failed",
                        "runError": {
                          "code": "Terminated",
                          "message": ""
                        }
                      },
                      "runAfter": {}
                    }
                  }
                },
                "runAfter": {}
              },
              "CheckForInterruptTypeAbort_430b6719": {
                "type": "If",
                "expression": "@equals('InterruptType)', 'Abort')",
                "actions": {
                  "ThrowAbortException_47053037": {
                    "type": "Terminate",
                    "inputs": {
                      "runStatus": "Failed",
                      "runError": {
                        "code": "Terminated",
                        "message": ""
                      }
                    },
                    "runAfter": {}
                  }
                },
                "else": {
                  "actions": {
                    "ThrowRollbackException_7f3e222e": {
                      "type": "Terminate",
                      "inputs": {
                        "runStatus": "Failed",
                        "runError": {
                          "code": "Terminated",
                          "message": ""
                        }
                      },
                      "runAfter": {}
                    }
                  }
                },
                "runAfter": {}
              },
              "CheckForInterruptTypeAbort_66d476f3": {
                "type": "If",
                "expression": "@equals('InterruptType)', 'Abort')",
                "actions": {
                  "ThrowAbortException_27932ad7": {
                    "type": "Terminate",
                    "inputs": {
                      "runStatus": "Failed",
                      "runError": {
                        "code": "Terminated",
                        "message": ""
                      }
                    },
                    "runAfter": {}
                  }
                },
                "else": {
                  "actions": {
                    "ThrowRollbackException_a96c74d4": {
                      "type": "Terminate",
                      "inputs": {
                        "runStatus": "Failed",
                        "runError": {
                          "code": "Terminated",
                          "message": ""
                        }
                      },
                      "runAfter": {}
                    }
                  }
                },
                "runAfter": {}
              },
              "ReceiveActivityModelInstanceInterruptMessage": {
                "type": "Compose",
                "inputs": "// Unmapped: Response Receive response from ActionInterruptPort (BizTalk correlation pattern - requires manual configuration)",
                "runAfter": {}
              },
              "ReceiveFinishMessage_1": {
                "type": "Compose",
                "inputs": "// Unmapped: Response Receive response from ActionDirectBoundInPort (BizTalk correlation pattern - requires manual configuration)",
                "runAfter": {}
              },
              "ReceiveActionInstanceInterruptMessage_1": {
                "type": "Compose",
                "inputs": "// Unmapped: Response Receive response from ActionInterruptPort (BizTalk correlation pattern - requires manual configuration)",
                "runAfter": {}
              },
              "CheckForInterruptTypeAbort_430b6719_1": {
                "type": "If",
                "expression": "@equals('InterruptType)', 'Abort')",
                "actions": {
                  "ThrowAbortException_47053037_1": {
                    "type": "Terminate",
                    "inputs": {
                      "runStatus": "Failed",
                      "runError": {
                        "code": "Terminated",
                        "message": ""
                      }
                    },
                    "runAfter": {}
                  }
                },
                "else": {
                  "actions": {
                    "ThrowRollbackException_7f3e222e_1": {
                      "type": "Terminate",
                      "inputs": {
                        "runStatus": "Failed",
                        "runError": {
                          "code": "Terminated",
                          "message": ""
                        }
                      },
                      "runAfter": {}
                    }
                  }
                },
                "runAfter": {
                  "ReceiveActionInstanceInterruptMessage_1": [
                    "SUCCEEDED"
                  ]
                }
              },
              "ReceiveActivityFlowInterruptMessage_1": {
                "type": "Compose",
                "inputs": "// Unmapped: Response Receive response from ActionInterruptPort (BizTalk correlation pattern - requires manual configuration)",
                "runAfter": {}
              },
              "CheckForInterruptTypeAbort_66d476f3_1": {
                "type": "If",
                "expression": "@equals('InterruptType)', 'Abort')",
                "actions": {
                  "ThrowAbortException_27932ad7_1": {
                    "type": "Terminate",
                    "inputs": {
                      "runStatus": "Failed",
                      "runError": {
                        "code": "Terminated",
                        "message": ""
                      }
                    },
                    "runAfter": {}
                  }
                },
                "else": {
                  "actions": {
                    "ThrowRollbackException_a96c74d4_1": {
                      "type": "Terminate",
                      "inputs": {
                        "runStatus": "Failed",
                        "runError": {
                          "code": "Terminated",
                          "message": ""
                        }
                      },
                      "runAfter": {}
                    }
                  }
                },
                "runAfter": {
                  "ReceiveActivityFlowInterruptMessage_1": [
                    "SUCCEEDED"
                  ]
                }
              },
              "CheckForInterruptTypeAbort_8dfe95ee_1": {
                "type": "If",
                "expression": "@equals('InterruptType)', 'Abort')",
                "actions": {
                  "ThrowAbortException_e340d3e1_1": {
                    "type": "Terminate",
                    "inputs": {
                      "runStatus": "Failed",
                      "runError": {
                        "code": "Terminated",
                        "message": ""
                      }
                    },
                    "runAfter": {}
                  }
                },
                "else": {
                  "actions": {
                    "ThrowRollbackException_9a69dc19_1": {
                      "type": "Terminate",
                      "inputs": {
                        "runStatus": "Failed",
                        "runError": {
                          "code": "Terminated",
                          "message": ""
                        }
                      },
                      "runAfter": {}
                    }
                  }
                },
                "runAfter": {}
              },
              "ReceiveActivityModelInstanceInterruptMessage_1": {
                "type": "Compose",
                "inputs": "// Unmapped: Response Receive response from ActionInterruptPort (BizTalk correlation pattern - requires manual configuration)",
                "runAfter": {
                  "CheckForInterruptTypeAbort_8dfe95ee_1": [
                    "SUCCEEDED"
                  ]
                }
              },
              "ListenForAbortOrFinish_Join": {
                "type": "Compose",
                "inputs": {
                  "parallelBranchesCompleted": true,
                  "branchCount": 11
                },
                "runAfter": {
                  "ReceiveFinishMessage": [
                    "SUCCEEDED"
                  ],
                  "ReceiveActionInstanceInterruptMessage": [
                    "SUCCEEDED"
                  ],
                  "ReceiveActivityFlowInterruptMessage": [
                    "SUCCEEDED"
                  ],
                  "CheckForInterruptTypeAbort_8dfe95ee": [
                    "SUCCEEDED"
                  ],
                  "CheckForInterruptTypeAbort_430b6719": [
                    "SUCCEEDED"
                  ],
                  "CheckForInterruptTypeAbort_66d476f3": [
                    "SUCCEEDED"
                  ],
                  "ReceiveActivityModelInstanceInterruptMessage": [
                    "SUCCEEDED"
                  ],
                  "ReceiveFinishMessage_1": [
                    "SUCCEEDED"
                  ],
                  "CheckForInterruptTypeAbort_430b6719_1": [
                    "SUCCEEDED"
                  ],
                  "CheckForInterruptTypeAbort_66d476f3_1": [
                    "SUCCEEDED"
                  ],
                  "ReceiveActivityModelInstanceInterruptMessage_1": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {}
          },
          "Parallel_Join": {
            "type": "Compose",
            "inputs": {
              "parallelBranchesCompleted": true,
              "branchCount": 2
            },
            "runAfter": {
              "ScopeForFinishMessage_2": [
                "SUCCEEDED"
              ],
              "ListenForAbortOrFinishMessage": [
                "SUCCEEDED"
              ]
            }
          },
          "CatchRollbackException": {
            "type": "Scope",
            "actions": {
              "CallCompensateForActionSpecificLogic": {
                "type": "Compose",
                "inputs": "@'Compensate:'",
                "runAfter": {}
              },
              "ScopeForFinishMessage_5": {
                "type": "Scope",
                "actions": {
                  "BuildFinishMessage_16e8bfc9": {
                    "type": "Scope",
                    "actions": {
                      "ConstructTheMessage_5": {
                        "type": "Compose",
                        "inputs": "@'finishMessageXml_5.LoadXml(\"<HwsMessage xmlns=''http://schemas.microsoft.com/Hws/2003/Hws_Finish''> <HwsSection HwsMessageType=''Hws_Finish'' xmlns=''''> <ActionInstanceID>ActionInstanceID_0</ActionInstanceID> </HwsSection> </HwsMessage>\");\r\nSelfFinishMessage_Out_5 = finishMessageXml_5'",
                        "runAfter": {}
                      },
                      "SetPropertiesOnTheMessage_5": {
                        "type": "Compose",
                        "inputs": "@'SelfFinishMessage_Out_5(Microsoft.BizTalk.Hws.HwsPromotedProperties.ScheduleInstanceID)=triggerBody()(Microsoft.BizTalk.Hws.HwsPromotedProperties.ScheduleInstanceID)'",
                        "runAfter": {
                          "ConstructTheMessage_5": [
                            "SUCCEEDED"
                          ]
                        }
                      }
                    },
                    "runAfter": {}
                  },
                  "ScopeForSendingFinishMessage": {
                    "type": "Scope",
                    "actions": {
                      "SendFinishMessage_4": {
                        "type": "Http",
                        "inputs": {
                          "method": "POST",
                          "uri": "http://localhost/service",
                          "body": "@triggerBody()",
                          "headers": {
                            "Content-Type": "application/json"
                          }
                        },
                        "runAfter": {}
                      },
                      "CatchPersistenceException": {
                        "type": "Scope",
                        "actions": {
                          "IgnorePublishException_6ba0492c": {
                            "type": "Compose",
                            "inputs": "@'// BizTalk exception type checking cannot be migrated to Logic Apps.\n// Original expression: persistenceException.InnerException.GetType() == typeof(Microsoft.XLANGs.BaseTypes.PublishMessageException)\n// Logic Apps Scope actions cannot introspect exception types at runtime.\n// Manual implementation required: Use runAfter conditions or status checks.'",
                            "runAfter": {}
                          }
                        },
                        "runAfter": {
                          "SendFinishMessage_4": [
                            "FAILED",
                            "TIMEDOUT",
                            "SKIPPED"
                          ]
                        }
                      }
                    },
                    "runAfter": {
                      "BuildFinishMessage_16e8bfc9": [
                        "SUCCEEDED"
                      ]
                    }
                  }
                },
                "runAfter": {
                  "CallCompensateForActionSpecificLogic": [
                    "SUCCEEDED"
                  ]
                }
              },
              "TerminateDueToRollbackInterrupt": {
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Failed",
                  "runError": {
                    "code": "Terminated",
                    "message": "eRollbackException.Message;"
                  }
                },
                "runAfter": {
                  "ScopeForFinishMessage_5": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {
              "Parallel_Join": [
                "SUCCEEDED"
              ]
            }
          },
          "CatchAbortException": {
            "type": "Scope",
            "actions": {
              "ScopeForFinishMessage_3": {
                "type": "Scope",
                "actions": {
                  "BuildFinishMessage_5dbfdc28": {
                    "type": "Scope",
                    "actions": {
                      "ConstructTheMessage_6": {
                        "type": "Compose",
                        "inputs": "@'finishMessageXml_3.LoadXml(\"<HwsMessage xmlns=''http://schemas.microsoft.com/Hws/2003/Hws_Finish''> <HwsSection HwsMessageType=''Hws_Finish'' xmlns=''''> <ActionInstanceID>ActionInstanceID_0</ActionInstanceID> </HwsSection> </HwsMessage>\");\r\nSelfFinishMessage_Out_3 = finishMessageXml_3'",
                        "runAfter": {}
                      },
                      "SetPropertiesOnTheMessage_6": {
                        "type": "Compose",
                        "inputs": "@'SelfFinishMessage_Out_3(Microsoft.BizTalk.Hws.HwsPromotedProperties.ScheduleInstanceID)=triggerBody()(Microsoft.BizTalk.Hws.HwsPromotedProperties.ScheduleInstanceID)'",
                        "runAfter": {
                          "ConstructTheMessage_6": [
                            "SUCCEEDED"
                          ]
                        }
                      }
                    },
                    "runAfter": {}
                  },
                  "ScopeForSendingFinishMessage_1": {
                    "type": "Scope",
                    "actions": {
                      "SendFinishMessage_5": {
                        "type": "Http",
                        "inputs": {
                          "method": "POST",
                          "uri": "http://localhost/service",
                          "body": "@triggerBody()",
                          "headers": {
                            "Content-Type": "application/json"
                          }
                        },
                        "runAfter": {}
                      },
                      "CatchPersistenceException_1": {
                        "type": "Scope",
                        "actions": {
                          "IgnorePublishException_b56a2900": {
                            "type": "Compose",
                            "inputs": "@'// BizTalk exception type checking cannot be migrated to Logic Apps.\n// Original expression: persistenceException.InnerException.GetType() == typeof(Microsoft.XLANGs.BaseTypes.PublishMessageException)\n// Logic Apps Scope actions cannot introspect exception types at runtime.\n// Manual implementation required: Use runAfter conditions or status checks.'",
                            "runAfter": {}
                          }
                        },
                        "runAfter": {
                          "SendFinishMessage_5": [
                            "FAILED",
                            "TIMEDOUT",
                            "SKIPPED"
                          ]
                        }
                      }
                    },
                    "runAfter": {
                      "BuildFinishMessage_5dbfdc28": [
                        "SUCCEEDED"
                      ]
                    }
                  }
                },
                "runAfter": {}
              },
              "TerminateDueToAbortInterrupt": {
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Failed",
                  "runError": {
                    "code": "Terminated",
                    "message": "eAbortException.Message;"
                  }
                },
                "runAfter": {
                  "ScopeForFinishMessage_3": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {
              "CatchRollbackException": [
                "FAILED",
                "TIMEDOUT",
                "SKIPPED"
              ]
            }
          },
          "CatchRollbackException_1": {
            "type": "Scope",
            "actions": {
              "CallCompensateForActionSpecificLogic_1": {
                "type": "Compose",
                "inputs": "@'Compensate:'",
                "runAfter": {}
              },
              "ScopeForFinishMessage_5_1": {
                "type": "Scope",
                "actions": {
                  "BuildFinishMessage_16e8bfc9_1": {
                    "type": "Scope",
                    "actions": {
                      "ConstructTheMessage_7": {
                        "type": "Compose",
                        "inputs": "@'finishMessageXml_5.LoadXml(\"<HwsMessage xmlns=''http://schemas.microsoft.com/Hws/2003/Hws_Finish''> <HwsSection HwsMessageType=''Hws_Finish'' xmlns=''''> <ActionInstanceID>ActionInstanceID_0</ActionInstanceID> </HwsSection> </HwsMessage>\");\r\nSelfFinishMessage_Out_5 = finishMessageXml_5'",
                        "runAfter": {}
                      },
                      "SetPropertiesOnTheMessage_7": {
                        "type": "Compose",
                        "inputs": "@'SelfFinishMessage_Out_5(Microsoft.BizTalk.Hws.HwsPromotedProperties.ScheduleInstanceID)=triggerBody()(Microsoft.BizTalk.Hws.HwsPromotedProperties.ScheduleInstanceID)'",
                        "runAfter": {
                          "ConstructTheMessage_7": [
                            "SUCCEEDED"
                          ]
                        }
                      }
                    },
                    "runAfter": {}
                  },
                  "ScopeForSendingFinishMessage_2": {
                    "type": "Scope",
                    "actions": {
                      "SendFinishMessage_6": {
                        "type": "Http",
                        "inputs": {
                          "method": "POST",
                          "uri": "http://localhost/service",
                          "body": "@triggerBody()",
                          "headers": {
                            "Content-Type": "application/json"
                          }
                        },
                        "runAfter": {}
                      },
                      "CatchPersistenceException_2": {
                        "type": "Scope",
                        "actions": {
                          "IgnorePublishException_6ba0492c_1": {
                            "type": "Compose",
                            "inputs": "@'// BizTalk exception type checking cannot be migrated to Logic Apps.\n// Original expression: persistenceException.InnerException.GetType() == typeof(Microsoft.XLANGs.BaseTypes.PublishMessageException)\n// Logic Apps Scope actions cannot introspect exception types at runtime.\n// Manual implementation required: Use runAfter conditions or status checks.'",
                            "runAfter": {}
                          }
                        },
                        "runAfter": {
                          "SendFinishMessage_6": [
                            "FAILED",
                            "TIMEDOUT",
                            "SKIPPED"
                          ]
                        }
                      }
                    },
                    "runAfter": {
                      "BuildFinishMessage_16e8bfc9_1": [
                        "SUCCEEDED"
                      ]
                    }
                  }
                },
                "runAfter": {
                  "CallCompensateForActionSpecificLogic_1": [
                    "SUCCEEDED"
                  ]
                }
              },
              "TerminateDueToRollbackInterrupt_1": {
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Failed",
                  "runError": {
                    "code": "Terminated",
                    "message": "eRollbackException.Message;"
                  }
                },
                "runAfter": {
                  "ScopeForFinishMessage_5_1": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {
              "CatchRollbackException": [
                "FAILED",
                "TIMEDOUT",
                "SKIPPED"
              ]
            }
          },
          "CatchUnknownExceptions": {
            "type": "Scope",
            "actions": {
              "CallCompensateForActionSpecificLogic_2": {
                "type": "Compose",
                "inputs": "@'Compensate:'",
                "runAfter": {}
              },
              "ScopeForFinishMessage_4": {
                "type": "Scope",
                "actions": {
                  "BuildFinishMessage_6e843c98": {
                    "type": "Scope",
                    "actions": {
                      "ConstructTheMessage_8": {
                        "type": "Compose",
                        "inputs": "@'finishMessageXml_4.LoadXml(\"<HwsMessage xmlns=''http://schemas.microsoft.com/Hws/2003/Hws_Finish''> <HwsSection HwsMessageType=''Hws_Finish'' xmlns=''''> <ActionInstanceID>ActionInstanceID_0</ActionInstanceID> </HwsSection> </HwsMessage>\");\r\nSelfFinishMessage_Out_4 = finishMessageXml_4'",
                        "runAfter": {}
                      },
                      "SetPropertiesOnTheMessage_8": {
                        "type": "Compose",
                        "inputs": "@'SelfFinishMessage_Out_4(Microsoft.BizTalk.Hws.HwsPromotedProperties.ScheduleInstanceID)=triggerBody()(Microsoft.BizTalk.Hws.HwsPromotedProperties.ScheduleInstanceID)'",
                        "runAfter": {
                          "ConstructTheMessage_8": [
                            "SUCCEEDED"
                          ]
                        }
                      }
                    },
                    "runAfter": {}
                  },
                  "ScopeForSendingFinishMessage_3": {
                    "type": "Scope",
                    "actions": {
                      "SendFinishMessage_7": {
                        "type": "Http",
                        "inputs": {
                          "method": "POST",
                          "uri": "http://localhost/service",
                          "body": "@triggerBody()",
                          "headers": {
                            "Content-Type": "application/json"
                          }
                        },
                        "runAfter": {}
                      },
                      "CatchPersistenceException_3": {
                        "type": "Scope",
                        "actions": {
                          "IgnorePublishException_95cc6a29": {
                            "type": "Compose",
                            "inputs": "@'// BizTalk exception type checking cannot be migrated to Logic Apps.\n// Original expression: persistenceException.InnerException.GetType() == typeof(Microsoft.XLANGs.BaseTypes.PublishMessageException)\n// Logic Apps Scope actions cannot introspect exception types at runtime.\n// Manual implementation required: Use runAfter conditions or status checks.'",
                            "runAfter": {}
                          }
                        },
                        "runAfter": {
                          "SendFinishMessage_7": [
                            "FAILED",
                            "TIMEDOUT",
                            "SKIPPED"
                          ]
                        }
                      }
                    },
                    "runAfter": {
                      "BuildFinishMessage_6e843c98": [
                        "SUCCEEDED"
                      ]
                    }
                  }
                },
                "runAfter": {
                  "CallCompensateForActionSpecificLogic_2": [
                    "SUCCEEDED"
                  ]
                }
              },
              "RethrowTheUnknownException": {
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Failed",
                  "runError": {
                    "code": "Terminated",
                    "message": ""
                  }
                },
                "runAfter": {
                  "ScopeForFinishMessage_4": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {
              "CatchRollbackException": [
                "FAILED",
                "TIMEDOUT",
                "SKIPPED"
              ]
            }
          }
        },
        "runAfter": {
          "ActivateAndSendInstanceIdBack": [
            "SUCCEEDED"
          ]
        }
      },
      "ReceiveFinishMessageFromParent_2": {
        "type": "Compose",
        "inputs": "// Unmapped: Response Receive response from ActionDirectBoundInPort (BizTalk correlation pattern - requires manual configuration)",
        "runAfter": {
          "ScopeForParallelStatement": [
            "SUCCEEDED"
          ]
        }
      },
      "WaitFor5Seconds": {
        "type": "Wait",
        "inputs": {
          "interval": {
            "count": 1,
            "unit": "Minute"
          }
        },
        "runAfter": {
          "ScopeForParallelStatement": [
            "SUCCEEDED"
          ]
        }
      },
      "ReceiveFinishMessageFromParent_3": {
        "type": "Compose",
        "inputs": "// Unmapped: Response Receive response from ActionDirectBoundInPort (BizTalk correlation pattern - requires manual configuration)",
        "runAfter": {
          "ScopeForParallelStatement": [
            "SUCCEEDED"
          ]
        }
      },
      "WaitFor5Seconds_1": {
        "type": "Wait",
        "inputs": {
          "interval": {
            "count": 1,
            "unit": "Minute"
          }
        },
        "runAfter": {
          "ScopeForParallelStatement": [
            "SUCCEEDED"
          ]
        }
      },
      "ListenForFinishMessageFromParent_Join": {
        "type": "Compose",
        "inputs": {
          "migrationWarning": "BizTalk Listen shape: only the FIRST branch should execute (race pattern). Logic Apps runs ALL branches in parallel. Manual review required.",
          "originalBizTalkShape": "Listen",
          "requiredAction": "Convert to Switch on status/timeout, or add Terminate actions to losing branches."
        },
        "runAfter": {
          "ReceiveFinishMessageFromParent_2": [
            "SUCCEEDED"
          ],
          "WaitFor5Seconds": [
            "SUCCEEDED"
          ],
          "ReceiveFinishMessageFromParent_3": [
            "SUCCEEDED"
          ],
          "WaitFor5Seconds_1": [
            "SUCCEEDED"
          ]
        }
      },
      "SendTaskMessageStaticPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "filePath": "C:\\Program Files (x86)\\Microsoft BizTalk Server 2016\\SDK\\Samples\\Hws\\Actions\\TaskMessage\\LastTaskMessage.xml",
            "body": "@triggerBody()"
          },
          "serviceProviderConfiguration": {
            "connectionName": "filesystem",
            "operationId": "createFile",
            "serviceProviderId": "/serviceProviders/fileSystem"
          }
        },
        "runAfter": {
          "ListenForFinishMessageFromParent_Join": [
            "SUCCEEDED"
          ]
        }
      },
      "SendTaskResponseMessagePort": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "http://localhost/HwsMessages/BtsHttpReceive.dll?InterruptAndResponse",
          "body": "@triggerBody()",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "runAfter": {
          "SendTaskMessageStaticPort": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {}
  }
}