BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/DoubleAction.workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "DefaultReceiveLocation": {
        "type": "Request",
        "kind": "Http"
      }
    },
    "actions": {
      "SubmitRNIFAPI": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "SubmitRNIFAPI",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {}
      },
      "ServiceContent": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "ServiceContent",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "SubmitRNIFAPI": [
            "SUCCEEDED"
          ]
        }
      },
      "ConstructServiceContent_74fe76a6": {
        "type": "Compose",
        "inputs": "@'ServiceContent = Microsoft.Solutions.BTARN.SDK.HeaderHelper.ReturnXmlForStringInput(ActionMessage.MessagesToLOB.ServiceContent,ActionMessage(Doubleaction.PropertySchema.PIPCode))'",
        "runAfter": {
          "ServiceContent": [
            "SUCCEEDED"
          ]
        }
      },
      "DecidePIPTypes_2f799937": {
        "type": "If",
        "expression": "@equals('PIPCode),\"0C2\")', true)",
        "actions": {
          "Construct0C2RequestMessage_6d2e58c7": {
            "type": "Compose",
            "inputs": "@'PIP0C2ReqMessage = ServiceContent'",
            "runAfter": {}
          },
          "Construct0C2ResponseMessage_42a642ac": {
            "type": "Xslt",
            "inputs": {
              "content": "@triggerBody()",
              "map": {
                "name": "_0C2RequestMessageTo0C2ResponseMessage",
                "type": "Xslt"
              },
              "transformOptions": "ApplyXsltTemplates"
            },
            "runAfter": {
              "Construct0C2RequestMessage_6d2e58c7": [
                "SUCCEEDED"
              ]
            }
          },
          "InvokeSubmitRNIFAPI_657f5ed8": {
            "type": "Compose",
            "inputs": "@'SubmitRNIFAPI.SubmitMessage(\r\n  Microsoft.Solutions.BTARN.Shared.MessageCategory.AsyncResponse,\r\nActionMessage(Doubleaction.PropertySchema.DestinationPartyName),\r\nActionMessage(Doubleaction.PropertySchema.SourcePartyName),\r\nActionMessage(Doubleaction.PropertySchema.PIPCode),\r\nActionMessage(Doubleaction.PropertySchema.PIPInstanceID),\r\nActionMessage(Doubleaction.PropertySchema.PIPVersion),\r\nMicrosoft.Solutions.BTARN.SDK.HeaderHelper.ReturnSCWithDocType(PIP0C2ResMessage,ActionMessage(Doubleaction.PropertySchema.PIPCode)))'",
            "runAfter": {
              "Construct0C2ResponseMessage_42a642ac": [
                "SUCCEEDED"
              ]
            }
          }
        },
        "else": {
          "actions": {
            "Construct0C4RequestMessage_d2956caa": {
              "type": "Compose",
              "inputs": "@'PIP0C4ReqMessage = ServiceContent'",
              "runAfter": {}
            },
            "Construct0C4ResponseMessage_2dfe202c": {
              "type": "Xslt",
              "inputs": {
                "content": "@triggerBody()",
                "map": {
                  "name": "_0C4RequestMessageTo0C4ResponseMessage",
                  "type": "Xslt"
                },
                "transformOptions": "ApplyXsltTemplates"
              },
              "runAfter": {
                "Construct0C4RequestMessage_d2956caa": [
                  "SUCCEEDED"
                ]
              }
            },
            "InvokeSubmitRNIFAPI_bedb4759": {
              "type": "Compose",
              "inputs": "@'SubmitRNIFAPI.SubmitMessage(\r\n  Microsoft.Solutions.BTARN.Shared.MessageCategory.AsyncResponse,\r\nActionMessage(Doubleaction.PropertySchema.DestinationPartyName),\r\nActionMessage(Doubleaction.PropertySchema.SourcePartyName),\r\nActionMessage(Doubleaction.PropertySchema.PIPCode),\r\nActionMessage(Doubleaction.PropertySchema.PIPInstanceID),\r\nActionMessage(Doubleaction.PropertySchema.PIPVersion),\r\nMicrosoft.Solutions.BTARN.SDK.HeaderHelper.ReturnSCWithDocType(PIP0C4ResMessage,ActionMessage(Doubleaction.PropertySchema.PIPCode)))'",
              "runAfter": {
                "Construct0C4ResponseMessage_2dfe202c": [
                  "SUCCEEDED"
                ]
              }
            }
          }
        },
        "runAfter": {
          "ConstructServiceContent_74fe76a6": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "DecidePIPTypes_2f799937": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {}
  }
}