BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/DynamicReceiveOrchestration_workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "DefaultReceiveLocation": {
        "type": "Request",
        "kind": "Http"
      }
    },
    "actions": {
      "server": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "server",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {}
      },
      "queueManager": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "queueManager",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "server": [
            "SUCCEEDED"
          ]
        }
      },
      "queue": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "queue",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "queueManager": [
            "SUCCEEDED"
          ]
        }
      },
      "resultCode": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "resultCode",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "queue": [
            "SUCCEEDED"
          ]
        }
      },
      "admin": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "admin",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "resultCode": [
            "SUCCEEDED"
          ]
        }
      },
      "Message_2": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "Message_2",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "admin": [
            "SUCCEEDED"
          ]
        }
      },
      "Scope_1": {
        "type": "Scope",
        "actions": {
          "ConstructMessage_1_804fab8e": {
            "type": "Compose",
            "inputs": "@'Message_2 = Message_1;\r\n\r\n//Create the queue from here or comment next 2 lines to create the queue else where\r\nadmin = (Microsoft.BizTalk.Adapter.MQS.Agent.IMQSAdmin2)\r\n(System.Activator.CreateInstance(\r\nSystem.Type.GetTypeFromProgID(\"MQSAdapterAdmin2.MQSAdmin\",server)));\r\n//This call would return ResultCode.QueueAlreadyExists if the queue already exists\r\nresultCode = admin.CreateQueue(queueManager,queue,\r\n Microsoft.BizTalk.Adapter.MQS.Agent.QueueUsage.Normal, \"\", \"\", \"\", 0);\r\n\r\n\r\n//This is a dynamic receive scenario\r\nMessage_2(MQSeries.DynamicReceive) = \"yes\";\r\n\r\n//Wait for 5s before trying to get messages\r\nMessage_2(MQSeries.WaitInterval) = 5;\r\n\r\n\r\n//Specify the dynamic receive address\r\nPort_2(Microsoft.XLANGs.BaseTypes.Address) = \"mqs://\" + server + \"/\" + queueManager + \"/\" + queue; \r\n\r\n//Now match messages with the following options...\r\n//Comment these out to get all messages\r\nMessage_2(MQSeries.MQMD_MsgId) = \"616130306161303062623030626230306161303061613030\";\r\nMessage_2(MQSeries.MQMD_CorrelId) = \"313131323133313431353136313731383139323032313232\"'",
            "runAfter": {}
          }
        },
        "runAfter": {
          "Message_2": [
            "SUCCEEDED"
          ]
        }
      },
      "Send_1": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "http://localhost/service",
          "body": "@triggerBody()",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "runAfter": {
          "Scope_1": [
            "SUCCEEDED"
          ]
        }
      },
      "Receive_2": {
        "type": "Compose",
        "inputs": "// Unmapped: Response Receive response from Port_2 (BizTalk correlation pattern - requires manual configuration)",
        "runAfter": {
          "Send_1": [
            "SUCCEEDED"
          ]
        }
      },
      "Scope_2": {
        "type": "Scope",
        "actions": {
          "Expression_1": {
            "type": "Compose",
            "inputs": "@'//Code to delete the dynamically created queue \r\n//after message was received\r\n\r\n\r\nadmin = (Microsoft.BizTalk.Adapter.MQS.Agent.IMQSAdmin2)\r\n(System.Activator.CreateInstance(\r\nSystem.Type.GetTypeFromProgID(\"MQSAdapterAdmin2.MQSAdmin\",server)));\r\n\r\n//Uncomment the following line to delete the queue\r\n//resultCode = admin.DeleteQueue(queueManager,queue)'",
            "runAfter": {}
          }
        },
        "runAfter": {
          "Receive_2": [
            "SUCCEEDED"
          ]
        }
      },
      "Send_2": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "http://localhost/service",
          "body": "@triggerBody()",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "runAfter": {
          "Scope_2": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "Send_2": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {}
  }
}