BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/EnviaNotificacionesPagos.workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "DefaultReceiveLocation": {
        "type": "Request",
        "kind": "Http"
      }
    },
    "actions": {
      "excepcion": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "excepcion",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {}
      },
      "procesoExterno": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "procesoExterno",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "excepcion": [
            "SUCCEEDED"
          ]
        }
      },
      "enProceso": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "enProceso",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "procesoExterno": [
            "SUCCEEDED"
          ]
        }
      },
      "recepcionArchivos": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "recepcionArchivos",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "enProceso": [
            "SUCCEEDED"
          ]
        }
      },
      "consultaProcesoExterno": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "consultaProcesoExterno",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "recepcionArchivos": [
            "SUCCEEDED"
          ]
        }
      },
      "procesoExternoDominio": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "procesoExternoDominio",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "consultaProcesoExterno": [
            "SUCCEEDED"
          ]
        }
      },
      "notificacionesPagoDominio": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "notificacionesPagoDominio",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "procesoExternoDominio": [
            "SUCCEEDED"
          ]
        }
      },
      "reintentos": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "reintentos",
              "type": "integer",
              "value": 0
            }
          ]
        },
        "runAfter": {
          "notificacionesPagoDominio": [
            "SUCCEEDED"
          ]
        }
      },
      "cuentaEnvios": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "cuentaEnvios",
              "type": "integer",
              "value": 0
            }
          ]
        },
        "runAfter": {
          "reintentos": [
            "SUCCEEDED"
          ]
        }
      },
      "configuracionesDominio": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "configuracionesDominio",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "cuentaEnvios": [
            "SUCCEEDED"
          ]
        }
      },
      "notificacionesPago": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "notificacionesPago",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "configuracionesDominio": [
            "SUCCEEDED"
          ]
        }
      },
      "resultadoEnvio": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "resultadoEnvio",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "notificacionesPago": [
            "SUCCEEDED"
          ]
        }
      },
      "entidadesPagos": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "entidadesPagos",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "resultadoEnvio": [
            "SUCCEEDED"
          ]
        }
      },
      "RecepcionPago": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "RecepcionPago",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "entidadesPagos": [
            "SUCCEEDED"
          ]
        }
      },
      "reproceso": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "reproceso",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "RecepcionPago": [
            "SUCCEEDED"
          ]
        }
      },
      "origenEnvioInformacion": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "origenEnvioInformacion",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "reproceso": [
            "SUCCEEDED"
          ]
        }
      },
      "IsNullOrEmpty": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "IsNullOrEmpty",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "origenEnvioInformacion": [
            "SUCCEEDED"
          ]
        }
      },
      "inicailiza_valores": {
        "type": "Compose",
        "inputs": "@'excepcion = new Sat.Scade.PagosCore.Modelo.Dominio.ManejoExcepcion();\r\nprocesoExterno = new Sat.Scade.Pagos.Modelo.Comun.ProcesoExternoPagos();\r\nenProceso = false'",
        "runAfter": {
          "IsNullOrEmpty": [
            "SUCCEEDED"
          ]
        }
      },
      "Genera_y_Envío_a_Cobranza": {
        "type": "Scope",
        "actions": {
          "Recupera_Banderas": {
            "type": "Compose",
            "inputs": "@'recepcionArchivos = (Sat.Scade.Pagos.Modelo.Comun.RecepcionArchivosBanco)Sat.Scade.PagosCore.Dominio.Utilerias.Deserializa(typeof(Sat.Scade.Pagos.Modelo.Comun.RecepcionArchivosBanco),RecepcionPago);\r\n\r\nconsultaProcesoExterno = new Sat.Scade.PagosCore.Dominio.ProcesosExternosDominio();\r\n\r\nprocesoExterno = new Sat.Scade.Pagos.Modelo.Comun.ProcesoExternoPagos();\r\nprocesoExterno.IdProcesoPago = recepcionArchivos.IdProceso;\r\nprocesoExterno.TipoProcesoExterno = origenEnvioInformacion.IdTipoProcesoExterno;\r\nprocesoExterno.Reproceso = reproceso;\r\nprocesoExterno = consultaProcesoExterno.ObtenerEstado(procesoExterno);\r\n\r\nnotificacionesPago = new Sat.Scade.Pagos.Modelo.Comun.NotificacionesPagos();\r\n\r\nif(procesoExterno.EstadoProcesoExterno == Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Reproceso)\r\n{\r\n    procesoExterno.EstadoProcesoExterno = procesoExterno.EstadoProcesoExternoAnterior;\r\n}\r\n\r\nnotificacionesPagoDominio = new Sat.Scade.PagosCore.Dominio.NotificacionesPagosDominio();\r\nnotificacionesPago = new Sat.Scade.Pagos.Modelo.Comun.NotificacionesPagos()'",
            "runAfter": {}
          },
          "Genera_archivos_para_Condonaciones": {
            "type": "Scope",
            "actions": {
              "XML_Generado_880d087e": {
                "type": "If",
                "expression": "@'procesoExterno.EstadoProcesoExterno == Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Pendiente || \r\nprocesoExterno.EstadoProcesoExterno == Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Rechazado'",
                "actions": {
                  "Genera_archivo_177ca3cc": {
                    "type": "Compose",
                    "inputs": "@'notificacionesPago = notificacionesPagoDominio.Generar(recepcionArchivos, procesoExterno.IdProcesoExterno, origenEnvioInformacion);\r\nprocesoExterno.EstadoProcesoExterno = Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Generado;\r\nprocesoExternoDominio.ActualizarEstado(procesoExterno)'",
                    "runAfter": {}
                  }
                },
                "else": {
                  "actions": {}
                },
                "runAfter": {}
              }
            },
            "runAfter": {
              "Recupera_Banderas": [
                "SUCCEEDED"
              ]
            }
          },
          "Envía_archivos_a_Condonaciones": {
            "type": "Scope",
            "actions": {
              "Verifica_si_el_archivo_ya_fue_generado_30bd8cca": {
                "type": "If",
                "expression": "@'procesoExterno.EstadoProcesoExterno == Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Generado ||\r\nprocesoExterno.EstadoProcesoExterno == Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Enviado ||\r\nprocesoExterno.EstadoProcesoExterno == Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.ErrorPlataforma'",
                "actions": {
                  "Verifica_si_es_reproceso_db4c590a": {
                    "type": "If",
                    "expression": "@and(variables('reproceso'), 'RutaArchivoCifras)')",
                    "actions": {
                      "Llama_al_reproceso_bd0d37f3": {
                        "type": "Compose",
                        "inputs": "@'System.Diagnostics.EventLog.WriteEntry(\"Pagos\",procesoExterno.IdProcesoExterno.ToString());\r\nnotificacionesPago = notificacionesPagoDominio.ObtenerRutaArchivosGenerico(procesoExterno.IdProcesoExterno)'",
                        "runAfter": {}
                      }
                    },
                    "else": {
                      "actions": {}
                    },
                    "runAfter": {}
                  },
                  "Recupera_reintentos_95aa0690": {
                    "type": "Compose",
                    "inputs": "@'System.Diagnostics.EventLog.WriteEntry(\"Pagos\",\"Recupera reintentos\");\r\nreintentos = System.Convert.ToInt32(configuracionesDominio.ObtenerConfiguracion(Sat.Scade.PagosCore.Dominio.ConstantesConfiguracion.REINTENTOSAUTOMATICOS));\r\ncuentaEnvios = 0'",
                    "runAfter": {
                      "Verifica_si_es_reproceso_db4c590a": [
                        "SUCCEEDED"
                      ]
                    }
                  },
                  "Until_e5facf5b": {
                    "type": "Until",
                    "expression": "@lessOrEquals(variables('reintentos'), variables('cuentaEnvios'))",
                    "limit": {
                      "count": 60,
                      "timeout": "PT1H"
                    },
                    "actions": {
                      "Envía_Archivos_Cobranza": {
                        "type": "Compose",
                        "inputs": "@'System.Diagnostics.EventLog.WriteEntry(\"Pagos\",\"Envío archivo TESOFE\");\r\nprocesoExterno.EstadoProcesoExterno = Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Enviado;\r\nprocesoExternoDominio.ActualizarEstado(procesoExterno);\r\nentidadesPagos = origenEnvioInformacion.EntidadesPagos;\r\nresultadoEnvio = notificacionesPagoDominio.EnviarArchivo(notificacionesPago, recepcionArchivos, origenEnvioInformacion);\r\nif (!resultadoEnvio)\r\n{\r\n\r\n    procesoExterno.EstadoProcesoExterno = Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.ErrorPlataforma;\r\n    procesoExternoDominio.ActualizarEstado(procesoExterno);\r\n    cuentaEnvios = cuentaEnvios + 1;\r\n}\r\nelse\r\n{\r\n    procesoExterno.EstadoProcesoExterno = Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Recibido;\r\n    procesoExternoDominio.ActualizarEstado(procesoExterno);\r\n    cuentaEnvios = reintentos;\r\n}'",
                        "runAfter": {}
                      }
                    },
                    "runAfter": {
                      "Recupera_reintentos_95aa0690": [
                        "SUCCEEDED"
                      ]
                    }
                  }
                },
                "else": {
                  "actions": {}
                },
                "runAfter": {}
              }
            },
            "runAfter": {
              "Genera_archivos_para_Condonaciones": [
                "SUCCEEDED"
              ]
            }
          },
          "CapturaError": {
            "type": "Scope",
            "actions": {
              "Cancela_Pago": {
                "type": "Compose",
                "inputs": "@'excepcion.Error = true;\r\nexcepcion.Mensaje = System.String.Format(\"Mensaje: {0}\", ExcepcionGenerica.Message);\r\nprocesoExternoDominio = new Sat.Scade.PagosCore.Dominio.ProcesosExternosDominio();\r\n\r\nprocesoExterno.EstadoProcesoExterno = Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Reproceso;\r\nprocesoExternoDominio.ActualizarEstado(procesoExterno);\r\n//Microsoft.Framework.Logger.EventViewer.Logger.EscribirEntradaError(ExcepcionGenerica,10000);\r\n\r\nMicrosoft.Framework.Logger.EventViewer.Logger.EscribirEntradaError(ExcepcionGenerica,Sat.Scade.PagosCore.Modelo.Dominio.IdentificadoresLogEventos.PROCESAMIENTO_00,\r\nSystem.String.Format(Sat.Scade.PagosCore.Modelo.Dominio.IdentificadoresLogEventos.E6000, procesoExterno.IdProcesoPago, procesoExterno.IdProcesoExterno, ExcepcionGenerica.Message))'",
                "runAfter": {}
              }
            },
            "runAfter": {
              "Envía_archivos_a_Condonaciones": [
                "FAILED",
                "TIMEDOUT",
                "SKIPPED"
              ]
            }
          },
          "Captura_Excepción_Negocio": {
            "type": "Scope",
            "actions": {
              "Pago_En_Proceso": {
                "type": "Compose",
                "inputs": "@'enProceso=true;\r\n//Microsoft.Framework.Logger.EventViewer.Logger.EscribirEntradaWarning(ExcepcionNegocio.Message,10000);\r\n\r\nMicrosoft.Framework.Logger.EventViewer.Logger.EscribirEntradaError(ExcepcionNegocio,Sat.Scade.PagosCore.Modelo.Dominio.IdentificadoresLogEventos.PROCESAMIENTO_00,\r\nSystem.String.Format(Sat.Scade.PagosCore.Modelo.Dominio.IdentificadoresLogEventos.E6000, procesoExterno.IdProcesoPago, procesoExterno.IdProcesoExterno, ExcepcionNegocio.Message))'",
                "runAfter": {}
              }
            },
            "runAfter": {
              "Envía_archivos_a_Condonaciones": [
                "FAILED",
                "TIMEDOUT",
                "SKIPPED"
              ]
            }
          }
        },
        "runAfter": {
          "inicailiza_valores": [
            "SUCCEEDED"
          ]
        }
      },
      "Verifica_el_proceso_de_la_orquestacion": {
        "type": "Scope",
        "actions": {
          "Verifica_si_la_transacción_se_encuetra_en_proceso_8c47ab98": {
            "type": "If",
            "expression": "@variables('enProceso')",
            "actions": {
              "Suspende_la_orquestación_2f30418e": {
                "type": "Scope",
                "actions": {
                  "Verifica_si_la_orquestación_debe_suspenderse_24026f96": {
                    "type": "If",
                    "expression": "@variables('excepcion')?['Error']",
                    "actions": {
                      "Suspende_la_orquestación_451e7542": {
                        "type": "Terminate",
                        "inputs": {
                          "runStatus": "Failed",
                          "runError": {
                            "code": "Terminated",
                            "message": "excepcion.Mensaje;"
                          }
                        },
                        "runAfter": {}
                      }
                    },
                    "else": {
                      "actions": {}
                    },
                    "runAfter": {}
                  }
                },
                "runAfter": {}
              },
              "Relanza_la_orquestación_b0e5978c": {
                "type": "Scope",
                "actions": {
                  "Obtener_Estado": {
                    "type": "Compose",
                    "inputs": "@'procesoExterno = new Sat.Scade.Pagos.Modelo.Comun.ProcesoExternoPagos();\r\nprocesoExterno.IdProcesoPago = recepcionArchivos.IdProceso;\r\nprocesoExterno.TipoProcesoExterno = (System.Int16)Sat.Scade.Pagos.Modelo.Comun.TipoProcesoExterno.ProcesaCuentaTributaria;\r\nprocesoExterno.Reproceso = true;\r\nprocesoExternoDominio = new Sat.Scade.PagosCore.Dominio.ProcesosExternosDominio();\r\nprocesoExterno = procesoExternoDominio.ObtenerEstado(procesoExterno);\r\nreproceso = true'",
                    "runAfter": {}
                  },
                  "Verifica_si_es_error_de_plataforma_c0259398": {
                    "type": "If",
                    "expression": "@equals(variables('procesoExterno')?['EstadoProcesoExterno'], 'Reproceso')",
                    "actions": {
                      "StartOrchestration_5_39f110e2": {
                        "type": "Workflow",
                        "inputs": {
                          "host": {
                            "workflow": {
                              "id": "GeneraEnviaAcuseBanco"
                            }
                          },
                          "body": {
                            "message": "@triggerBody()"
                          }
                        },
                        "runAfter": {}
                      }
                    },
                    "else": {
                      "actions": {}
                    },
                    "runAfter": {
                      "Obtener_Estado": [
                        "SUCCEEDED"
                      ]
                    }
                  }
                },
                "runAfter": {
                  "Suspende_la_orquestación_2f30418e": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "else": {
              "actions": {}
            },
            "runAfter": {}
          }
        },
        "runAfter": {
          "Genera_y_Envío_a_Cobranza": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "Verifica_el_proceso_de_la_orquestacion": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {}
  }
}