BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/ExceptionHandler_workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "DefaultReceiveLocation": {
        "type": "Request",
        "kind": "Http"
      }
    },
    "actions": {
      "IsDone": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "IsDone",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {}
      },
      "RetryCounter": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "RetryCounter",
              "type": "integer",
              "value": 0
            }
          ]
        },
        "runAfter": {
          "IsDone": [
            "SUCCEEDED"
          ]
        }
      },
      "Reason": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "Reason",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "RetryCounter": [
            "SUCCEEDED"
          ]
        }
      },
      "IsBadOrder": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "IsBadOrder",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "Reason": [
            "SUCCEEDED"
          ]
        }
      },
      "ErrorString": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "ErrorString",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "IsBadOrder": [
            "SUCCEEDED"
          ]
        }
      },
      "ExceptionObj": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "ExceptionObj",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "ErrorString": [
            "SUCCEEDED"
          ]
        }
      },
      "CalledObject": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "CalledObject",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "ExceptionObj": [
            "SUCCEEDED"
          ]
        }
      },
      "MethodName": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "MethodName",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "CalledObject": [
            "SUCCEEDED"
          ]
        }
      },
      "ParameterArray": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "ParameterArray",
              "type": "array",
              "value": []
            }
          ]
        },
        "runAfter": {
          "MethodName": [
            "SUCCEEDED"
          ]
        }
      },
      "OriginalMsg": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "OriginalMsg",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "ParameterArray": [
            "SUCCEEDED"
          ]
        }
      },
      "ReturnValue": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "ReturnValue",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "OriginalMsg": [
            "SUCCEEDED"
          ]
        }
      },
      "ObjectType": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "ObjectType",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "ReturnValue": [
            "SUCCEEDED"
          ]
        }
      },
      "RoutingInfo": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "RoutingInfo",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "ObjectType": [
            "SUCCEEDED"
          ]
        }
      },
      "OrderCorrelation": {
        "type": "Compose",
        "inputs": "@'// Unhandled shape type: CorrelationDeclaration'",
        "runAfter": {
          "RoutingInfo": [
            "SUCCEEDED"
          ]
        }
      },
      "Init_Variables": {
        "type": "Compose",
        "inputs": "@'ReturnValue = null'",
        "runAfter": {
          "OrderCorrelation": [
            "SUCCEEDED"
          ]
        }
      },
      "Until": {
        "type": "Until",
        "expression": "@'!(!IsDone)'",
        "limit": {
          "count": 60,
          "timeout": "PT1H"
        },
        "actions": {
          "Log_Event": {
            "type": "Compose",
            "inputs": "@concat('PostError(ErrorString', ': ', variables('ExceptionObj')?['ToString())'])",
            "runAfter": {}
          },
          "Error_Type_ef9ef22a": {
            "type": "If",
            "expression": "@'!Microsoft.Samples.BizTalk.SouthridgeVideo.Utilities.Recaller.IsApplicationException( ExceptionObj )'",
            "actions": {
              "Init_Loop_c711cf88": {
                "type": "Compose",
                "inputs": "@'RetryCounter = 3;\r\nIsApplicationException = false'",
                "runAfter": {}
              },
              "Until_41f5beb5": {
                "type": "Until",
                "expression": "@or(lessOrEquals(variables('RetryCounter'), 0), or('!(!IsApplicationException)', '!(!IsDone)'))",
                "limit": {
                  "count": 60,
                  "timeout": "PT1H"
                },
                "actions": {
                  "Check_Interrupt": {
                    "type": "Workflow",
                    "inputs": {
                      "host": {
                        "workflow": {
                          "id": "CheckInterruptOrch"
                        }
                      },
                      "body": {
                        "message": "@triggerBody()"
                      }
                    },
                    "runAfter": {}
                  },
                  "Delay_1_min": {
                    "type": "Wait",
                    "inputs": {
                      "interval": {
                        "count": 1,
                        "unit": "Minute"
                      }
                    },
                    "runAfter": {
                      "Check_Interrupt": [
                        "SUCCEEDED"
                      ]
                    }
                  },
                  "Calling_Code_Scope": {
                    "type": "Scope",
                    "actions": {
                      "Call_Original_Code": {
                        "type": "Compose",
                        "inputs": "@'ReturnValue = Microsoft.Samples.BizTalk.SouthridgeVideo.Utilities.Recaller.Invoke(ObjectType, CalledObject, MethodName, ParameterArray)'",
                        "runAfter": {}
                      },
                      "Done": {
                        "type": "Compose",
                        "inputs": "@'IsDone = true'",
                        "runAfter": {
                          "Call_Original_Code": [
                            "SUCCEEDED"
                          ]
                        }
                      },
                      "Catch_Exception": {
                        "type": "Scope",
                        "actions": {
                          "Get_Exception": {
                            "type": "Compose",
                            "inputs": "@'ExceptionObj = SysPathEx;\r\nIsApplicationException = Microsoft.Samples.BizTalk.SouthridgeVideo.Utilities.Recaller.IsApplicationException( SysPathEx )'",
                            "runAfter": {}
                          },
                          "Log_Event_1": {
                            "type": "Compose",
                            "inputs": "@'ToString())'",
                            "runAfter": {
                              "Get_Exception": [
                                "SUCCEEDED"
                              ]
                            }
                          },
                          "Exception_Type_d7a45aeb": {
                            "type": "If",
                            "expression": "@'!IsApplicationException'",
                            "actions": {
                              "Decr_Retries_3ea2db7b": {
                                "type": "Compose",
                                "inputs": "@'RetryCounter = RetryCounter - 1;\r\nIsDone = false'",
                                "runAfter": {}
                              }
                            },
                            "else": {
                              "actions": {
                                "App_Exception_1c9d37ff": {
                                  "type": "Compose",
                                  "inputs": "@'IsApplicationException = true;\r\nIsDone = false;\r\nRetryCounter = 0'",
                                  "runAfter": {}
                                }
                              }
                            },
                            "runAfter": {
                              "Log_Event_1": [
                                "SUCCEEDED"
                              ]
                            }
                          }
                        },
                        "runAfter": {
                          "Done": [
                            "FAILED",
                            "TIMEDOUT",
                            "SKIPPED"
                          ]
                        }
                      }
                    },
                    "runAfter": {
                      "Delay_1_min": [
                        "SUCCEEDED"
                      ]
                    }
                  }
                },
                "runAfter": {
                  "Init_Loop_c711cf88": [
                    "SUCCEEDED"
                  ]
                }
              },
              "Failed_Retries_8e10bedd": {
                "type": "If",
                "expression": "@and(equals(variables('RetryCounter'), 0), and('!IsApplicationException', '!IsDone'))",
                "actions": {
                  "Construct_Reason_4fdc3a12": {
                    "type": "Compose",
                    "inputs": "@'Reason = System.String.Concat( \"SystemException:\", ErrorString )'",
                    "runAfter": {}
                  },
                  "Call_Error_Handler_03ce168e": {
                    "type": "Workflow",
                    "inputs": {
                      "host": {
                        "workflow": {
                          "id": "ErrorHandlerOrch"
                        }
                      },
                      "body": {
                        "message": "@triggerBody()"
                      }
                    },
                    "runAfter": {
                      "Construct_Reason_4fdc3a12": [
                        "SUCCEEDED"
                      ]
                    }
                  }
                },
                "else": {
                  "actions": {}
                },
                "runAfter": {
                  "Until_41f5beb5": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "else": {
              "actions": {
                "Construct_Reason_30345ce6": {
                  "type": "Compose",
                  "inputs": "@'Reason = System.String.Concat( \"ApplicationException:\", ErrorString )'",
                  "runAfter": {}
                },
                "Call_Error_Handler_8f326ad1": {
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "workflow": {
                        "id": "ErrorHandlerOrch"
                      }
                    },
                    "body": {
                      "message": "@triggerBody()"
                    }
                  },
                  "runAfter": {
                    "Construct_Reason_30345ce6": [
                      "SUCCEEDED"
                    ]
                  }
                },
                "Calling_Code_Scope_9259cd70": {
                  "type": "Scope",
                  "actions": {
                    "Call_Original_Code_1": {
                      "type": "Compose",
                      "inputs": "@'ReturnValue = Microsoft.Samples.BizTalk.SouthridgeVideo.Utilities.Recaller.Invoke(ObjectType, CalledObject, MethodName, ParameterArray)'",
                      "runAfter": {}
                    },
                    "Done_1": {
                      "type": "Compose",
                      "inputs": "@'IsDone = true'",
                      "runAfter": {
                        "Call_Original_Code_1": [
                          "SUCCEEDED"
                        ]
                      }
                    },
                    "Catch_Exception_1": {
                      "type": "Scope",
                      "actions": {
                        "Not_Done": {
                          "type": "Compose",
                          "inputs": "@'ExceptionObj = AppPathEx;\r\nIsDone = false'",
                          "runAfter": {}
                        }
                      },
                      "runAfter": {
                        "Done_1": [
                          "FAILED",
                          "TIMEDOUT",
                          "SKIPPED"
                        ]
                      }
                    }
                  },
                  "runAfter": {
                    "Call_Error_Handler_8f326ad1": [
                      "SUCCEEDED"
                    ]
                  }
                }
              }
            },
            "runAfter": {
              "Log_Event": [
                "SUCCEEDED"
              ]
            }
          }
        },
        "runAfter": {
          "Init_Variables": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "Until": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {},
    "metadata": {
      "detectedPatterns": [
        {
          "name": "Exception Handling & Compensation",
          "description": "Handle errors and perform compensating actions",
          "recommendation": "Use Scope action with Configure Run After for error handling"
        }
      ],
      "optimizationApplied": true,
      "generatedBy": "BizTalk to Logic Apps Refactoring Tool",
      "generatedAt": "2026-02-15T15:30:11.9559623Z"
    }
  }
}