BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/GeneraEnviaArchivoCT (32)_workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "DefaultReceiveLocation": {
        "type": "Request",
        "kind": "Http"
      }
    },
    "actions": {
      "consultaProcesoExterno": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "consultaProcesoExterno",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {}
      },
      "procesoExterno": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "procesoExterno",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "consultaProcesoExterno": [
            "SUCCEEDED"
          ]
        }
      },
      "recepcionArchivos": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "recepcionArchivos",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "procesoExterno": [
            "SUCCEEDED"
          ]
        }
      },
      "cuentaDominio": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "cuentaDominio",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "recepcionArchivos": [
            "SUCCEEDED"
          ]
        }
      },
      "archivoCuenta": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "archivoCuenta",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "cuentaDominio": [
            "SUCCEEDED"
          ]
        }
      },
      "procesoExternoDominio": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "procesoExternoDominio",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "archivoCuenta": [
            "SUCCEEDED"
          ]
        }
      },
      "resultadoEnvio": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "resultadoEnvio",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "procesoExternoDominio": [
            "SUCCEEDED"
          ]
        }
      },
      "excepcion": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "excepcion",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "resultadoEnvio": [
            "SUCCEEDED"
          ]
        }
      },
      "enProceso": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "enProceso",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "excepcion": [
            "SUCCEEDED"
          ]
        }
      },
      "reintentos": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "reintentos",
              "type": "integer",
              "value": 0
            }
          ]
        },
        "runAfter": {
          "enProceso": [
            "SUCCEEDED"
          ]
        }
      },
      "cuentaEnvios": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "cuentaEnvios",
              "type": "integer",
              "value": 0
            }
          ]
        },
        "runAfter": {
          "reintentos": [
            "SUCCEEDED"
          ]
        }
      },
      "configuracionesDominio": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "configuracionesDominio",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "cuentaEnvios": [
            "SUCCEEDED"
          ]
        }
      },
      "RecepcionPago": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "RecepcionPago",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "configuracionesDominio": [
            "SUCCEEDED"
          ]
        }
      },
      "reproceso": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "reproceso",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "RecepcionPago": [
            "SUCCEEDED"
          ]
        }
      },
      "IsNullOrEmpty": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "IsNullOrEmpty",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "reproceso": [
            "SUCCEEDED"
          ]
        }
      },
      "inicailiza_valores": {
        "type": "Compose",
        "inputs": "@'excepcion = new Sat.Scade.PagosCore.Modelo.Dominio.ManejoExcepcion();\r\nprocesoExterno = new Sat.Scade.Pagos.Modelo.Comun.ProcesoExternoPagos();\r\nenProceso = false'",
        "runAfter": {
          "IsNullOrEmpty": [
            "SUCCEEDED"
          ]
        }
      },
      "Genera_y_Envío_a_Cuenta_Tributaria": {
        "type": "Scope",
        "actions": {
          "Recupera_Banderas": {
            "type": "Compose",
            "inputs": "@'recepcionArchivos = (Sat.Scade.Pagos.Modelo.Comun.RecepcionArchivosBanco)Sat.Scade.PagosCore.Dominio.Utilerias.Deserializa(typeof(Sat.Scade.Pagos.Modelo.Comun.RecepcionArchivosBanco),RecepcionPago);\r\n\r\nconsultaProcesoExterno = new Sat.Scade.PagosCore.Dominio.ProcesosExternosDominio();\r\n\r\nprocesoExterno = new Sat.Scade.Pagos.Modelo.Comun.ProcesoExternoPagos();\r\nprocesoExterno.IdProcesoPago = recepcionArchivos.IdProceso;\r\nprocesoExterno.TipoProcesoExterno = (System.Int16)Sat.Scade.Pagos.Modelo.Comun.TipoProcesoExterno.ProcesaCuentaTributaria;\r\nprocesoExterno.Reproceso = reproceso;\r\nprocesoExterno = consultaProcesoExterno.ObtenerEstado(procesoExterno);\r\nif(procesoExterno.EstadoProcesoExterno == Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Reproceso)\r\n{\r\n    procesoExterno.EstadoProcesoExterno = procesoExterno.EstadoProcesoExternoAnterior;\r\n}\r\ncuentaDominio = new Sat.Scade.PagosCore.Dominio.ArchivoCuentaTributariaDominio();\r\n\r\narchivoCuenta = new Sat.Scade.PagosCore.Modelo.Dominio.ArchivoCuentaTributaria()'",
            "runAfter": {}
          },
          "XML_Generado_8e3a7f9d": {
            "type": "If",
            "expression": "@'procesoExterno.EstadoProcesoExterno == Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Pendiente || \r\nprocesoExterno.EstadoProcesoExterno == Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Rechazado'",
            "actions": {
              "Genera_XML_CT_57ef5c65": {
                "type": "Compose",
                "inputs": "@'archivoCuenta = cuentaDominio.GenerarArchivo(recepcionArchivos.ArchivoCifras, procesoExterno);\r\narchivoCuenta.IdProcesoExterno = procesoExterno.IdProcesoExterno;\r\ncuentaDominio.RegistrarArchivo(archivoCuenta);\r\nprocesoExterno.EstadoProcesoExterno = Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Generado;\r\nprocesoExternoDominio.ActualizarEstado(procesoExterno)'",
                "runAfter": {}
              }
            },
            "else": {
              "actions": {}
            },
            "runAfter": {
              "Recupera_Banderas": [
                "SUCCEEDED"
              ]
            }
          },
          "Verifica_si_el_archivo_ya_fue_generado_9d27edf9": {
            "type": "If",
            "expression": "@'procesoExterno.EstadoProcesoExterno == Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Generado ||\r\nprocesoExterno.EstadoProcesoExterno == Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Enviado'",
            "actions": {
              "Verifica_si_es_reproceso_edcfe480": {
                "type": "If",
                "expression": "@and(variables('reproceso'), 'RutaArchivo)')",
                "actions": {
                  "Llama_al_reproceso_196d9fd7": {
                    "type": "Compose",
                    "inputs": "@'System.String.Format(Sat.Scade.PagosCore.Modelo.Dominio.IdentificadoresLogEventos.E6000, \"Es reproceso\", System.String.Empty, System.String.Empty);\r\narchivoCuenta = cuentaDominio.ObtenerRutaArchivosCuenta(procesoExterno.IdProcesoExterno)'",
                    "runAfter": {}
                  }
                },
                "else": {
                  "actions": {}
                },
                "runAfter": {}
              },
              "Recupera_reintentos_2fed9ae5": {
                "type": "Compose",
                "inputs": "@'reintentos = System.Convert.ToInt32(configuracionesDominio.ObtenerConfiguracion(Sat.Scade.PagosCore.Dominio.ConstantesConfiguracion.REINTENTOSAUTOMATICOS));\r\ncuentaEnvios = 0'",
                "runAfter": {
                  "Verifica_si_es_reproceso_edcfe480": [
                    "SUCCEEDED"
                  ]
                }
              },
              "Until_6ad673ef": {
                "type": "Until",
                "expression": "@lessOrEquals(variables('reintentos'), variables('cuentaEnvios'))",
                "limit": {
                  "count": 60,
                  "timeout": "PT1H"
                },
                "actions": {
                  "Envía_XML_CT": {
                    "type": "Compose",
                    "inputs": "@'procesoExterno.EstadoProcesoExterno = Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Enviado;\r\nprocesoExternoDominio.ActualizarEstado(procesoExterno);\r\n\r\nresultadoEnvio = cuentaDominio.EnviarArchivo(archivoCuenta);\r\nif (!resultadoEnvio)\r\n{\r\n\r\n    procesoExterno.EstadoProcesoExterno = Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.ErrorPlataforma;\r\n    procesoExternoDominio.ActualizarEstado(procesoExterno);\r\n    cuentaEnvios = cuentaEnvios + 1;\r\n}\r\nelse\r\n{\r\n    cuentaEnvios = reintentos;\r\n}\r\n\r\n\r\nSystem.Diagnostics.EventLog.WriteEntry(\"Pagos\",\"Envía XML para cuenta tributaria\")'",
                    "runAfter": {}
                  }
                },
                "runAfter": {
                  "Recupera_reintentos_2fed9ae5": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "else": {
              "actions": {}
            },
            "runAfter": {
              "XML_Generado_8e3a7f9d": [
                "SUCCEEDED"
              ]
            }
          },
          "CapturaError": {
            "type": "Scope",
            "actions": {
              "Cancela_Pago": {
                "type": "Compose",
                "inputs": "@'excepcion.Error = true;\r\nexcepcion.Mensaje = System.String.Format(\"Mensaje: {0}\", ExcepcionGenerica.Message);\r\nprocesoExternoDominio = new Sat.Scade.PagosCore.Dominio.ProcesosExternosDominio();\r\n\r\nprocesoExterno.EstadoProcesoExterno = Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Reproceso;\r\nprocesoExternoDominio.ActualizarEstado(procesoExterno);\r\n//Microsoft.Framework.Logger.EventViewer.Logger.EscribirEntradaError(ExcepcionGenerica,10000);\r\n\r\n\r\nMicrosoft.Framework.Logger.EventViewer.Logger.EscribirEntradaError(ExcepcionGenerica,Sat.Scade.PagosCore.Modelo.Dominio.IdentificadoresLogEventos.PROC_RECEPCION_ACUSE_CT_08,\r\nSystem.String.Format(Sat.Scade.PagosCore.Modelo.Dominio.IdentificadoresLogEventos.E6008, procesoExterno.IdProcesoPago, ExcepcionGenerica.Message))'",
                "runAfter": {}
              }
            },
            "runAfter": {
              "Verifica_si_el_archivo_ya_fue_generado_9d27edf9": [
                "FAILED",
                "TIMEDOUT",
                "SKIPPED"
              ]
            }
          },
          "Captura_Excepción_Negocio": {
            "type": "Scope",
            "actions": {
              "Pago_En_Proceso": {
                "type": "Compose",
                "inputs": "@'enProceso=true;\r\n//Microsoft.Framework.Logger.EventViewer.Logger.EscribirEntradaWarning(ExcepcionNegocio.Message,10000);\r\n\r\nMicrosoft.Framework.Logger.EventViewer.Logger.EscribirEntradaError(ExcepcionNegocio,Sat.Scade.PagosCore.Modelo.Dominio.IdentificadoresLogEventos.PROC_RECEPCION_ACUSE_CT_08,\r\nSystem.String.Format(Sat.Scade.PagosCore.Modelo.Dominio.IdentificadoresLogEventos.E6008, procesoExterno.IdProcesoPago, ExcepcionNegocio.Message))'",
                "runAfter": {}
              }
            },
            "runAfter": {
              "Verifica_si_el_archivo_ya_fue_generado_9d27edf9": [
                "FAILED",
                "TIMEDOUT",
                "SKIPPED"
              ]
            }
          }
        },
        "runAfter": {
          "inicailiza_valores": [
            "SUCCEEDED"
          ]
        }
      },
      "Verifica_si_la_transacción_se_encuetra_en_proceso_80aed01f": {
        "type": "If",
        "expression": "@variables('enProceso')",
        "actions": {
          "Verifica_si_la_orquestación_debe_suspenderse_33580be4": {
            "type": "If",
            "expression": "@variables('excepcion')?['Error']",
            "actions": {
              "Suspende_la_orquestación_2d13db09": {
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Failed",
                  "runError": {
                    "code": "Terminated",
                    "message": "excepcion.Mensaje;"
                  }
                },
                "runAfter": {}
              }
            },
            "else": {
              "actions": {}
            },
            "runAfter": {}
          },
          "Relanza_la_orquestación_2ee26761": {
            "type": "Scope",
            "actions": {
              "Obtener_Estado": {
                "type": "Compose",
                "inputs": "@'procesoExterno = new Sat.Scade.Pagos.Modelo.Comun.ProcesoExternoPagos();\r\nprocesoExterno.IdProcesoPago = recepcionArchivos.IdProceso;\r\nprocesoExterno.TipoProcesoExterno = (System.Int16)Sat.Scade.Pagos.Modelo.Comun.TipoProcesoExterno.ProcesaCuentaTributaria;\r\nprocesoExterno.Reproceso = true;\r\nprocesoExternoDominio = new Sat.Scade.PagosCore.Dominio.ProcesosExternosDominio();\r\nprocesoExterno = procesoExternoDominio.ObtenerEstado(procesoExterno);\r\nreproceso = true'",
                "runAfter": {}
              },
              "Verifica_si_es_error_de_plataforma_2b81e05a": {
                "type": "If",
                "expression": "@equals(variables('procesoExterno')?['EstadoProcesoExterno'], 'Reproceso')",
                "actions": {
                  "StartOrchestration_5_6e66a015": {
                    "type": "Workflow",
                    "inputs": {
                      "host": {
                        "workflow": {
                          "id": "GeneraEnviaAcuseBanco"
                        }
                      },
                      "body": {
                        "message": "@triggerBody()"
                      }
                    },
                    "runAfter": {}
                  }
                },
                "else": {
                  "actions": {}
                },
                "runAfter": {
                  "Obtener_Estado": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {
              "Verifica_si_la_orquestación_debe_suspenderse_33580be4": [
                "SUCCEEDED"
              ]
            }
          }
        },
        "else": {
          "actions": {}
        },
        "runAfter": {
          "Genera_y_Envío_a_Cuenta_Tributaria": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "Verifica_si_la_transacción_se_encuetra_en_proceso_80aed01f": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {},
    "metadata": {
      "detectedPatterns": [
        {
          "name": "Exception Handling & Compensation",
          "description": "Handle errors and perform compensating actions",
          "recommendation": "Use Scope action with Configure Run After for error handling"
        }
      ],
      "optimizationApplied": true,
      "generatedBy": "BizTalk to Logic Apps Refactoring Tool",
      "generatedAt": "2026-02-15T15:30:12.3204008Z"
    }
  }
}