BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/GeneraEnviaLoteNEPE_workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "DefaultReceiveLocation": {
        "type": "Request",
        "kind": "Http"
      }
    },
    "actions": {
      "procesoExternoDominio": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "procesoExternoDominio",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {}
      },
      "procesoExterno": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "procesoExterno",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "procesoExternoDominio": [
            "SUCCEEDED"
          ]
        }
      },
      "recepcionArchivos": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "recepcionArchivos",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "procesoExterno": [
            "SUCCEEDED"
          ]
        }
      },
      "loteNepeResponse": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "loteNepeResponse",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "recepcionArchivos": [
            "SUCCEEDED"
          ]
        }
      },
      "fechaProcesoCeros": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "fechaProcesoCeros",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "loteNepeResponse": [
            "SUCCEEDED"
          ]
        }
      },
      "loteNepeDominio": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "loteNepeDominio",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "fechaProcesoCeros": [
            "SUCCEEDED"
          ]
        }
      },
      "resultadoEnvioArchivosNepe": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "resultadoEnvioArchivosNepe",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "loteNepeDominio": [
            "SUCCEEDED"
          ]
        }
      },
      "excepcion": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "excepcion",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "resultadoEnvioArchivosNepe": [
            "SUCCEEDED"
          ]
        }
      },
      "enProceso": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "enProceso",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "excepcion": [
            "SUCCEEDED"
          ]
        }
      },
      "cuentaArchivoOperaciones": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "cuentaArchivoOperaciones",
              "type": "integer",
              "value": 0
            }
          ]
        },
        "runAfter": {
          "enProceso": [
            "SUCCEEDED"
          ]
        }
      },
      "numeroArchivosSeccionados": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "numeroArchivosSeccionados",
              "type": "integer",
              "value": 0
            }
          ]
        },
        "runAfter": {
          "cuentaArchivoOperaciones": [
            "SUCCEEDED"
          ]
        }
      },
      "generadorLotesDominio": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "generadorLotesDominio",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "numeroArchivosSeccionados": [
            "SUCCEEDED"
          ]
        }
      },
      "numeroPaginas": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "numeroPaginas",
              "type": "integer",
              "value": 0
            }
          ]
        },
        "runAfter": {
          "generadorLotesDominio": [
            "SUCCEEDED"
          ]
        }
      },
      "reintentos": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "reintentos",
              "type": "integer",
              "value": 0
            }
          ]
        },
        "runAfter": {
          "numeroPaginas": [
            "SUCCEEDED"
          ]
        }
      },
      "cuentaEnvios": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "cuentaEnvios",
              "type": "integer",
              "value": 0
            }
          ]
        },
        "runAfter": {
          "reintentos": [
            "SUCCEEDED"
          ]
        }
      },
      "configuracionesDominio": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "configuracionesDominio",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "cuentaEnvios": [
            "SUCCEEDED"
          ]
        }
      },
      "diasInicioProcesoCeros": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "diasInicioProcesoCeros",
              "type": "integer",
              "value": 0
            }
          ]
        },
        "runAfter": {
          "configuracionesDominio": [
            "SUCCEEDED"
          ]
        }
      },
      "configuraciones": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "configuraciones",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "diasInicioProcesoCeros": [
            "SUCCEEDED"
          ]
        }
      },
      "FechaInicioProceso": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "FechaInicioProceso",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "configuraciones": [
            "SUCCEEDED"
          ]
        }
      },
      "reenvioCeros": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "reenvioCeros",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "FechaInicioProceso": [
            "SUCCEEDED"
          ]
        }
      },
      "fechaPago": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "fechaPago",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "reenvioCeros": [
            "SUCCEEDED"
          ]
        }
      },
      "RecepcionPago": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "RecepcionPago",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "fechaPago": [
            "SUCCEEDED"
          ]
        }
      },
      "reproceso": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "reproceso",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "RecepcionPago": [
            "SUCCEEDED"
          ]
        }
      },
      "inicailiza_valores": {
        "type": "Compose",
        "inputs": "@'excepcion = new Sat.Scade.PagosCore.Modelo.Dominio.ManejoExcepcion();\r\nprocesoExterno = new Sat.Scade.Pagos.Modelo.Comun.ProcesoExternoPagos();\r\ngeneradorLotesDominio = new Sat.Scade.PagosCore.Dominio.GeneradorLotesDominio();\r\ncuentaArchivoOperaciones = 1;\r\nnumeroPaginas = 0;\r\nconfiguraciones = new Sat.Scade.PagosCore.Dominio.ConfiguracionesDominio();\r\nreenvioCeros = false'",
        "runAfter": {
          "reproceso": [
            "SUCCEEDED"
          ]
        }
      },
      "Genera_y_envía_lote_a_nepe": {
        "type": "Scope",
        "actions": {
          "Recupera_Banderas": {
            "type": "Compose",
            "inputs": "@'recepcionArchivos = (Sat.Scade.Pagos.Modelo.Comun.RecepcionArchivosBanco)Sat.Scade.PagosCore.Dominio.Utilerias.Deserializa(typeof(Sat.Scade.Pagos.Modelo.Comun.RecepcionArchivosBanco),RecepcionPago);\r\n\r\nprocesoExternoDominio = new Sat.Scade.PagosCore.Dominio.ProcesosExternosDominio();\r\n\r\nprocesoExterno = new Sat.Scade.Pagos.Modelo.Comun.ProcesoExternoPagos();\r\nprocesoExterno.IdProcesoPago = recepcionArchivos.IdProceso;\r\nprocesoExterno.TipoProcesoExterno = (System.Int16)Sat.Scade.Pagos.Modelo.Comun.TipoProcesoExterno.ProcesaLoteNEPE;\r\nprocesoExterno.Reproceso = reproceso;\r\nprocesoExterno = procesoExternoDominio.ObtenerEstado(procesoExterno);\r\n\r\nif (recepcionArchivos.Procesos == Sat.Scade.Pagos.Modelo.Comun.Procesos.ProcesoCeros)\r\n{\r\n    /*\r\n    diasInicioProcesoCeros = System.Convert.ToInt32(configuraciones.ObtenerConfiguracion(Sat.Scade.PagosCore.Dominio.ConstantesConfiguracion.DIASINICIOCEROS));\r\n    if (diasInicioProcesoCeros > 0)\r\n    {\r\n        diasInicioProcesoCeros = -1 * diasInicioProcesoCeros;\r\n    }\r\n    FechaInicioProceso = procesoExterno.FechaActual.AddDays(diasInicioProcesoCeros);\r\n    recepcionArchivos.FechaContingenciaCeros = FechaInicioProceso;\r\n    */\r\n    recepcionArchivos.FechaContingenciaCeros = fechaPago;\r\n}\r\n\r\nif(procesoExterno.EstadoProcesoExterno == Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Reproceso)\r\n{\r\n    procesoExterno.EstadoProcesoExterno = procesoExterno.EstadoProcesoExternoAnterior;\r\n}\r\n\r\nSystem.Diagnostics.EventLog.WriteEntry(\"Pagos\",\"Genera lote NEPE: \" + recepcionArchivos.IdProceso.ToString())'",
            "runAfter": {}
          },
          "El_archivo_ya_fue_generado_0702e421": {
            "type": "If",
            "expression": "@'//Se tiene que realizar un stored procedure que indique si el archivo ya fue generado con el idproceso externo correcto\r\n\r\nprocesoExterno.EstadoProcesoExterno == Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Pendiente || \r\nprocesoExterno.EstadoProcesoExterno == Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Rechazado'",
            "actions": {
              "obtiene_bandera_reenvio_ceros_69605b1e": {
                "type": "Compose",
                "inputs": "@'reenvioCeros = (recepcionArchivos.Procesos == Sat.Scade.Pagos.Modelo.Comun.Procesos.ContingenciaNepeCerosReenvios);\r\nSystem.Diagnostics.EventLog.WriteEntry(\"Pagos\", \"ReenvioCeros = \" + reenvioCeros.ToString());\r\nSystem.Diagnostics.EventLog.WriteEntry(\"Pagos\", \"recepcionArchivos.Procesos = \" + recepcionArchivos.Procesos.ToString())'",
                "runAfter": {}
              },
              "Si_es_reenvio_ceros_9a52008a": {
                "type": "If",
                "expression": "@or(variables('reenvioCeros'), equals(variables('recepcionArchivos')?['Procesos'], 'ComplementoNepeCeros'))",
                "actions": {
                  "Se_arma_documento_XML_40e11142": {
                    "type": "Compose",
                    "inputs": "@variables('generadorLotesDominio')?['PrepararXMLLoteCeros(recepcionArchivos']?['FechaContingenciaCeros, procesoExterno']?['IdProcesoPago)']",
                    "runAfter": {}
                  }
                },
                "else": {
                  "actions": {}
                },
                "runAfter": {
                  "obtiene_bandera_reenvio_ceros_69605b1e": [
                    "SUCCEEDED"
                  ]
                }
              },
              "Archivos_Seccionados_2d5b4db8": {
                "type": "Compose",
                "inputs": "@'if(recepcionArchivos.TipoProceso == Sat.Scade.Pagos.Modelo.Comun.TipoProceso.Ceros){\r\n    numeroPaginas = generadorLotesDominio.ObtenerDatosPaginacionCeros(recepcionArchivos.FechaContingenciaCeros, procesoExterno, reenvioCeros);\r\n}else{\r\n    numeroPaginas = generadorLotesDominio.ObtenerDatosPaginacionPagos(recepcionArchivos.IdProceso, procesoExterno.IdProcesoExterno);\r\n}'",
                "runAfter": {
                  "Si_es_reenvio_ceros_9a52008a": [
                    "SUCCEEDED"
                  ]
                }
              },
              "Si_hay_páginas_73586d44": {
                "type": "If",
                "expression": "@greater(variables('numeroPaginas'), 0)",
                "actions": {
                  "Until_298809ee": {
                    "type": "Until",
                    "expression": "@greater(variables('cuentaArchivoOperaciones'), variables('numeroPaginas'))",
                    "limit": {
                      "count": 60,
                      "timeout": "PT1H"
                    },
                    "actions": {
                      "StartOrchestration_1": {
                        "type": "Workflow",
                        "inputs": {
                          "host": {
                            "workflow": {
                              "id": "GeneraLote"
                            }
                          },
                          "body": {
                            "message": "@triggerBody()"
                          }
                        },
                        "runAfter": {}
                      },
                      "Aumenta_contador": {
                        "type": "Compose",
                        "inputs": "@'cuentaArchivoOperaciones = cuentaArchivoOperaciones+1'",
                        "runAfter": {
                          "StartOrchestration_1": [
                            "SUCCEEDED"
                          ]
                        }
                      }
                    },
                    "runAfter": {}
                  }
                },
                "else": {
                  "actions": {
                    "StartOrchestration_1_cdd14863": {
                      "type": "Workflow",
                      "inputs": {
                        "host": {
                          "workflow": {
                            "id": "GeneraLote"
                          }
                        },
                        "body": {
                          "message": "@triggerBody()"
                        }
                      },
                      "runAfter": {}
                    }
                  }
                },
                "runAfter": {
                  "Archivos_Seccionados_2d5b4db8": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "else": {
              "actions": {}
            },
            "runAfter": {
              "Recupera_Banderas": [
                "SUCCEEDED"
              ]
            }
          },
          "Verifica_si_el_archivo_se_puede_enviar_6b57a641": {
            "type": "If",
            "expression": "@'procesoExterno.EstadoProcesoExterno == Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Generado ||\r\nprocesoExterno.EstadoProcesoExterno == Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Enviado || \r\nprocesoExterno.EstadoProcesoExterno == Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.ErrorPlataforma'",
            "actions": {
              "Recupera_reintentos_965a803d": {
                "type": "Compose",
                "inputs": "@'loteNepeResponse = new Sat.Scade.PagosCore.Modelo.Dominio.LotesNepe();\r\nloteNepeResponse = loteNepeDominio.ConsultarLote(procesoExterno);\r\n\r\nreintentos = System.Convert.ToInt32(configuracionesDominio.ObtenerConfiguracion(Sat.Scade.PagosCore.Dominio.ConstantesConfiguracion.REINTENTOSAUTOMATICOS));\r\ncuentaEnvios = 0'",
                "runAfter": {}
              },
              "Until_58b71479": {
                "type": "Until",
                "expression": "@lessOrEquals(variables('reintentos'), variables('cuentaEnvios'))",
                "limit": {
                  "count": 60,
                  "timeout": "PT1H"
                },
                "actions": {
                  "Envía_Archivo": {
                    "type": "Compose",
                    "inputs": "@'System.Diagnostics.EventLog.WriteEntry(\"Pagos\",\"Envío archivo TESOFE\");\r\n    procesoExterno.EstadoProcesoExterno = Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Enviado;\r\n    procesoExternoDominio.ActualizarEstado(procesoExterno);\r\nresultadoEnvioArchivosNepe = loteNepeDominio.EnviarArchivosNepe(loteNepeResponse);\r\nif (!resultadoEnvioArchivosNepe)\r\n{\r\n\r\n    procesoExterno.EstadoProcesoExterno = Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.ErrorPlataforma;\r\n    procesoExternoDominio.ActualizarEstado(procesoExterno);\r\n   cuentaEnvios = cuentaEnvios + 1;\r\n}\r\nelse\r\n{\r\n    cuentaEnvios = reintentos;\r\n}'",
                    "runAfter": {}
                  }
                },
                "runAfter": {
                  "Recupera_reintentos_965a803d": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "else": {
              "actions": {}
            },
            "runAfter": {
              "El_archivo_ya_fue_generado_0702e421": [
                "SUCCEEDED"
              ]
            }
          },
          "Captura_Error": {
            "type": "Scope",
            "actions": {
              "Cancela_Pago": {
                "type": "Compose",
                "inputs": "@'excepcion.Error = true;\r\nexcepcion.Mensaje = System.String.Format(\"Mensaje: {0}\", ExcepcionGenerica.Message);\r\nprocesoExternoDominio = new Sat.Scade.PagosCore.Dominio.ProcesosExternosDominio();\r\n\r\nprocesoExterno.EstadoProcesoExterno = Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Reproceso;\r\nprocesoExternoDominio.ActualizarEstado(procesoExterno);\r\n//Microsoft.Framework.Logger.EventViewer.Logger.EscribirEntradaError(ExcepcionGenerica,10000);\r\n\r\nMicrosoft.Framework.Logger.EventViewer.Logger.EscribirEntradaError(ExcepcionGenerica,Sat.Scade.PagosCore.Modelo.Dominio.IdentificadoresLogEventos.PROC_ENVIO_PAGOS_NEPE_11,\r\nSystem.String.Format(Sat.Scade.PagosCore.Modelo.Dominio.IdentificadoresLogEventos.E6011, procesoExterno.IdProcesoPago, ExcepcionGenerica.Message))'",
                "runAfter": {}
              }
            },
            "runAfter": {
              "Verifica_si_el_archivo_se_puede_enviar_6b57a641": [
                "FAILED",
                "TIMEDOUT",
                "SKIPPED"
              ]
            }
          },
          "Captura_Error_Negocio": {
            "type": "Scope",
            "actions": {
              "Pago_En_Proceso": {
                "type": "Compose",
                "inputs": "@'enProceso=true;\r\n//Microsoft.Framework.Logger.EventViewer.Logger.EscribirEntradaWarning(ExcepcionNegocio.Message,10000);\r\n\r\nMicrosoft.Framework.Logger.EventViewer.Logger.EscribirEntradaError(ExcepcionNegocio,Sat.Scade.PagosCore.Modelo.Dominio.IdentificadoresLogEventos.PROC_ENVIO_PAGOS_NEPE_11,\r\nSystem.String.Format(Sat.Scade.PagosCore.Modelo.Dominio.IdentificadoresLogEventos.E6011, procesoExterno.IdProcesoPago, ExcepcionNegocio.Message))'",
                "runAfter": {}
              }
            },
            "runAfter": {
              "Verifica_si_el_archivo_se_puede_enviar_6b57a641": [
                "FAILED",
                "TIMEDOUT",
                "SKIPPED"
              ]
            }
          }
        },
        "runAfter": {
          "inicailiza_valores": [
            "SUCCEEDED"
          ]
        }
      },
      "Verifica_el_proceso_de_la_orquestacion": {
        "type": "Scope",
        "actions": {
          "Verifica_si_la_orquestación_debe_suspenderse_6f4cc3b0": {
            "type": "If",
            "expression": "@variables('excepcion')?['Error']",
            "actions": {
              "Suspende_la_orquestación_235c8d92": {
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Failed",
                  "runError": {
                    "code": "Terminated",
                    "message": "excepcion.Mensaje;"
                  }
                },
                "runAfter": {}
              }
            },
            "else": {
              "actions": {}
            },
            "runAfter": {}
          },
          "Relanza_la_orquestación": {
            "type": "Scope",
            "actions": {
              "Obtener_Estado": {
                "type": "Compose",
                "inputs": "@'procesoExterno = new Sat.Scade.Pagos.Modelo.Comun.ProcesoExternoPagos();\r\nprocesoExterno.IdProcesoPago = recepcionArchivos.IdProceso;\r\nprocesoExterno.TipoProcesoExterno = (System.Int16)Sat.Scade.Pagos.Modelo.Comun.TipoProcesoExterno.ProcesaLoteNEPE;\r\nprocesoExterno.Reproceso = true;\r\nprocesoExternoDominio = new Sat.Scade.PagosCore.Dominio.ProcesosExternosDominio();\r\nprocesoExterno = procesoExternoDominio.ObtenerEstado(procesoExterno);\r\nreproceso = true'",
                "runAfter": {}
              },
              "Verifica_si_es_error_de_plataforma_eb5c0178": {
                "type": "If",
                "expression": "@equals(variables('procesoExterno')?['EstadoProcesoExterno'], 'Reproceso')",
                "actions": {
                  "StartOrchestration_5_20c0b63e": {
                    "type": "Workflow",
                    "inputs": {
                      "host": {
                        "workflow": {
                          "id": "GeneraEnviaAcuseBanco"
                        }
                      },
                      "body": {
                        "message": "@triggerBody()"
                      }
                    },
                    "runAfter": {}
                  }
                },
                "else": {
                  "actions": {}
                },
                "runAfter": {
                  "Obtener_Estado": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {
              "Verifica_si_la_orquestación_debe_suspenderse_6f4cc3b0": [
                "SUCCEEDED"
              ]
            }
          }
        },
        "runAfter": {
          "Genera_y_envía_lote_a_nepe": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "Verifica_el_proceso_de_la_orquestacion": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {},
    "metadata": {
      "detectedPatterns": [
        {
          "name": "Exception Handling & Compensation",
          "description": "Handle errors and perform compensating actions",
          "recommendation": "Use Scope action with Configure Run After for error handling"
        }
      ],
      "optimizationApplied": true,
      "generatedBy": "BizTalk to Logic Apps Refactoring Tool",
      "generatedAt": "2026-02-15T15:30:12.5928137Z"
    }
  }
}