BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/GeneraEnviaAcuseBanco_workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "DefaultReceiveLocation": {
        "type": "Request",
        "kind": "Http"
      }
    },
    "actions": {
      "procesoExternoDominio": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "procesoExternoDominio",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {}
      },
      "procesoExterno": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "procesoExterno",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "procesoExternoDominio": [
            "SUCCEEDED"
          ]
        }
      },
      "recepcionArchivos": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "recepcionArchivos",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "procesoExterno": [
            "SUCCEEDED"
          ]
        }
      },
      "acuseBancoDominio": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "acuseBancoDominio",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "recepcionArchivos": [
            "SUCCEEDED"
          ]
        }
      },
      "acuseBanco": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "acuseBanco",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "acuseBancoDominio": [
            "SUCCEEDED"
          ]
        }
      },
      "excepcion": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "excepcion",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "acuseBanco": [
            "SUCCEEDED"
          ]
        }
      },
      "enProceso": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "enProceso",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "excepcion": [
            "SUCCEEDED"
          ]
        }
      },
      "reintentos": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "reintentos",
              "type": "integer",
              "value": 0
            }
          ]
        },
        "runAfter": {
          "enProceso": [
            "SUCCEEDED"
          ]
        }
      },
      "configuracionesDominio": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "configuracionesDominio",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "reintentos": [
            "SUCCEEDED"
          ]
        }
      },
      "cuentaEnvios": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "cuentaEnvios",
              "type": "integer",
              "value": 0
            }
          ]
        },
        "runAfter": {
          "configuracionesDominio": [
            "SUCCEEDED"
          ]
        }
      },
      "RecepcionPago": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "RecepcionPago",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "cuentaEnvios": [
            "SUCCEEDED"
          ]
        }
      },
      "reproceso": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "reproceso",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "RecepcionPago": [
            "SUCCEEDED"
          ]
        }
      },
      "IsNullOrEmpty": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "IsNullOrEmpty",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "reproceso": [
            "SUCCEEDED"
          ]
        }
      },
      "inicailiza_valores": {
        "type": "Compose",
        "inputs": "@'excepcion = new Sat.Scade.PagosCore.Modelo.Dominio.ManejoExcepcion();\r\nprocesoExterno = new Sat.Scade.Pagos.Modelo.Comun.ProcesoExternoPagos();\r\nenProceso = false'",
        "runAfter": {
          "IsNullOrEmpty": [
            "SUCCEEDED"
          ]
        }
      },
      "Envío_Acuse_a_Bancos": {
        "type": "Scope",
        "actions": {
          "Recupera_Banderas": {
            "type": "Compose",
            "inputs": "@'recepcionArchivos = (Sat.Scade.Pagos.Modelo.Comun.RecepcionArchivosBanco)Sat.Scade.PagosCore.Dominio.Utilerias.Deserializa(typeof(Sat.Scade.Pagos.Modelo.Comun.RecepcionArchivosBanco),RecepcionPago);\r\n\r\nprocesoExternoDominio = new Sat.Scade.PagosCore.Dominio.ProcesosExternosDominio();\r\n\r\nprocesoExterno = new Sat.Scade.Pagos.Modelo.Comun.ProcesoExternoPagos();\r\nprocesoExterno.IdProcesoPago = recepcionArchivos.IdProceso;\r\nprocesoExterno.TipoProcesoExterno = (System.Int16)Sat.Scade.Pagos.Modelo.Comun.TipoProcesoExterno.ProcesaAcuseBanco;\r\nprocesoExterno.Reproceso = reproceso;\r\nprocesoExterno = procesoExternoDominio.ObtenerEstado(procesoExterno);\r\n\r\nif(procesoExterno.EstadoProcesoExterno == Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Reproceso)\r\n{\r\n    procesoExterno.EstadoProcesoExterno = procesoExterno.EstadoProcesoExternoAnterior;\r\n}\r\n\r\nacuseBancoDominio = new Sat.Scade.PagosCore.Dominio.AcuseBancosDominio();\r\nacuseBanco = new Sat.Scade.PagosCore.Modelo.Dominio.AcuseBanco()'",
            "runAfter": {}
          },
          "Verifica_Validación_ea89c030": {
            "type": "If",
            "expression": "@'procesoExterno.EstadoProcesoExterno == Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Pendiente || \r\nprocesoExterno.EstadoProcesoExterno == Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Rechazado'",
            "actions": {
              "Genera_Acuse_Aceptación_f040568f": {
                "type": "Compose",
                "inputs": "@'acuseBanco = acuseBancoDominio.moverArchivoAcuse(recepcionArchivos, procesoExterno);\r\nprocesoExterno.EstadoProcesoExterno = Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Generado;\r\nprocesoExternoDominio.ActualizarEstado(procesoExterno);\r\n//System.Diagnostics.EventLog.WriteEntry(\"Pagos\",\"Envía Acuse\")'",
                "runAfter": {}
              }
            },
            "else": {
              "actions": {}
            },
            "runAfter": {
              "Recupera_Banderas": [
                "SUCCEEDED"
              ]
            }
          },
          "Validar_acuse_generado_863c960e": {
            "type": "If",
            "expression": "@'(procesoExterno.EstadoProcesoExterno == Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Generado || procesoExterno.EstadoProcesoExterno == Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Enviado) &&\r\nrecepcionArchivos.ArchivoCifras.TipoRecepcion != Sat.Scade.Pagos.Modelo.Comun.TiposRecepcion.Contingencia'",
            "actions": {
              "Verifica_si_es_reproceso_38300849": {
                "type": "If",
                "expression": "@and(variables('reproceso'), 'RutaAcuse)')",
                "actions": {
                  "Llama_al_reproceso_bc5efea6": {
                    "type": "Compose",
                    "inputs": "@'acuseBanco = acuseBancoDominio.ObtenerRutaAcuseBanco(procesoExterno.IdProcesoExterno);\r\nSystem.String.Format(Sat.Scade.PagosCore.Modelo.Dominio.IdentificadoresLogEventos.E6000, \"Es reproceso\")'",
                    "runAfter": {}
                  }
                },
                "else": {
                  "actions": {}
                },
                "runAfter": {}
              },
              "Recupera_reintentos_521f3311": {
                "type": "Compose",
                "inputs": "@'reintentos = System.Convert.ToInt32(configuracionesDominio.ObtenerConfiguracion(Sat.Scade.PagosCore.Dominio.ConstantesConfiguracion.REINTENTOSAUTOMATICOS));\r\ncuentaEnvios = 0'",
                "runAfter": {
                  "Verifica_si_es_reproceso_38300849": [
                    "SUCCEEDED"
                  ]
                }
              },
              "Until_a0134296": {
                "type": "Until",
                "expression": "@lessOrEquals(variables('reintentos'), variables('cuentaEnvios'))",
                "limit": {
                  "count": 60,
                  "timeout": "PT1H"
                },
                "actions": {
                  "Envía_Acuse": {
                    "type": "Compose",
                    "inputs": "@'procesoExterno.EstadoProcesoExterno = Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Enviado;\r\n    procesoExternoDominio.ActualizarEstado(procesoExterno);\r\n\r\nif (!acuseBancoDominio.EnviarAcuse(acuseBanco, recepcionArchivos.ArchivoCifras.IdBanco))\r\n{\r\n    procesoExterno.EstadoProcesoExterno = Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.ErrorPlataforma;\r\n    procesoExternoDominio.ActualizarEstado(procesoExterno);\r\n    cuentaEnvios = cuentaEnvios + 1;\r\n}\r\nelse\r\n{\r\n    cuentaEnvios = reintentos;\r\n}\r\n//System.Diagnostics.EventLog.WriteEntry(\"Pagos\",\"Envía Acuse\")'",
                    "runAfter": {}
                  }
                },
                "runAfter": {
                  "Recupera_reintentos_521f3311": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "else": {
              "actions": {}
            },
            "runAfter": {
              "Verifica_Validación_ea89c030": [
                "SUCCEEDED"
              ]
            }
          },
          "CapturaError": {
            "type": "Scope",
            "actions": {
              "Cancela_Pago": {
                "type": "Compose",
                "inputs": "@'excepcion.Error = true;\r\nexcepcion.Mensaje = System.String.Format(\"Mensaje: {0}\", ExcepcionGenerica.Message);\r\nprocesoExternoDominio = new Sat.Scade.PagosCore.Dominio.ProcesosExternosDominio();\r\n\r\nprocesoExterno.EstadoProcesoExterno = Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Reproceso;\r\n\r\nprocesoExternoDominio.ActualizarEstado(procesoExterno);\r\n//Microsoft.Framework.Logger.EventViewer.Logger.EscribirEntradaError(ExcepcionGenerica,10000);\r\n\r\nMicrosoft.Framework.Logger.EventViewer.Logger.EscribirEntradaError(ExcepcionGenerica,Sat.Scade.PagosCore.Modelo.Dominio.IdentificadoresLogEventos.PROC_ENVIO_ACUSE_BANCOS_03,\r\nSystem.String.Format(Sat.Scade.PagosCore.Modelo.Dominio.IdentificadoresLogEventos.E6003, procesoExterno.IdProcesoPago, procesoExterno.IdProcesoExterno, ExcepcionGenerica.Message))'",
                "runAfter": {}
              }
            },
            "runAfter": {
              "Validar_acuse_generado_863c960e": [
                "FAILED",
                "TIMEDOUT",
                "SKIPPED"
              ]
            }
          },
          "Captura_Excepción_Negocio": {
            "type": "Scope",
            "actions": {
              "Pago_En_Proceso": {
                "type": "Compose",
                "inputs": "@'enProceso=true;\r\n//Microsoft.Framework.Logger.EventViewer.Logger.EscribirEntradaWarning(ExcepcionNegocio.Message,10000);\r\n\r\nMicrosoft.Framework.Logger.EventViewer.Logger.EscribirEntradaError(ExcepcionNegocio,Sat.Scade.PagosCore.Modelo.Dominio.IdentificadoresLogEventos.PROC_ENVIO_ACUSE_BANCOS_03,\r\nSystem.String.Format(Sat.Scade.PagosCore.Modelo.Dominio.IdentificadoresLogEventos.E6003, procesoExterno.IdProcesoPago, procesoExterno.IdProcesoExterno, ExcepcionNegocio.Message))'",
                "runAfter": {}
              }
            },
            "runAfter": {
              "Validar_acuse_generado_863c960e": [
                "FAILED",
                "TIMEDOUT",
                "SKIPPED"
              ]
            }
          }
        },
        "runAfter": {
          "inicailiza_valores": [
            "SUCCEEDED"
          ]
        }
      },
      "Verifica_si_la_transacción_se_encuetra_en_proceso_93c25594": {
        "type": "If",
        "expression": "@variables('enProceso')",
        "actions": {
          "Verifica_si_la_orquestación_se_debe_suspender_9649b505": {
            "type": "If",
            "expression": "@variables('excepcion')?['Error']",
            "actions": {
              "Suspende_la_orquestación_cd0260e7": {
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Failed",
                  "runError": {
                    "code": "Terminated",
                    "message": "excepcion.Mensaje;"
                  }
                },
                "runAfter": {}
              }
            },
            "else": {
              "actions": {}
            },
            "runAfter": {}
          },
          "Relanza_la_orquestación_b2a6ab72": {
            "type": "Scope",
            "actions": {
              "Obtener_Estado": {
                "type": "Compose",
                "inputs": "@'procesoExterno = new Sat.Scade.Pagos.Modelo.Comun.ProcesoExternoPagos();\r\nprocesoExterno.IdProcesoPago = recepcionArchivos.IdProceso;\r\nprocesoExterno.TipoProcesoExterno = (System.Int16)Sat.Scade.Pagos.Modelo.Comun.TipoProcesoExterno.ProcesaAcuseBanco;\r\nprocesoExterno.Reproceso = true;\r\nprocesoExternoDominio = new Sat.Scade.PagosCore.Dominio.ProcesosExternosDominio();\r\nprocesoExterno = procesoExternoDominio.ObtenerEstado(procesoExterno);\r\nreproceso = true'",
                "runAfter": {}
              },
              "Verifica_si_es_error_de_plataforma_0dbdc93e": {
                "type": "If",
                "expression": "@equals(variables('procesoExterno')?['EstadoProcesoExterno'], 'Reproceso')",
                "actions": {
                  "StartOrchestration_5_770e9083": {
                    "type": "Until",
                    "expression": "@'// WARNING: Self-recursive Start detected. Converted to Until loop.\r\n// Original Start: Sat.Scade.PagosCore.Procesos.GeneraEnviaAcuseBanco\r\n@equals(variables(''retryComplete''), true)'",
                    "limit": {
                      "count": 60,
                      "timeout": "PT1H"
                    },
                    "actions": {},
                    "runAfter": {}
                  }
                },
                "else": {
                  "actions": {}
                },
                "runAfter": {
                  "Obtener_Estado": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {
              "Verifica_si_la_orquestación_se_debe_suspender_9649b505": [
                "SUCCEEDED"
              ]
            }
          }
        },
        "else": {
          "actions": {}
        },
        "runAfter": {
          "Envío_Acuse_a_Bancos": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "Verifica_si_la_transacción_se_encuetra_en_proceso_93c25594": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {},
    "metadata": {
      "detectedPatterns": [
        {
          "name": "Exception Handling & Compensation",
          "description": "Handle errors and perform compensating actions",
          "recommendation": "Use Scope action with Configure Run After for error handling"
        }
      ],
      "optimizationApplied": true,
      "generatedBy": "BizTalk to Logic Apps Refactoring Tool",
      "generatedAt": "2026-02-15T15:30:12.2624555Z"
    }
  }
}