BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/GeneraLote (24)_workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "DefaultReceiveLocation": {
        "type": "Request",
        "kind": "Http"
      }
    },
    "actions": {
      "procesoPago": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "procesoPago",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {}
      },
      "generadorLotesDominio": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "generadorLotesDominio",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "procesoPago": [
            "SUCCEEDED"
          ]
        }
      },
      "lsResultadoValidacion": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "lsResultadoValidacion",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "generadorLotesDominio": [
            "SUCCEEDED"
          ]
        }
      },
      "lbHayErrores": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "lbHayErrores",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "lsResultadoValidacion": [
            "SUCCEEDED"
          ]
        }
      },
      "loErroresLote": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "loErroresLote",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "lbHayErrores": [
            "SUCCEEDED"
          ]
        }
      },
      "loControlCeros": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "loControlCeros",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "loErroresLote": [
            "SUCCEEDED"
          ]
        }
      },
      "lbELotesCeros": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "lbELotesCeros",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "loControlCeros": [
            "SUCCEEDED"
          ]
        }
      },
      "loControl": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "loControl",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "lbELotesCeros": [
            "SUCCEEDED"
          ]
        }
      },
      "loArchivoLoteDominio": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "loArchivoLoteDominio",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "loControl": [
            "SUCCEEDED"
          ]
        }
      },
      "loteCompleto": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "loteCompleto",
              "type": "integer",
              "value": 0
            }
          ]
        },
        "runAfter": {
          "loArchivoLoteDominio": [
            "SUCCEEDED"
          ]
        }
      },
      "lbCifrasGeneradoOk": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "lbCifrasGeneradoOk",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "loteCompleto": [
            "SUCCEEDED"
          ]
        }
      },
      "procesoPagoDominio": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "procesoPagoDominio",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "lbCifrasGeneradoOk": [
            "SUCCEEDED"
          ]
        }
      },
      "esReenvio": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "esReenvio",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "procesoPagoDominio": [
            "SUCCEEDED"
          ]
        }
      },
      "cuentaBloques": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "cuentaBloques",
              "type": "integer",
              "value": 0
            }
          ]
        },
        "runAfter": {
          "esReenvio": [
            "SUCCEEDED"
          ]
        }
      },
      "recepcionArchivos": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "recepcionArchivos",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "cuentaBloques": [
            "SUCCEEDED"
          ]
        }
      },
      "esReproceso": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "esReproceso",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "recepcionArchivos": [
            "SUCCEEDED"
          ]
        }
      },
      "procesoExterno": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "procesoExterno",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "esReproceso": [
            "SUCCEEDED"
          ]
        }
      },
      "recepcionPago": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "recepcionPago",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "procesoExterno": [
            "SUCCEEDED"
          ]
        }
      },
      "procesoExternoDominio": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "procesoExternoDominio",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "recepcionPago": [
            "SUCCEEDED"
          ]
        }
      },
      "hayErrores": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "hayErrores",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "procesoExternoDominio": [
            "SUCCEEDED"
          ]
        }
      },
      "Action_0": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "Action_0",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "hayErrores": [
            "SUCCEEDED"
          ]
        }
      },
      "Action_1": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "Action_1",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "Action_0": [
            "SUCCEEDED"
          ]
        }
      },
      "Action_2": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "Action_2",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "Action_1": [
            "SUCCEEDED"
          ]
        }
      },
      "Expression_1": {
        "type": "Compose",
        "inputs": "@'lbCifrasGeneradoOk = false'",
        "runAfter": {
          "Action_2": [
            "SUCCEEDED"
          ]
        }
      },
      "Generación_de_lotes": {
        "type": "Scope",
        "actions": {
          "InicializarVariables": {
            "type": "Compose",
            "inputs": "@'System.Diagnostics.EventLog.WriteEntry(\"Pagos\",\"Inicia recuperar variables GenerarLote\");\r\n\r\nloArchivoLoteDominio = new Sat.Scade.PagosCore.Dominio.ArchivoLoteDominio();\r\nloControl = new Sat.Scade.PagosCore.Modelo.Dominio.ControlGeneracionLotes();\r\n\r\nesReenvio = (recepcionArchivos.Procesos == Sat.Scade.Pagos.Modelo.Comun.Procesos.ContingenciaNepeCerosReenvios)'",
            "runAfter": {}
          },
          "Aplica_vallidaciones": {
            "type": "Compose",
            "inputs": "@'generadorLotesDominio = new Sat.Scade.PagosCore.Dominio.GeneradorLotesDominio();\r\nlbELotesCeros = recepcionArchivos.TipoProceso == Sat.Scade.Pagos.Modelo.Comun.TipoProceso.Ceros;\r\n\r\nif(lbELotesCeros){\r\n    lsResultadoValidacion = generadorLotesDominio.ValidarLoteCeros(recepcionArchivos.FechaContingenciaCeros,procesoExterno.IdProcesoPago, procesoExterno.IdProcesoExterno, esReenvio, cuentaBloques);\r\n}else{\r\n    lsResultadoValidacion = generadorLotesDominio.ValidarLotePagos(recepcionArchivos.IdProceso, cuentaBloques);\r\n}\r\n\r\nlbHayErrores = lsResultadoValidacion.IndexOf(\"<Error>\") > 0;\r\n\r\nSystem.Diagnostics.EventLog.WriteEntry(\"Pagos\",\"Aplica validaciones, hayErrores = \" + lbHayErrores.ToString())'",
            "runAfter": {
              "InicializarVariables": [
                "SUCCEEDED"
              ]
            }
          },
          "Si_hubo_datos_e77e5704": {
            "type": "If",
            "expression": "@equals('IsNullOrEmpty(lsResultadoValidacion)', false)",
            "actions": {
              "Hubo_errores_en_la_validación_f1ed8aa3": {
                "type": "If",
                "expression": "@variables('lbHayErrores')",
                "actions": {
                  "Registra_Errores_8ca9c4d1": {
                    "type": "Compose",
                    "inputs": "@'//siempre se guarda en ControlGeneracionLotes\r\nloErroresLote = new Sat.Scade.PagosCore.Dominio.ControlGeneracionLotesDominio();\r\nloErroresLote.RegistraErrores(lsResultadoValidacion, procesoExterno.IdProcesoPago, procesoExterno.IdProcesoExterno, cuentaBloques);\r\nSystem.Diagnostics.EventLog.WriteEntry(\"LotePago\",\"Registra errores\")'",
                    "runAfter": {}
                  }
                },
                "else": {
                  "actions": {
                    "Construye_el_archivo_86bf7cc1": {
                      "type": "Compose",
                      "inputs": "@'System.Diagnostics.EventLog.WriteEntry(\"LotePago\",\"Construye archivo de operaciones\");\r\n\r\n//generar lote\r\nloArchivoLoteDominio.GenerarArchivoLote(lsResultadoValidacion, procesoExterno,  System.Convert.ToInt16(cuentaBloques), recepcionArchivos);\r\n\r\n//registra en control ceros\r\nif(lbELotesCeros){\r\n    loControlCeros = new Sat.Scade.PagosCore.Dominio.ControlLotesCerosDominio();\r\n    loControlCeros.InsertarControlCeros(procesoExterno.IdProcesoPago, procesoExterno.IdProcesoExterno, cuentaBloques, lsResultadoValidacion, recepcionArchivos.FechaContingenciaCeros);\r\n}\r\nSystem.Diagnostics.EventLog.WriteEntry(\"LotePago\",\"Fin Construye archivo de operaciones\")'",
                      "runAfter": {}
                    }
                  }
                },
                "runAfter": {}
              },
              "Scope_1_52789311": {
                "type": "Scope",
                "actions": {
                  "Actualiza_estado": {
                    "type": "Compose",
                    "inputs": "@'System.Diagnostics.EventLog.WriteEntry(\"LotePago\",\"Actualización estado \");\r\nloControl.IdArchivoNepe = System.Convert.ToInt16(cuentaBloques);\r\nloControl.IdProcesoExterno = procesoExterno.IdProcesoExterno;\r\nloControl.IdProcesoPago = procesoExterno.IdProcesoPago;\r\n\r\nif(lbELotesCeros){\r\n    loControl.IdTipoLote = Sat.Scade.Pagos.Modelo.Comun.TiposLote.Ceros;\r\n}else{\r\n    loControl.IdTipoLote = Sat.Scade.Pagos.Modelo.Comun.TiposLote.Pagos;\r\n}\r\n\r\n//Actualizar el estado en la tabla de control, fin con errores o fin sin errores\r\nif(lbHayErrores){\r\n    loControl.IdEstatusGenLote = Sat.Scade.Pagos.Modelo.Comun.EstatusGeneracionLotes.TerminadoConErrores;\r\n    loControl.RutaArchivo = null;\r\n}else{\r\n    loControl.IdEstatusGenLote = Sat.Scade.Pagos.Modelo.Comun.EstatusGeneracionLotes.TerminadoSinErrores;\r\n}\r\nloteCompleto = 0;\r\n//0=incompleto\r\n//1=completo sin errores\r\n//2=completo con errores\r\nloteCompleto = loErroresLote.ActualizarControlGeneracionLotes(loControl);\r\n\r\n//si error y cero, borrar control ceros\r\nif(lbELotesCeros && lbHayErrores){\r\n    loControlCeros.BorraControlCeros(procesoExterno.IdProcesoPago, procesoExterno.IdProcesoExterno);\r\n}\r\nSystem.Diagnostics.EventLog.WriteEntry(\"LotePago\",\"Fin Actualización estado \")'",
                    "runAfter": {}
                  },
                  "Verifica_si_el_lote_ya_fue_completado_4646ce08": {
                    "type": "If",
                    "expression": "@equals(variables('loteCompleto'), 1)",
                    "actions": {
                      "Genera_Lote_57a6d3c0": {
                        "type": "Compose",
                        "inputs": "@'System.Diagnostics.EventLog.WriteEntry(\"Pagos\",\"Genera archivo cifras\");\r\nloArchivoLoteDominio.GenerarArchivoCifras(procesoExterno, recepcionArchivos);\r\nloControl = loErroresLote.ConsultarControl(procesoExterno.IdProcesoPago, procesoExterno.IdProcesoExterno, System.Convert.ToInt16(cuentaBloques));\r\nlbCifrasGeneradoOk = loControl.IdEstatusGenLote == Sat.Scade.Pagos.Modelo.Comun.EstatusGeneracionLotes.TerminadoSinErrores;\r\n\r\nif(lbCifrasGeneradoOk){\r\n    procesoPago = new Sat.Scade.Pagos.Modelo.Comun.ProcesosPagos();\r\n    procesoPago.IdProcesoPago = procesoExterno.IdProcesoPago;\r\n    recepcionArchivos.Estado = Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosPagos.TerminaProceso;\r\n    procesoPago.EstadoProcesoPago = recepcionArchivos.Estado;\r\n\r\n    lbELotesCeros = recepcionArchivos.TipoProceso == Sat.Scade.Pagos.Modelo.Comun.TipoProceso.Ceros;\r\n\r\n/*\r\n    if(lbELotesCeros){\r\n        procesoPago.TipoProceso = Sat.Scade.Pagos.Modelo.Comun.TipoProceso.Ceros;\r\n    }else{\r\n        procesoPago.TipoProceso = Sat.Scade.Pagos.Modelo.Comun.TipoProceso.Pagos;\r\n    }\r\n*/\r\n\r\n    procesoPago.TipoProceso = recepcionArchivos.TipoProceso;\r\n    procesoPagoDominio = new Sat.Scade.PagosCore.Dominio.ProcesosPagosDominio();\r\n    System.Diagnostics.EventLog.WriteEntry(\"Pagos\",\"Inicio Actualizar proceso pago: \" + procesoPago.IdProcesoPago.ToString());\r\n    System.Diagnostics.EventLog.WriteEntry(\"Pagos\",\"Estado proceso pago: \" + procesoPago.EstadoProcesoPago.ToString());\r\n    procesoPagoDominio.ActualizarEstado(procesoPago);\r\n    System.Diagnostics.EventLog.WriteEntry(\"Pagos\",\"Fin Actualizar proceso pago: \" + procesoPago.IdProcesoPago.ToString());\r\n}\r\n\r\nSystem.Diagnostics.EventLog.WriteEntry(\"Pagos\",\"Fin Genera archivo cifras\")'",
                        "runAfter": {}
                      },
                      "StartOrchestration_1_ea51193c": {
                        "type": "Workflow",
                        "inputs": {
                          "host": {
                            "workflow": {
                              "id": "GeneraEnviaLoteNEPE"
                            }
                          },
                          "body": {
                            "message": "@triggerBody()"
                          }
                        },
                        "runAfter": {
                          "Genera_Lote_57a6d3c0": [
                            "SUCCEEDED"
                          ]
                        }
                      }
                    },
                    "else": {
                      "actions": {
                        "Verifica_si_el_lote_está_completo_con_errores_8c55e12d": {
                          "type": "If",
                          "expression": "@equals(variables('loteCompleto'), 2)",
                          "actions": {
                            "Marca_lote_retenido_b28ec179": {
                              "type": "Compose",
                              "inputs": "@'procesoExterno.EstadoProcesoExterno = Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Retenido;\r\nprocesoExternoDominio.ActualizarEstado(procesoExterno);\r\nSystem.Diagnostics.EventLog.WriteEntry(\"Pagos\",\"Marca lote como retenido\")'",
                              "runAfter": {}
                            }
                          },
                          "else": {
                            "actions": {}
                          },
                          "runAfter": {}
                        }
                      }
                    },
                    "runAfter": {
                      "Actualiza_estado": [
                        "SUCCEEDED"
                      ]
                    }
                  }
                },
                "runAfter": {
                  "Hubo_errores_en_la_validación_f1ed8aa3": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "else": {
              "actions": {
                "Genera_Lote_3769a705": {
                  "type": "Compose",
                  "inputs": "@'System.Diagnostics.EventLog.WriteEntry(\"Pagos\",\"Genera archivo cifras vacio\");\r\nloArchivoLoteDominio.GenerarArchivoCifras(procesoExterno, recepcionArchivos);\r\n\r\nlbELotesCeros = recepcionArchivos.TipoProceso == Sat.Scade.Pagos.Modelo.Comun.TipoProceso.Ceros;\r\n\r\nprocesoPago = new Sat.Scade.Pagos.Modelo.Comun.ProcesosPagos();\r\nprocesoPago.IdProcesoPago = procesoExterno.IdProcesoPago;\r\nrecepcionArchivos.Estado = Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosPagos.TerminaProceso;\r\nprocesoPago.EstadoProcesoPago = recepcionArchivos.Estado;\r\n\r\n\r\n/*\r\n    if(lbELotesCeros){\r\n        procesoPago.TipoProceso = Sat.Scade.Pagos.Modelo.Comun.TipoProceso.Ceros;\r\n    }else{\r\n        procesoPago.TipoProceso = Sat.Scade.Pagos.Modelo.Comun.TipoProceso.Pagos;\r\n    }\r\n*/\r\n\r\nprocesoPago.TipoProceso = recepcionArchivos.TipoProceso;\r\n\r\nprocesoPagoDominio = new Sat.Scade.PagosCore.Dominio.ProcesosPagosDominio();\r\nprocesoPagoDominio.ActualizarEstado(procesoPago);\r\n\r\nlbCifrasGeneradoOk = true;\r\n\r\nSystem.Diagnostics.EventLog.WriteEntry(\"Pagos\",\"Fin Genera archivo cifras vacio\")'",
                  "runAfter": {}
                },
                "StartOrchestration_1_b3135ade": {
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "workflow": {
                        "id": "GeneraEnviaLoteNEPE"
                      }
                    },
                    "body": {
                      "message": "@triggerBody()"
                    }
                  },
                  "runAfter": {
                    "Genera_Lote_3769a705": [
                      "SUCCEEDED"
                    ]
                  }
                }
              }
            },
            "runAfter": {
              "Aplica_vallidaciones": [
                "SUCCEEDED"
              ]
            }
          },
          "Captura_Excepcion_Generica": {
            "type": "Scope",
            "actions": {
              "ExcepcionGenerica": {
                "type": "Compose",
                "inputs": "@'//Microsoft.Framework.Logger.EventViewer.Logger.EscribirEntradaError(ExcepcionGenerica,1000);\r\n\r\nMicrosoft.Framework.Logger.EventViewer.Logger.EscribirEntradaError(ExcepcionGenerica,Sat.Scade.PagosCore.Modelo.Dominio.IdentificadoresLogEventos.PROC_GENERACION_LOTE_PAGOS_10,\r\nSystem.String.Format(Sat.Scade.PagosCore.Modelo.Dominio.IdentificadoresLogEventos.E6010, procesoExterno.IdProcesoPago, procesoExterno.IdProcesoExterno, ExcepcionGenerica.Message));\r\n\r\n\r\n//System.Diagnostics.EventLog.WriteEntry(\"LotePago\",ExcepcionGenerica.Error);\r\n//ACTUALIZAR ESTADO DE ERROR PLATAFORMA\r\nloControl = new Sat.Scade.PagosCore.Modelo.Dominio.ControlGeneracionLotes();\r\nloControl.IdArchivoNepe = System.Convert.ToInt16(cuentaBloques);\r\nloControl.IdProcesoExterno = procesoExterno.IdProcesoExterno;\r\nloControl.IdProcesoPago = procesoExterno.IdProcesoPago;\r\n\r\nif(lbELotesCeros){\r\n    loControl.IdTipoLote = Sat.Scade.Pagos.Modelo.Comun.TiposLote.Ceros;\r\n}else{\r\n    loControl.IdTipoLote = Sat.Scade.Pagos.Modelo.Comun.TiposLote.Pagos;\r\n}\r\n\r\nloControl.IdEstatusGenLote = Sat.Scade.Pagos.Modelo.Comun.EstatusGeneracionLotes.SuspendidoErrorplataforma;\r\nloControl.RutaArchivo = null;\r\n\r\nloteCompleto = 0;\r\nloteCompleto = loErroresLote.ActualizarControlGeneracionLotes(loControl);\r\n\r\nprocesoExterno.EstadoProcesoExterno = Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Reproceso;\r\nprocesoExternoDominio.ActualizarEstado(procesoExterno)'",
                "runAfter": {}
              },
              "Suspende_la_orquestación": {
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Failed",
                  "runError": {
                    "code": "Terminated",
                    "message": "ExcepcionGenerica.Message;"
                  }
                },
                "runAfter": {
                  "ExcepcionGenerica": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {
              "Si_hubo_datos_e77e5704": [
                "FAILED",
                "TIMEDOUT",
                "SKIPPED"
              ]
            }
          },
          "Captura_ExcepcionPlataforma": {
            "type": "Scope",
            "actions": {
              "ExcepcionGenerica_1": {
                "type": "Compose",
                "inputs": "@'//Microsoft.Framework.Logger.EventViewer.Logger.EscribirEntradaError(ExcepcionPlataforma,1000);\r\n\r\nMicrosoft.Framework.Logger.EventViewer.Logger.EscribirEntradaError(ExcepcionPlataforma,Sat.Scade.PagosCore.Modelo.Dominio.IdentificadoresLogEventos.PROC_GENERACION_LOTE_PAGOS_10,\r\nSystem.String.Format(Sat.Scade.PagosCore.Modelo.Dominio.IdentificadoresLogEventos.E6010, procesoExterno.IdProcesoPago, procesoExterno.IdProcesoExterno, ExcepcionPlataforma.Message));\r\n\r\n\r\n//System.Diagnostics.EventLog.WriteEntry(\"LotePago\",ExcepcionGenerica.Error);\r\n//ACTUALIZAR ESTADO DE ERROR PLATAFORMA\r\nloControl = new Sat.Scade.PagosCore.Modelo.Dominio.ControlGeneracionLotes();\r\nloControl.IdArchivoNepe = System.Convert.ToInt16(cuentaBloques);\r\nloControl.IdProcesoExterno = procesoExterno.IdProcesoExterno;\r\nloControl.IdProcesoPago = procesoExterno.IdProcesoPago;\r\n\r\nif(lbELotesCeros){\r\n    loControl.IdTipoLote = Sat.Scade.Pagos.Modelo.Comun.TiposLote.Ceros;\r\n}else{\r\n    loControl.IdTipoLote = Sat.Scade.Pagos.Modelo.Comun.TiposLote.Pagos;\r\n}\r\n\r\nloControl.IdEstatusGenLote = Sat.Scade.Pagos.Modelo.Comun.EstatusGeneracionLotes.SuspendidoErrorplataforma;\r\nloControl.RutaArchivo = null;\r\n\r\nloteCompleto = 0;\r\nloteCompleto = loErroresLote.ActualizarControlGeneracionLotes(loControl);\r\n\r\nprocesoExterno.EstadoProcesoExterno = Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Reproceso;\r\nprocesoExternoDominio.ActualizarEstado(procesoExterno)'",
                "runAfter": {}
              },
              "Suspende_la_orquestación_1": {
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Failed",
                  "runError": {
                    "code": "Terminated",
                    "message": "ExcepcionPlataforma.Message;"
                  }
                },
                "runAfter": {
                  "ExcepcionGenerica_1": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {
              "Si_hubo_datos_e77e5704": [
                "FAILED",
                "TIMEDOUT",
                "SKIPPED"
              ]
            }
          }
        },
        "runAfter": {
          "Expression_1": [
            "SUCCEEDED"
          ]
        }
      },
      "Decide_1_f8ee4396": {
        "type": "If",
        "expression": "@equals(variables('lbCifrasGeneradoOk'), false)",
        "actions": {
          "Relanza_la_orquestación_bf01a4ad": {
            "type": "Scope",
            "actions": {
              "Obtener_Estado": {
                "type": "Compose",
                "inputs": "@'//Recuperar el estado en el que se quedo de la tabla ControlGeneracionLotes\r\nloControl = loErroresLote.ConsultarControl(procesoExterno.IdProcesoPago, procesoExterno.IdProcesoExterno, System.Convert.ToInt16(cuentaBloques))'",
                "runAfter": {}
              },
              "Verifica_si_es_error_de_plataforma_d36aeb0e": {
                "type": "If",
                "expression": "@'//Solo si el estado de la genecion de lote es error plataforma\r\nloControl != null &&\r\nloControl.IdEstatusGenLote == Sat.Scade.Pagos.Modelo.Comun.EstatusGeneracionLotes.SuspendidoErrorplataforma'",
                "actions": {
                  "StartOrchestration_5_a563898d": {
                    "type": "Until",
                    "expression": "@'// WARNING: Self-recursive Start detected. Converted to Until loop.\r\n// Original Start: Sat.Scade.PagosCore.Procesos.GeneraLote\r\n@equals(variables(''retryComplete''), true)'",
                    "limit": {
                      "count": 60,
                      "timeout": "PT1H"
                    },
                    "actions": {},
                    "runAfter": {}
                  }
                },
                "else": {
                  "actions": {}
                },
                "runAfter": {
                  "Obtener_Estado": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {}
          }
        },
        "else": {
          "actions": {}
        },
        "runAfter": {
          "Generación_de_lotes": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "Decide_1_f8ee4396": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {},
    "metadata": {
      "detectedPatterns": [
        {
          "name": "Exception Handling & Compensation",
          "description": "Handle errors and perform compensating actions",
          "recommendation": "Use Scope action with Configure Run After for error handling"
        }
      ],
      "optimizationApplied": true,
      "generatedBy": "BizTalk to Logic Apps Refactoring Tool",
      "generatedAt": "2026-02-15T15:30:12.6728081Z"
    }
  }
}