BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/GeneraEnviaArchivoTesofe_workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "DefaultReceiveLocation": {
        "type": "Request",
        "kind": "Http"
      }
    },
    "actions": {
      "procesoExterno": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "procesoExterno",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {}
      },
      "procesoExternoDominio": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "procesoExternoDominio",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "procesoExterno": [
            "SUCCEEDED"
          ]
        }
      },
      "recepcionArchivos": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "recepcionArchivos",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "procesoExternoDominio": [
            "SUCCEEDED"
          ]
        }
      },
      "tesofeDominio": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "tesofeDominio",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "recepcionArchivos": [
            "SUCCEEDED"
          ]
        }
      },
      "archivoTesofe": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "archivoTesofe",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "tesofeDominio": [
            "SUCCEEDED"
          ]
        }
      },
      "resultadoEnvio": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "resultadoEnvio",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "archivoTesofe": [
            "SUCCEEDED"
          ]
        }
      },
      "excepcion": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "excepcion",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "resultadoEnvio": [
            "SUCCEEDED"
          ]
        }
      },
      "enProceso": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "enProceso",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "excepcion": [
            "SUCCEEDED"
          ]
        }
      },
      "reintentos": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "reintentos",
              "type": "integer",
              "value": 0
            }
          ]
        },
        "runAfter": {
          "enProceso": [
            "SUCCEEDED"
          ]
        }
      },
      "cuentaEnvios": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "cuentaEnvios",
              "type": "integer",
              "value": 0
            }
          ]
        },
        "runAfter": {
          "reintentos": [
            "SUCCEEDED"
          ]
        }
      },
      "configuracionesDominio": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "configuracionesDominio",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "cuentaEnvios": [
            "SUCCEEDED"
          ]
        }
      },
      "RecepcionPago": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "RecepcionPago",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "configuracionesDominio": [
            "SUCCEEDED"
          ]
        }
      },
      "reproceso": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "reproceso",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "RecepcionPago": [
            "SUCCEEDED"
          ]
        }
      },
      "IsNullOrEmpty": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "IsNullOrEmpty",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "reproceso": [
            "SUCCEEDED"
          ]
        }
      },
      "inicailiza_valores": {
        "type": "Compose",
        "inputs": "@'excepcion = new Sat.Scade.PagosCore.Modelo.Dominio.ManejoExcepcion();\r\nprocesoExterno = new Sat.Scade.Pagos.Modelo.Comun.ProcesoExternoPagos();\r\nenProceso = false'",
        "runAfter": {
          "IsNullOrEmpty": [
            "SUCCEEDED"
          ]
        }
      },
      "Genera_y_envía_archivo_TESOFE": {
        "type": "Scope",
        "actions": {
          "Recupera_Banderas": {
            "type": "Compose",
            "inputs": "@'System.Diagnostics.EventLog.WriteEntry(\"Pagos\",\"Genera Archivo TESOFE\");\r\nrecepcionArchivos = (Sat.Scade.Pagos.Modelo.Comun.RecepcionArchivosBanco)Sat.Scade.PagosCore.Dominio.Utilerias.Deserializa(typeof(Sat.Scade.Pagos.Modelo.Comun.RecepcionArchivosBanco),RecepcionPago);\r\n\r\nprocesoExternoDominio = new Sat.Scade.PagosCore.Dominio.ProcesosExternosDominio();\r\n\r\nprocesoExterno = new Sat.Scade.Pagos.Modelo.Comun.ProcesoExternoPagos();\r\nprocesoExterno.IdProcesoPago = recepcionArchivos.IdProceso;\r\nprocesoExterno.TipoProcesoExterno = (System.Int16)Sat.Scade.Pagos.Modelo.Comun.TipoProcesoExterno.ProcesaTesofe;\r\nprocesoExterno.Reproceso = reproceso;\r\nprocesoExterno = procesoExternoDominio.ObtenerEstado(procesoExterno);\r\nif(procesoExterno.EstadoProcesoExterno == Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Reproceso)\r\n{\r\n    procesoExterno.EstadoProcesoExterno = procesoExterno.EstadoProcesoExternoAnterior;\r\n}\r\n\r\narchivoTesofe = new Sat.Scade.PagosCore.Modelo.Dominio.ArchivoTesofe();\r\ntesofeDominio = new Sat.Scade.PagosCore.Dominio.ArchivoTesofeDominio();\r\nSystem.Diagnostics.EventLog.WriteEntry(\"Pagos\",\"Genera Archivo TESOFE\")'",
            "runAfter": {}
          },
          "El_archivo_ya_fue_generado_804ccfc6": {
            "type": "If",
            "expression": "@'//Se tiene que realizar un stored procedure que indique si el archivo ya fue generado con el idproceso externo correcto\r\n\r\nprocesoExterno.EstadoProcesoExterno == Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Pendiente || \r\nprocesoExterno.EstadoProcesoExterno == Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Rechazado'",
            "actions": {
              "Genera_Archivo_a_Tesofe_663b7cbc": {
                "type": "Compose",
                "inputs": "@'archivoTesofe = tesofeDominio.GenerarArchivo(recepcionArchivos.ArchivoCifras, procesoExterno);\r\narchivoTesofe.IdProcesoExterno = procesoExterno.IdProcesoExterno;\r\ntesofeDominio.RegistrarArchivo(archivoTesofe);\r\nprocesoExterno.EstadoProcesoExterno = Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Generado;\r\nprocesoExternoDominio.ActualizarEstado(procesoExterno);\r\nSystem.Diagnostics.EventLog.WriteEntry(\"Pagos\",\"Genera Archivo TESOFE\")'",
                "runAfter": {}
              }
            },
            "else": {
              "actions": {}
            },
            "runAfter": {
              "Recupera_Banderas": [
                "SUCCEEDED"
              ]
            }
          },
          "Verifica_si_el_archivo_se_puede_enviar_36e5382f": {
            "type": "If",
            "expression": "@'procesoExterno.EstadoProcesoExterno == Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Generado ||\r\nprocesoExterno.EstadoProcesoExterno == Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Enviado'",
            "actions": {
              "Verifica_si_es_reproceso_79bb16d5": {
                "type": "If",
                "expression": "@and(variables('reproceso'), 'RutaArchivoCifras)')",
                "actions": {
                  "Llama_al_reproceso_f3cf054d": {
                    "type": "Compose",
                    "inputs": "@'archivoTesofe = tesofeDominio.ObtenerRutaArchivoTesofe(procesoExterno.IdProcesoExterno);\r\nSystem.String.Format(Sat.Scade.PagosCore.Modelo.Dominio.IdentificadoresLogEventos.E6000, \"Es reproceso\")'",
                    "runAfter": {}
                  }
                },
                "else": {
                  "actions": {}
                },
                "runAfter": {}
              },
              "Recupera_reintentos_eb3dd4de": {
                "type": "Compose",
                "inputs": "@'System.Diagnostics.EventLog.WriteEntry(\"Pagos -TESOFE\",configuracionesDominio.ObtenerConfiguracion(Sat.Scade.PagosCore.Dominio.ConstantesConfiguracion.REINTENTOSAUTOMATICOS));\r\nreintentos = System.Convert.ToInt32(configuracionesDominio.ObtenerConfiguracion(Sat.Scade.PagosCore.Dominio.ConstantesConfiguracion.REINTENTOSAUTOMATICOS));\r\ncuentaEnvios = 0'",
                "runAfter": {
                  "Verifica_si_es_reproceso_79bb16d5": [
                    "SUCCEEDED"
                  ]
                }
              },
              "Until_dc9bac99": {
                "type": "Until",
                "expression": "@lessOrEquals(variables('reintentos'), variables('cuentaEnvios'))",
                "limit": {
                  "count": 60,
                  "timeout": "PT1H"
                },
                "actions": {
                  "Envía_Archivo": {
                    "type": "Compose",
                    "inputs": "@'System.Diagnostics.EventLog.WriteEntry(\"Pagos\",\"Envío archivo TESOFE\");\r\nprocesoExterno.EstadoProcesoExterno = Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Enviado;\r\n    procesoExternoDominio.ActualizarEstado(procesoExterno);\r\nresultadoEnvio = tesofeDominio.EnviarArchivo(archivoTesofe);\r\nif (!resultadoEnvio)\r\n{\r\n\r\n    procesoExterno.EstadoProcesoExterno = Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.ErrorPlataforma;\r\n    procesoExternoDominio.ActualizarEstado(procesoExterno);\r\n    cuentaEnvios = cuentaEnvios + 1;\r\n}\r\nelse\r\n{\r\n    cuentaEnvios = reintentos;\r\n}'",
                    "runAfter": {}
                  }
                },
                "runAfter": {
                  "Recupera_reintentos_eb3dd4de": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "else": {
              "actions": {}
            },
            "runAfter": {
              "El_archivo_ya_fue_generado_804ccfc6": [
                "SUCCEEDED"
              ]
            }
          },
          "Captura_Error": {
            "type": "Scope",
            "actions": {
              "Cancela_Pago": {
                "type": "Compose",
                "inputs": "@'excepcion.Error = true;\r\nexcepcion.Mensaje = System.String.Format(\"Mensaje: {0}\", ExcepcionGenerica.Message);\r\nprocesoExternoDominio = new Sat.Scade.PagosCore.Dominio.ProcesosExternosDominio();\r\n\r\nprocesoExterno.EstadoProcesoExterno = Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosExternos.Reproceso;\r\nprocesoExternoDominio.ActualizarEstado(procesoExterno);\r\n\r\n//Microsoft.Framework.Logger.EventViewer.Logger.EscribirEntradaError(ExcepcionGenerica,10000);\r\n\r\n\r\nMicrosoft.Framework.Logger.EventViewer.Logger.EscribirEntradaError(ExcepcionGenerica,Sat.Scade.PagosCore.Modelo.Dominio.IdentificadoresLogEventos.PROC_ENVIO_ACUSE_TESOFE_05,\r\nSystem.String.Format(Sat.Scade.PagosCore.Modelo.Dominio.IdentificadoresLogEventos.E6005, procesoExterno.IdProcesoPago, procesoExterno.IdProcesoExterno, ExcepcionGenerica.Message))'",
                "runAfter": {}
              }
            },
            "runAfter": {
              "Verifica_si_el_archivo_se_puede_enviar_36e5382f": [
                "FAILED",
                "TIMEDOUT",
                "SKIPPED"
              ]
            }
          },
          "Captura_Excepción_Negocio": {
            "type": "Scope",
            "actions": {
              "Pago_En_Proceso": {
                "type": "Compose",
                "inputs": "@'enProceso=true;\r\n//Microsoft.Framework.Logger.EventViewer.Logger.EscribirEntradaWarning(ExcepcionNegocio.Message,10000);\r\n\r\n\r\nMicrosoft.Framework.Logger.EventViewer.Logger.EscribirEntradaError(ExcepcionNegocio,Sat.Scade.PagosCore.Modelo.Dominio.IdentificadoresLogEventos.PROC_ENVIO_ACUSE_TESOFE_05,\r\nSystem.String.Format(Sat.Scade.PagosCore.Modelo.Dominio.IdentificadoresLogEventos.E6005, procesoExterno.IdProcesoPago, procesoExterno.IdProcesoExterno,  ExcepcionNegocio.Message))'",
                "runAfter": {}
              }
            },
            "runAfter": {
              "Verifica_si_el_archivo_se_puede_enviar_36e5382f": [
                "FAILED",
                "TIMEDOUT",
                "SKIPPED"
              ]
            }
          }
        },
        "runAfter": {
          "inicailiza_valores": [
            "SUCCEEDED"
          ]
        }
      },
      "Verifica_si_la_transacción_se_encuetra_en_proceso_b092e136": {
        "type": "If",
        "expression": "@variables('enProceso')",
        "actions": {
          "Verifica_si_la_orquestación_debe_suspenderse_c7477573": {
            "type": "If",
            "expression": "@variables('excepcion')?['Error']",
            "actions": {
              "Suspende_la_orquestación_0bae19d3": {
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Failed",
                  "runError": {
                    "code": "Terminated",
                    "message": "excepcion.Mensaje;"
                  }
                },
                "runAfter": {}
              }
            },
            "else": {
              "actions": {}
            },
            "runAfter": {}
          },
          "Relanza_la_orquestación_456ca1e5": {
            "type": "Scope",
            "actions": {
              "Obtener_Estado": {
                "type": "Compose",
                "inputs": "@'procesoExterno = new Sat.Scade.Pagos.Modelo.Comun.ProcesoExternoPagos();\r\nprocesoExterno.IdProcesoPago = recepcionArchivos.IdProceso;\r\nprocesoExterno.TipoProcesoExterno = (System.Int16)Sat.Scade.Pagos.Modelo.Comun.TipoProcesoExterno.ProcesaTesofe;\r\nprocesoExterno.Reproceso = true;\r\nprocesoExternoDominio = new Sat.Scade.PagosCore.Dominio.ProcesosExternosDominio();\r\nprocesoExterno = procesoExternoDominio.ObtenerEstado(procesoExterno);\r\nreproceso = true'",
                "runAfter": {}
              },
              "Verifica_si_es_error_de_plataforma_13cea861": {
                "type": "If",
                "expression": "@equals(variables('procesoExterno')?['EstadoProcesoExterno'], 'Reproceso')",
                "actions": {
                  "StartOrchestration_5_74f1aeae": {
                    "type": "Workflow",
                    "inputs": {
                      "host": {
                        "workflow": {
                          "id": "GeneraEnviaAcuseBanco"
                        }
                      },
                      "body": {
                        "message": "@triggerBody()"
                      }
                    },
                    "runAfter": {}
                  }
                },
                "else": {
                  "actions": {}
                },
                "runAfter": {
                  "Obtener_Estado": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {
              "Verifica_si_la_orquestación_debe_suspenderse_c7477573": [
                "SUCCEEDED"
              ]
            }
          }
        },
        "else": {
          "actions": {}
        },
        "runAfter": {
          "Genera_y_envía_archivo_TESOFE": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "Verifica_si_la_transacción_se_encuetra_en_proceso_b092e136": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {},
    "metadata": {
      "detectedPatterns": [
        {
          "name": "Exception Handling & Compensation",
          "description": "Handle errors and perform compensating actions",
          "recommendation": "Use Scope action with Configure Run After for error handling"
        }
      ],
      "optimizationApplied": true,
      "generatedBy": "BizTalk to Logic Apps Refactoring Tool",
      "generatedAt": "2026-02-15T15:30:12.5270406Z"
    }
  }
}