BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/GetOrder_workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "DefaultReceiveLocation": {
        "type": "Request",
        "kind": "Http"
      }
    },
    "actions": {
      "orderID": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "orderID",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {}
      },
      "partnerID": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "partnerID",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "orderID": [
            "SUCCEEDED"
          ]
        }
      },
      "OrderMessage": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "OrderMessage",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "partnerID": [
            "SUCCEEDED"
          ]
        }
      },
      "SystemFaultMessage": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "SystemFaultMessage",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "OrderMessage": [
            "SUCCEEDED"
          ]
        }
      },
      "Get_Params": {
        "type": "Compose",
        "inputs": "@'orderID = InquriyMsg.Request.OrderGroupId;\r\npartnerID = InquriyMsg.Request.SoldToName'",
        "runAfter": {
          "SystemFaultMessage": [
            "SUCCEEDED"
          ]
        }
      },
      "GetOrderScope": {
        "type": "Scope",
        "actions": {
          "Construct_Order_2aa6101c": {
            "type": "Compose",
            "inputs": "@'OrderMessage = Microsoft.Samples.BizTalk.Litware.Utilities.DBHelper.GetOrder(partnerID, orderID)'",
            "runAfter": {}
          },
          "CatchAllException": {
            "type": "Scope",
            "actions": {
              "SystemFaultMessage_d4fa6f67": {
                "type": "Compose",
                "inputs": "@'SystemFaultMessage = Microsoft.Samples.BizTalk.Litware.Utilities.ResourceHelper.GetEmptySystemFault();\r\nSystemFaultMessage.Message = e.Message;\r\nSystemFaultMessage.Trace = e.StackTrace'",
                "runAfter": {}
              },
              "Send_System_Fault": {
                "type": "Http",
                "inputs": {
                  "method": "POST",
                  "uri": "http://localhost/service",
                  "body": "@triggerBody()",
                  "headers": {
                    "Content-Type": "application/json"
                  }
                },
                "runAfter": {
                  "SystemFaultMessage_d4fa6f67": [
                    "SUCCEEDED"
                  ]
                }
              },
              "End_Orch": {
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Failed",
                  "runError": {
                    "code": "Terminated",
                    "message": "e.Message;"
                  }
                },
                "runAfter": {
                  "Send_System_Fault": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {
              "Construct_Order_2aa6101c": [
                "FAILED",
                "TIMEDOUT",
                "SKIPPED"
              ]
            }
          }
        },
        "runAfter": {
          "Get_Params": [
            "SUCCEEDED"
          ]
        }
      },
      "Send_Order": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "http://localhost/service",
          "body": "@triggerBody()",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "runAfter": {
          "GetOrderScope": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "Send_Order": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {},
    "metadata": {
      "detectedPatterns": [
        {
          "name": "Request-Reply (Synchronous)",
          "description": "Synchronous request-response pattern",
          "recommendation": "Use Request trigger with Response action (built-in pattern)"
        },
        {
          "name": "Exception Handling & Compensation",
          "description": "Handle errors and perform compensating actions",
          "recommendation": "Use Scope action with Configure Run After for error handling"
        }
      ],
      "optimizationApplied": true,
      "generatedBy": "BizTalk to Logic Apps Refactoring Tool",
      "generatedAt": "2026-02-15T15:30:12.7542475Z"
    }
  }
}