BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/HelloOrchestration_workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "HelloWorldReceiveLocation": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "path": "C:\\Program Files (x86)\\Microsoft BizTalk Server 2016\\SDK\\Samples\\Orchestrations\\HelloWorld\\In"
          },
          "serviceProviderConfiguration": {
            "connectionName": "azureblob",
            "operationId": "whenABlobIsAddedOrModified",
            "serviceProviderId": "/serviceProviders/AzureBlob"
          }
        },
        "kind": "Polling",
        "recurrence": {
          "frequency": "Minute",
          "interval": 1
        }
      }
    },
    "actions": {
      "ConstructInvoice_619c4eb0": {
        "type": "Xslt",
        "inputs": {
          "content": "@triggerBody()",
          "map": {
            "name": "POToInvoice",
            "type": "Xslt"
          },
          "transformOptions": "ApplyXsltTemplates"
        },
        "runAfter": {}
      },
      "SendInvoice": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "http://localhost/service",
          "body": "@triggerBody()",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "runAfter": {
          "ConstructInvoice_619c4eb0": [
            "SUCCEEDED"
          ]
        }
      },
      "HelloWorldSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "containerName": "container",
            "blobName": "%MessageID%.xml",
            "content": "@triggerBody()",
            "overrideIfExists": ""
          },
          "serviceProviderConfiguration": {
            "connectionName": "azureblob",
            "operationId": "uploadBlob",
            "serviceProviderId": "/serviceProviders/AzureBlob"
          }
        },
        "runAfter": {
          "SendInvoice": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {},
    "metadata": {
      "detectedPatterns": [
        {
          "name": "Message Translator",
          "description": "Transform message format from one schema to another",
          "recommendation": "Use Data Mapper for visual transformations, Parse XML/Compose XML for schema validation, or Liquid templates for complex mapping"
        }
      ],
      "optimizationApplied": true,
      "generatedBy": "BizTalk to Logic Apps Refactoring Tool",
      "generatedAt": "2026-02-15T15:30:12.8162435Z"
    }
  }
}