BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/Mainframe.workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "DefaultReceiveLocation": {
        "type": "Request",
        "kind": "Http"
      }
    },
    "actions": {
      "Receive_1": {
        "type": "Compose",
        "inputs": "// Unmapped: Response Receive response from Port_1 (BizTalk correlation pattern - requires manual configuration)",
        "runAfter": {}
      },
      "ConstructMessage_1_3a951c8c": {
        "type": "Compose",
        "inputs": "@null",
        "runAfter": {
          "Receive_1": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "ConstructMessage_1_3a951c8c": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {}
  }
}