BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/MQSCorrelationSolicitResponse.workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "DefaultReceiveLocation": {
        "type": "Request",
        "kind": "Http"
      }
    },
    "actions": {
      "ConstructMessage_1_28c7c419": {
        "type": "Compose",
        "inputs": "@'//use your Queue Manager and Queue name as appropriate\r\nMQSeriesRequestSendMessage=MQSRequestMessage;\r\nMQSeriesRequestSendMessage(MQSeries.MQMD_Report) = 768;\r\nMQSeriesRequestSendMessage(MQSeries.MQMD_ReplyToQ) = \"REPLYTOQ\";\r\nMQSeriesRequestSendMessage(MQSeries.MQMD_ReplyToQMgr) = \"DQM\"'",
        "runAfter": {}
      },
      "MQSeriesRequestSendModifiedAction": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "http://localhost/service",
          "body": "@triggerBody()",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "runAfter": {
          "ConstructMessage_1_28c7c419": [
            "SUCCEEDED"
          ]
        }
      },
      "Receive_1": {
        "type": "Compose",
        "inputs": "// Unmapped: Response Receive response from SolicitResponsePort (BizTalk correlation pattern - requires manual configuration)",
        "runAfter": {
          "MQSeriesRequestSendModifiedAction": [
            "SUCCEEDED"
          ]
        }
      },
      "Send_1": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "http://localhost/service",
          "body": "@triggerBody()",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "runAfter": {
          "Receive_1": [
            "SUCCEEDED"
          ]
        }
      },
      "MQSeriesResponseReceiveAction": {
        "type": "Compose",
        "inputs": "// Unmapped: Response Receive response from MQSeriesReponseReceivePort (BizTalk correlation pattern - requires manual configuration)",
        "runAfter": {
          "Send_1": [
            "SUCCEEDED"
          ]
        }
      },
      "FileSendAction": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "http://localhost/service",
          "body": "@triggerBody()",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "runAfter": {
          "MQSeriesResponseReceiveAction": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "FileSendAction": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {}
  }
}