BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/My Sample Service (41).workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "DefaultReceiveLocation": {
        "type": "Request",
        "kind": "Http"
      }
    },
    "actions": {
      "Scope_1": {
        "type": "Scope",
        "actions": {
          "Execute_Rules_Engine": {
            "type": "RuleExecute",
            "inputs": {
              "ruleSet": "",
              "ruleStore": "FileFolder"
            },
            "runAfter": {}
          }
        },
        "runAfter": {}
      },
      "Send_1": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "http://localhost/service",
          "body": "@triggerBody()",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "runAfter": {
          "Scope_1": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "Send_1": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {}
  }
}