BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/NewOrder (53)_workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "DefaultReceiveLocation": {
        "type": "Request",
        "kind": "Http"
      }
    },
    "actions": {
      "brokerID": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "brokerID",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {}
      },
      "callFailed": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "callFailed",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "brokerID": [
            "SUCCEEDED"
          ]
        }
      },
      "destination": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "destination",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "callFailed": [
            "SUCCEEDED"
          ]
        }
      },
      "retryCount": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "retryCount",
              "type": "integer",
              "value": 0
            }
          ]
        },
        "runAfter": {
          "destination": [
            "SUCCEEDED"
          ]
        }
      },
      "OrderMessage": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "OrderMessage",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "retryCount": [
            "SUCCEEDED"
          ]
        }
      },
      "GetBrokerID": {
        "type": "Compose",
        "inputs": "@'brokerID = BasketMessage(Microsoft.Samples.BizTalk.Litware.Schemas.SoldToName)'",
        "runAfter": {
          "OrderMessage": [
            "SUCCEEDED"
          ]
        }
      },
      "Get_Profile": {
        "type": "Workflow",
        "inputs": {
          "host": {
            "workflow": {
              "id": "GetUserProfile"
            }
          },
          "body": {
            "message": "@triggerBody()"
          }
        },
        "runAfter": {
          "GetBrokerID": [
            "SUCCEEDED"
          ]
        }
      },
      "Check__112d2ae4": {
        "type": "If",
        "expression": "@equals(false, variables('callFailed'))",
        "actions": {
          "Get_Email_38e3d616": {
            "type": "Compose",
            "inputs": "@'destination = Microsoft.Samples.BizTalk.Litware.Utilities.XmlHelper.GetPartnerEmail(ProfileMessage)'",
            "runAfter": {}
          },
          "Create_Empty_PO_306f5904": {
            "type": "Compose",
            "inputs": "@'OrderMessage = Microsoft.Samples.BizTalk.Litware.Utilities.ResourceHelper.GetEmptyOrderMessage()'",
            "runAfter": {
              "Get_Email_38e3d616": [
                "SUCCEEDED"
              ]
            }
          },
          "Until_55df06b7": {
            "type": "Until",
            "expression": "@greaterOrEquals(variables('retryCount'), 3)",
            "limit": {
              "count": 3,
              "timeout": "PT1H"
            },
            "actions": {
              "Place_Order": {
                "type": "Scope",
                "actions": {
                  "Send_Basket_to_Backend": {
                    "type": "Http",
                    "inputs": {
                      "method": "POST",
                      "uri": "http://localhost/service",
                      "body": "@triggerBody()",
                      "headers": {
                        "Content-Type": "application/json"
                      }
                    },
                    "runAfter": {}
                  },
                  "Recv_Order": {
                    "type": "Compose",
                    "inputs": "// Unmapped: Response Receive response from SendBasketPort (BizTalk correlation pattern - requires manual configuration)",
                    "runAfter": {
                      "Send_Basket_to_Backend": [
                        "SUCCEEDED"
                      ]
                    }
                  },
                  "Break_Loop": {
                    "type": "Compose",
                    "inputs": "@'retryCount = 3'",
                    "runAfter": {
                      "Recv_Order": [
                        "SUCCEEDED"
                      ]
                    }
                  },
                  "CatchBusinessException": {
                    "type": "Scope",
                    "actions": {
                      "Terminate__New_Order": {
                        "type": "Terminate",
                        "inputs": {
                          "runStatus": "Failed",
                          "runError": {
                            "code": "Terminated",
                            "message": "OrderSystemBusinessException.Message;"
                          }
                        },
                        "runAfter": {}
                      }
                    },
                    "runAfter": {
                      "Break_Loop": [
                        "FAILED",
                        "TIMEDOUT",
                        "SKIPPED"
                      ]
                    }
                  },
                  "CatchSystemException": {
                    "type": "Scope",
                    "actions": {
                      "Count": {
                        "type": "Compose",
                        "inputs": "@'retryCount = retryCount + 1'",
                        "runAfter": {}
                      },
                      "Check_Retry_Count_8f379ecb": {
                        "type": "If",
                        "expression": "@less(variables('retryCount'), 3)",
                        "actions": {
                          "Log_Susp_Error_80971834": {
                            "type": "Compose",
                            "inputs": "@concat('\"', 'Warning')",
                            "runAfter": {}
                          },
                          "Suspend_Update_8ed15101": {
                            "type": "Terminate",
                            "inputs": {
                              "runStatus": "Failed",
                              "runError": {
                                "code": "Terminated",
                                "message": "\"Please check if your connection to the Order system is configured correctly.\";"
                              }
                            },
                            "runAfter": {
                              "Log_Susp_Error_80971834": [
                                "SUCCEEDED"
                              ]
                            }
                          }
                        },
                        "else": {
                          "actions": {
                            "Log_Term_Error_74e4e6b4": {
                              "type": "Compose",
                              "inputs": "@concat('\"', 'Error')",
                              "runAfter": {}
                            },
                            "Terminate_Update_77fbb591": {
                              "type": "Terminate",
                              "inputs": {
                                "runStatus": "Failed",
                                "runError": {
                                  "code": "Terminated",
                                  "message": "\"Cannot fulfill order as call to submit basket failed.\";"
                                }
                              },
                              "runAfter": {
                                "Log_Term_Error_74e4e6b4": [
                                  "SUCCEEDED"
                                ]
                              }
                            }
                          }
                        },
                        "runAfter": {
                          "Count": [
                            "SUCCEEDED"
                          ]
                        }
                      }
                    },
                    "runAfter": {
                      "Break_Loop": [
                        "FAILED",
                        "TIMEDOUT",
                        "SKIPPED"
                      ]
                    }
                  },
                  "Catch_Exception": {
                    "type": "Scope",
                    "actions": {
                      "Inc_Retry_Count": {
                        "type": "Compose",
                        "inputs": "@'retryCount = retryCount + 1'",
                        "runAfter": {}
                      },
                      "Check_Retry_Count_90f99cdf": {
                        "type": "If",
                        "expression": "@less(variables('retryCount'), 3)",
                        "actions": {
                          "Log_Susp_Error_7cd07531": {
                            "type": "Compose",
                            "inputs": "@concat('\"', 'ex')",
                            "runAfter": {}
                          },
                          "Suspend_Update_76433813": {
                            "type": "Terminate",
                            "inputs": {
                              "runStatus": "Failed",
                              "runError": {
                                "code": "Terminated",
                                "message": "\"Please check if your connection to the Order system is configured correctly.\";"
                              }
                            },
                            "runAfter": {
                              "Log_Susp_Error_7cd07531": [
                                "SUCCEEDED"
                              ]
                            }
                          }
                        },
                        "else": {
                          "actions": {
                            "Log_Term_Error_df622c8d": {
                              "type": "Compose",
                              "inputs": "@concat('\"', 'ex')",
                              "runAfter": {}
                            },
                            "Terminate_Update_f34fa091": {
                              "type": "Terminate",
                              "inputs": {
                                "runStatus": "Failed",
                                "runError": {
                                  "code": "Terminated",
                                  "message": "\"Cannot fulfill order as call to submit basket failed.\";"
                                }
                              },
                              "runAfter": {
                                "Log_Term_Error_df622c8d": [
                                  "SUCCEEDED"
                                ]
                              }
                            }
                          }
                        },
                        "runAfter": {
                          "Inc_Retry_Count": [
                            "SUCCEEDED"
                          ]
                        }
                      }
                    },
                    "runAfter": {
                      "Break_Loop": [
                        "FAILED",
                        "TIMEDOUT",
                        "SKIPPED"
                      ]
                    }
                  }
                },
                "runAfter": {}
              }
            },
            "runAfter": {
              "Create_Empty_PO_306f5904": [
                "SUCCEEDED"
              ]
            }
          },
          "Vendor_Confirm_a7bbf9f3": {
            "type": "Workflow",
            "inputs": {
              "host": {
                "workflow": {
                  "id": "ConfirmOrderWithVendors"
                }
              },
              "body": {
                "message": "@triggerBody()"
              }
            },
            "runAfter": {
              "Until_55df06b7": [
                "SUCCEEDED"
              ]
            }
          },
          "Broker_Confirm_8f2d4634": {
            "type": "Workflow",
            "inputs": {
              "host": {
                "workflow": {
                  "id": "ConfirmOrderWithBroker"
                }
              },
              "body": {
                "message": "@triggerBody()"
              }
            },
            "runAfter": {
              "Vendor_Confirm_a7bbf9f3": [
                "SUCCEEDED"
              ]
            }
          }
        },
        "else": {
          "actions": {
            "Notify_Admin_46b61cc7": {
              "type": "Compose",
              "inputs": "@'System.Diagnostics.EventLog.WriteEntry(\"Litware Scenario\", \"Unable to find partner profile with Broker ID = \" + brokerID, System.Diagnostics.EventLogEntryType.Error)'",
              "runAfter": {}
            }
          }
        },
        "runAfter": {
          "Get_Profile": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "Check__112d2ae4": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {},
    "metadata": {
      "detectedPatterns": [
        {
          "name": "Aggregator",
          "description": "Collect and combine multiple messages into a single message",
          "recommendation": "Use Batch trigger (Service Bus/RabbitMQ/Kafka) or stateful workflow with Until loop"
        },
        {
          "name": "Content-Based Router",
          "description": "Route messages to different destinations based on content",
          "recommendation": "Use Switch action or simplified If conditions with dynamic connectors"
        },
        {
          "name": "Splitter",
          "description": "Split a single message into multiple messages",
          "recommendation": "Use For-Each loop with dynamic array from message"
        },
        {
          "name": "Exception Handling & Compensation",
          "description": "Handle errors and perform compensating actions",
          "recommendation": "Use Scope action with Configure Run After for error handling"
        }
      ],
      "optimizationApplied": true,
      "generatedBy": "BizTalk to Logic Apps Refactoring Tool",
      "generatedAt": "2026-02-15T15:30:12.9688559Z"
    }
  }
}