BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/Orchestration1.workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "DefaultReceiveLocation": {
        "type": "Request",
        "kind": "Http"
      }
    },
    "actions": {
      "es": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "es",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {}
      },
      "xlItems": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "xlItems",
              "type": "array",
              "value": []
            }
          ]
        },
        "runAfter": {
          "es": [
            "SUCCEEDED"
          ]
        }
      },
      "xdMessage": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "xdMessage",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "xlItems": [
            "SUCCEEDED"
          ]
        }
      },
      "xnm": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "xnm",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "xdMessage": [
            "SUCCEEDED"
          ]
        }
      },
      "PoID": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "PoID",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "xnm": [
            "SUCCEEDED"
          ]
        }
      },
      "ItemID": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "ItemID",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "PoID": [
            "SUCCEEDED"
          ]
        }
      },
      "LoopCounter": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "LoopCounter",
              "type": "integer",
              "value": 0
            }
          ]
        },
        "runAfter": {
          "ItemID": [
            "SUCCEEDED"
          ]
        }
      },
      "xeItem": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "xeItem",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "LoopCounter": [
            "SUCCEEDED"
          ]
        }
      },
      "Security": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "Security",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "xeItem": [
            "SUCCEEDED"
          ]
        }
      },
      "Source": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "Source",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "Security": [
            "SUCCEEDED"
          ]
        }
      },
      "Catalog": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "Catalog",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "Source": [
            "SUCCEEDED"
          ]
        }
      },
      "Scope_1": {
        "type": "Scope",
        "actions": {
          "Prepare_Loop": {
            "type": "Compose",
            "inputs": "@'xdMessage=PurchaseOrder;\r\nPoID=xdMessage.DocumentElement.GetAttribute(\"PoID\");\r\nxnm=new System.Xml.XmlNamespaceManager(xdMessage.NameTable);\r\nxnm.AddNamespace(\"ns0\",\"http://BamFromExpression.PoSchema\");\r\nxlItems=xdMessage.DocumentElement.SelectNodes(\"ListItems/Item\",xnm);\r\nLoopCounter=0'",
            "runAfter": {}
          },
          "Until": {
            "type": "Until",
            "expression": "@greaterOrEquals(variables('LoopCounter'), variables('xlItems')?['Count'])",
            "limit": {
              "count": 60,
              "timeout": "PT1H"
            },
            "actions": {
              "Expression_1": {
                "type": "Compose",
                "inputs": "@'xeItem=(System.Xml.XmlElement)xlItems.Item(LoopCounter);\r\nItemID=System.String.Format(\"{0}_{1}\",PoID,LoopCounter);\r\n\r\n// To send the data to BAM you can use BufferedEventStream or DirectEventStream\r\nes=new Microsoft.BizTalk.Bam.EventObservation.DirectEventStream(\"Integrated Security=SSPI;Data Source=.;Initial Catalog=BAMPrimaryImport\",0);\r\n// es=new Microsoft.BizTalk.Bam.EventObservation.BufferedEventStream(\"Integrated Security=SSPI;Data Source=.;Initial Catalog=BizTalkMsgBoxDB\",0);\r\n\r\nes.BeginActivity(\"FromExpressionPoItem\",ItemID);\r\n\r\nes.UpdateActivity(\"FromExpressionPoItem\",ItemID,\r\n    \"Product\",xeItem.GetAttribute(\"Name\"),\r\n    \"Quantity\",xeItem.GetAttribute(\"Quantity\"));\r\n\r\n// Establish relationship between the PoItem record and \r\n// the PurchaseOrder that is processed by the orchestration\r\nes.AddRelatedActivity(\"FromExpressionPoItem\",ItemID,\"FromExpressionPo\",PoID);\r\n\r\nes.EndActivity(\"FromExpressionPoItem\",ItemID); \r\nes.Flush();\r\nLoopCounter=LoopCounter+1'",
                "runAfter": {}
              }
            },
            "runAfter": {
              "Prepare_Loop": [
                "SUCCEEDED"
              ]
            }
          }
        },
        "runAfter": {
          "Catalog": [
            "SUCCEEDED"
          ]
        }
      },
      "Delay_1": {
        "type": "Wait",
        "inputs": {
          "interval": {
            "count": 1,
            "unit": "Minute"
          }
        },
        "runAfter": {
          "Scope_1": [
            "SUCCEEDED"
          ]
        }
      },
      "Send_1": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "http://localhost/service",
          "body": "@triggerBody()",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "runAfter": {
          "Delay_1": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "Send_1": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {}
  }
}