BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/Orchestration2.workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "When_called_from_parent_workflow": {
        "type": "Request",
        "kind": "Http",
        "description": "Migrated from BizTalk WCF endpoint - BizTalk Adapter: HTTP",
        "metadata": {
          "biztalkTransportType": "HTTP"
        }
      }
    },
    "actions": {
      "Message_2": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "Message_2",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {}
      },
      "ConstructMessage_1_e41a4870": {
        "type": "Xslt",
        "inputs": {
          "content": "@triggerBody()",
          "map": {
            "name": "Transform_2",
            "type": "Xslt"
          },
          "transformOptions": "ApplyXsltTemplates"
        },
        "runAfter": {
          "Message_2": [
            "SUCCEEDED"
          ]
        }
      },
      "Send_1": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "http://localhost/service",
          "body": "@triggerBody()",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "runAfter": {
          "ConstructMessage_1_e41a4870": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "Send_1": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {}
  }
}