BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/OrderedReceiveSendOrchestration.workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "DefaultReceiveLocation": {
        "type": "Request",
        "kind": "Http"
      }
    },
    "actions": {
      "Scope_2": {
        "type": "Scope",
        "actions": {
          "Send_2": {
            "type": "Http",
            "inputs": {
              "method": "POST",
              "uri": "http://localhost/service",
              "body": "@triggerBody()",
              "headers": {
                "Content-Type": "application/json"
              }
            },
            "runAfter": {}
          }
        },
        "runAfter": {}
      },
      "Until": {
        "type": "Until",
        "expression": "@'!(true)'",
        "limit": {
          "count": 60,
          "timeout": "PT1H"
        },
        "actions": {
          "Receive_1": {
            "type": "Compose",
            "inputs": "// Unmapped: Response Receive response from mqreceive (BizTalk correlation pattern - requires manual configuration)",
            "runAfter": {}
          },
          "Scope_1": {
            "type": "Scope",
            "actions": {
              "Send_1": {
                "type": "Http",
                "inputs": {
                  "method": "POST",
                  "uri": "http://localhost/service",
                  "body": "@triggerBody()",
                  "headers": {
                    "Content-Type": "application/json"
                  }
                },
                "runAfter": {}
              }
            },
            "runAfter": {
              "Receive_1": [
                "SUCCEEDED"
              ]
            }
          }
        },
        "runAfter": {
          "Scope_2": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "Until": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {}
  }
}