BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/POReceiveOrchestration.workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "DefaultReceiveLocation": {
        "type": "Request",
        "kind": "Http"
      }
    },
    "actions": {
      "xmlDocument": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "xmlDocument",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {}
      },
      "ns0": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "ns0",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "xmlDocument": [
            "SUCCEEDED"
          ]
        }
      },
      "AckScope": {
        "type": "Scope",
        "actions": {
          "ConstrucAcktMessage_5388244b": {
            "type": "Compose",
            "inputs": "@'xmlDocument = new System.Xml.XmlDocument();\r\nxmlDocument.LoadXml(\"<ns0:POAck xmlns:ns0=\\\"http://HTTPRequestResponse.POAck\\\"> <Status>Received</Status></ns0:POAck>\");\r\nPOAckMessage.MessagePart_1 = xmlDocument'",
            "runAfter": {}
          }
        },
        "runAfter": {
          "ns0": [
            "SUCCEEDED"
          ]
        }
      },
      "SendPOAck": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "http://localhost/service",
          "body": "@triggerBody()",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "runAfter": {
          "AckScope": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "SendPOAck": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {}
  }
}