BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/ProcesaArchivosAceptados (18).workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "DefaultReceiveLocation": {
        "type": "Request",
        "kind": "Http"
      }
    },
    "actions": {
      "fechaPago": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "fechaPago",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {}
      },
      "datosLineasCaptura": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "datosLineasCaptura",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "fechaPago": [
            "SUCCEEDED"
          ]
        }
      },
      "procesoPagoDominio": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "procesoPagoDominio",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "datosLineasCaptura": [
            "SUCCEEDED"
          ]
        }
      },
      "validacionesLineasCaptura": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "validacionesLineasCaptura",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "procesoPagoDominio": [
            "SUCCEEDED"
          ]
        }
      },
      "cuentaActiva": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "cuentaActiva",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "validacionesLineasCaptura": [
            "SUCCEEDED"
          ]
        }
      },
      "NepeActiva": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "NepeActiva",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "cuentaActiva": [
            "SUCCEEDED"
          ]
        }
      },
      "configuracionesDominio": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "configuracionesDominio",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "NepeActiva": [
            "SUCCEEDED"
          ]
        }
      },
      "cobranzaActiva": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "cobranzaActiva",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "configuracionesDominio": [
            "SUCCEEDED"
          ]
        }
      },
      "archivoPagosAplicacionesDominio": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "archivoPagosAplicacionesDominio",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "cobranzaActiva": [
            "SUCCEEDED"
          ]
        }
      },
      "configuracionDocumentosPagados": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "configuracionDocumentosPagados",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "archivoPagosAplicacionesDominio": [
            "SUCCEEDED"
          ]
        }
      },
      "contador": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "contador",
              "type": "integer",
              "value": 0
            }
          ]
        },
        "runAfter": {
          "configuracionDocumentosPagados": [
            "SUCCEEDED"
          ]
        }
      },
      "origenInformacionEnvio": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "origenInformacionEnvio",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "contador": [
            "SUCCEEDED"
          ]
        }
      },
      "serializaCadena": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "serializaCadena",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "origenInformacionEnvio": [
            "SUCCEEDED"
          ]
        }
      },
      "recepcionArchivos": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "recepcionArchivos",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "serializaCadena": [
            "SUCCEEDED"
          ]
        }
      },
      "procesoPago": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "procesoPago",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "recepcionArchivos": [
            "SUCCEEDED"
          ]
        }
      },
      "RecepcionPago": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "RecepcionPago",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "procesoPago": [
            "SUCCEEDED"
          ]
        }
      },
      "reproceso": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "reproceso",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "RecepcionPago": [
            "SUCCEEDED"
          ]
        }
      },
      "Procesa_Archivos_Aceptados": {
        "type": "Scope",
        "actions": {
          "inicializa_Valores": {
            "type": "Compose",
            "inputs": "@'procesoPagoDominio = new Sat.Scade.PagosCore.Dominio.ProcesosPagosDominio();\r\ndatosLineasCaptura = new Sat.Scade.PagosCore.Modelo.Dominio.DatosValidacionLC();\r\nconfiguracionDocumentosPagados = new Sat.Scade.PagosCore.Modelo.Dominio.ConfiguracionDocumentosPagados();\r\ncuentaActiva = System.Convert.ToBoolean(configuracionesDominio.ObtenerConfiguracion(Sat.Scade.PagosCore.Dominio.ConstantesConfiguracion.CUENTAACTIVA));\r\nNepeActiva = System.Convert.ToBoolean(configuracionesDominio.ObtenerConfiguracion(Sat.Scade.PagosCore.Dominio.ConstantesConfiguracion.NEPEACTIVA));\r\ncobranzaActiva = System.Convert.ToBoolean(configuracionesDominio.ObtenerConfiguracion(Sat.Scade.PagosCore.Dominio.ConstantesConfiguracion.COBRANZAACTIVA))'",
            "runAfter": {}
          },
          "Verifica_si_los_archivos_fueron_aceptados_por_el_SAT_ffa9cb5e": {
            "type": "If",
            "expression": "@'recepcionArchivos.Estado == Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosPagos.AceptadoSAT ||\r\nrecepcionArchivos.Estado == Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosPagos.ValidandoLC ||\r\nrecepcionArchivos.Estado == Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosPagos.PendienteMarcacion ||\r\n(recepcionArchivos.Estado == Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosPagos.InicioProceso &&\r\n recepcionArchivos.Procesos == Sat.Scade.Pagos.Modelo.Comun.Procesos.ContingenciaMinilote  \r\n)'",
            "actions": {
              "Compara_líneas_de_captura_pagadas_VS__Declaraciones_d3c34de6": {
                "type": "Scope",
                "actions": {
                  "Compara_líneas_de_captura": {
                    "type": "Compose",
                    "inputs": "@'datosLineasCaptura.LineasCapturaInexistentes = false;\r\n\r\nif (recepcionArchivos.Procesos != Sat.Scade.Pagos.Modelo.Comun.Procesos.ContingenciaLCPendientes)\r\n{\r\n    recepcionArchivos.Estado = Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosPagos.ValidandoLC;\r\n    procesoPago.EstadoProcesoPago = recepcionArchivos.Estado;\r\n    procesoPagoDominio.ActualizarEstado(procesoPago);\r\n}\r\n\r\nSystem.Diagnostics.EventLog.WriteEntry(\"Pagos\",\"Compara líneas de captura\");\r\nvalidacionesLineasCaptura = new Sat.Scade.PagosCore.Dominio.ValidaLineasCapturaDominio();\r\ndatosLineasCaptura = validacionesLineasCaptura.AplicarValidacionesLineasCaptura(recepcionArchivos.IdProceso, ref configuracionDocumentosPagados)'",
                    "runAfter": {}
                  },
                  "Verifica_si_todas_las_lineas_fueron_marcadas_reemplazadas_ó_encontradas_c079b26f": {
                    "type": "If",
                    "expression": "@'!datosLineasCaptura.LineasCapturaInexistentes'",
                    "actions": {
                      "Termina_Validación_LC_5ee6f3c6": {
                        "type": "Compose",
                        "inputs": "@'recepcionArchivos.Estado = Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosPagos.TerminaValidacionLC;\r\nprocesoPago.EstadoProcesoPago = recepcionArchivos.Estado;\r\nprocesoPagoDominio.ActualizarEstado(procesoPago);\r\nSystem.Diagnostics.EventLog.WriteEntry(\"Pagos\",\"Se actualiza estatus de Generación Lote\")'",
                        "runAfter": {}
                      }
                    },
                    "else": {
                      "actions": {
                        "Pendiente_Marcación_784be24c": {
                          "type": "Compose",
                          "inputs": "@'if (recepcionArchivos.Procesos != Sat.Scade.Pagos.Modelo.Comun.Procesos.ContingenciaLCPendientes)\r\n{\r\n    recepcionArchivos.Estado = Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosPagos.PendienteMarcacion;\r\n    procesoPago.EstadoProcesoPago = recepcionArchivos.Estado;\r\n    procesoPagoDominio.ActualizarEstado(procesoPago);\r\n}\r\nSystem.Diagnostics.EventLog.WriteEntry(\"Pagos\",\"Se actualiza estatus a Pendiente Marcación\")'",
                          "runAfter": {}
                        }
                      }
                    },
                    "runAfter": {
                      "Compara_líneas_de_captura": [
                        "SUCCEEDED"
                      ]
                    }
                  }
                },
                "runAfter": {}
              }
            },
            "else": {
              "actions": {}
            },
            "runAfter": {
              "inicializa_Valores": [
                "SUCCEEDED"
              ]
            }
          },
          "Verifica_que_la_validación_LC_se_haya_terminado_b4d3d45d": {
            "type": "If",
            "expression": "@'(recepcionArchivos.Estado == Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosPagos.TerminaValidacionLC) ||\r\n(recepcionArchivos.Estado == Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosPagos.InicioProceso  &&\r\nrecepcionArchivos.TipoProceso == Sat.Scade.Pagos.Modelo.Comun.TipoProceso.Ceros)'",
            "actions": {
              "Archivo_CT_148fac55": {
                "type": "Scope",
                "actions": {
                  "Genera_lote": {
                    "type": "Compose",
                    "inputs": "@'recepcionArchivos.Estado = Sat.Scade.Pagos.Modelo.Comun.EstatusProcesosPagos.GeneraLote;\r\nprocesoPago.EstadoProcesoPago = recepcionArchivos.Estado;\r\nprocesoPagoDominio.ActualizarEstado(procesoPago)'",
                    "runAfter": {}
                  },
                  "cuenta_tributaria_esta_activa_01cb3b1e": {
                    "type": "If",
                    "expression": "@and(variables('cuentaActiva'), not(equals(variables('recepcionArchivos')?['TipoProceso'], 'Ceros')))",
                    "actions": {
                      "StartOrchestration_3_1286a584": {
                        "type": "Workflow",
                        "inputs": {
                          "host": {
                            "workflow": {
                              "id": "GeneraEnviaArchivoCT"
                            }
                          },
                          "body": {
                            "message": "@triggerBody()"
                          }
                        },
                        "runAfter": {}
                      }
                    },
                    "else": {
                      "actions": {}
                    },
                    "runAfter": {
                      "Genera_lote": [
                        "SUCCEEDED"
                      ]
                    }
                  }
                },
                "runAfter": {}
              },
              "Genera_Lote_NEPE_5b3e0b6a": {
                "type": "Scope",
                "actions": {
                  "Nepe_esta_Activa_bdd73100": {
                    "type": "If",
                    "expression": "@variables('NepeActiva')",
                    "actions": {
                      "AsignaFechaPago_18d82e1d": {
                        "type": "Compose",
                        "inputs": "@'fechaPago = recepcionArchivos.FechaContingenciaCeros'",
                        "runAfter": {}
                      },
                      "StartOrchestration_4_fa210d2a": {
                        "type": "Workflow",
                        "inputs": {
                          "host": {
                            "workflow": {
                              "id": "GeneraEnviaLoteNEPE"
                            }
                          },
                          "body": {
                            "message": "@triggerBody()"
                          }
                        },
                        "runAfter": {
                          "AsignaFechaPago_18d82e1d": [
                            "SUCCEEDED"
                          ]
                        }
                      }
                    },
                    "else": {
                      "actions": {}
                    },
                    "runAfter": {}
                  }
                },
                "runAfter": {
                  "Archivo_CT_148fac55": [
                    "SUCCEEDED"
                  ]
                }
              },
              "Genera_Archivo_Pagos_Aplicaciones_Dominio_8d146d5d": {
                "type": "Scope",
                "actions": {
                  "Verifica_si_es_cero_a86902ef": {
                    "type": "If",
                    "expression": "@'recepcionArchivos.TipoProceso == Sat.Scade.Pagos.Modelo.Comun.TipoProceso.Pagos ||\r\nrecepcionArchivos.TipoProceso == Sat.Scade.Pagos.Modelo.Comun.TipoProceso.Minilote'",
                    "actions": {
                      "Obtiene_Origenes_de_Información_8f4428e6": {
                        "type": "Compose",
                        "inputs": "@'archivoPagosAplicacionesDominio = new Sat.Scade.PagosCore.Dominio.ArchivoPagosAplicacionesDominio();\r\n//configuracionDocumentosPagados = archivoPagosAplicacionesDominio.ObtenerOrigenInformacion();\r\ncontador = 0'",
                        "runAfter": {}
                      },
                      "Until_9b95c93f": {
                        "type": "Until",
                        "expression": "@lessOrEquals(variables('configuracionDocumentosPagados')?['OrigenInformacion']?['Count'], variables('contador'))",
                        "limit": {
                          "count": 60,
                          "timeout": "PT1H"
                        },
                        "actions": {
                          "Obtener_Origen_de_información": {
                            "type": "Compose",
                            "inputs": "@'origenInformacionEnvio = new Sat.Scade.PagosCore.Modelo.Dominio.OrigenInformacionEnvio();                             \r\norigenInformacionEnvio = archivoPagosAplicacionesDominio.ObtenerOrigenInformacion(configuracionDocumentosPagados, contador)'",
                            "runAfter": {}
                          },
                          "Verifica_si_se_debe_generar_Archivos_37a2bbf4": {
                            "type": "If",
                            "expression": "@'recepcionArchivos.ArchivoCifras.TipoRecepcion == Sat.Scade.Pagos.Modelo.Comun.TiposRecepcion.Normal || \r\n(recepcionArchivos.ArchivoCifras.TipoRecepcion == Sat.Scade.Pagos.Modelo.Comun.TiposRecepcion.Contingencia && origenInformacionEnvio.ContieneDatos)'",
                            "actions": {
                              "StartOrchestration_4_45425ba0": {
                                "type": "Workflow",
                                "inputs": {
                                  "host": {
                                    "workflow": {
                                      "id": "EnviaNotificacionesPagos"
                                    }
                                  },
                                  "body": {
                                    "message": "@triggerBody()"
                                  }
                                },
                                "runAfter": {}
                              }
                            },
                            "else": {
                              "actions": {}
                            },
                            "runAfter": {
                              "Obtener_Origen_de_información": [
                                "SUCCEEDED"
                              ]
                            }
                          },
                          "Incrementa_contador": {
                            "type": "Compose",
                            "inputs": "@'contador = contador + 1'",
                            "runAfter": {
                              "Verifica_si_se_debe_generar_Archivos_37a2bbf4": [
                                "SUCCEEDED"
                              ]
                            }
                          }
                        },
                        "runAfter": {
                          "Obtiene_Origenes_de_Información_8f4428e6": [
                            "SUCCEEDED"
                          ]
                        }
                      }
                    },
                    "else": {
                      "actions": {}
                    },
                    "runAfter": {}
                  }
                },
                "runAfter": {
                  "Genera_Lote_NEPE_5b3e0b6a": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "else": {
              "actions": {}
            },
            "runAfter": {
              "Verifica_si_los_archivos_fueron_aceptados_por_el_SAT_ffa9cb5e": [
                "SUCCEEDED"
              ]
            }
          }
        },
        "runAfter": {
          "reproceso": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "Procesa_Archivos_Aceptados": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {}
  }
}