BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/ProcessPO_workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "DefaultReceiveLocation": {
        "type": "Request",
        "kind": "Http"
      }
    },
    "actions": {
      "msgPO": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "msgPO",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {}
      },
      "msgApprovalInfo": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "msgApprovalInfo",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "msgPO": [
            "SUCCEEDED"
          ]
        }
      },
      "Create_Approval_Process_de1ea4ce": {
        "type": "Compose",
        "inputs": "@'msgApprovalInfo('",
        "runAfter": {
          "msgApprovalInfo": [
            "SUCCEEDED"
          ]
        }
      },
      "Check_PO_cd22ad58": {
        "type": "If",
        "expression": "@greaterOrEquals(variables('msgPO')?['Total'], 1000)",
        "actions": {
          "Call_ApprovePO_51de45a6": {
            "type": "Workflow",
            "inputs": {
              "host": {
                "workflow": {
                  "id": "ApprovePO"
                }
              },
              "body": {
                "message": "@triggerBody()"
              }
            },
            "runAfter": {}
          }
        },
        "else": {
          "actions": {
            "Set_Approval_Automatically_69e80090": {
              "type": "Compose",
              "inputs": "@'msgApprovalInfo(ApprovalInfo)'",
              "runAfter": {}
            }
          }
        },
        "runAfter": {
          "Create_Approval_Process_de1ea4ce": [
            "SUCCEEDED"
          ]
        }
      },
      "Is_Approved_dc0e5e59": {
        "type": "If",
        "expression": "@equals(variables('msgApprovalInfo')?['ApprovalStatus'], 'Yes')",
        "actions": {
          "Send_to_Approved_39980ade": {
            "type": "Http",
            "inputs": {
              "method": "POST",
              "uri": "http://localhost/service",
              "body": "@triggerBody()",
              "headers": {
                "Content-Type": "application/json"
              }
            },
            "runAfter": {}
          }
        },
        "else": {
          "actions": {
            "Send_to_Denied_87900f32": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "http://localhost/service",
                "body": "@triggerBody()",
                "headers": {
                  "Content-Type": "application/json"
                }
              },
              "runAfter": {}
            }
          }
        },
        "runAfter": {
          "Check_PO_cd22ad58": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "Is_Approved_dc0e5e59": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {},
    "metadata": {
      "detectedPatterns": [
        {
          "name": "Content-Based Router",
          "description": "Route messages to different destinations based on content",
          "recommendation": "Use Switch action or simplified If conditions with dynamic connectors"
        }
      ],
      "optimizationApplied": true,
      "generatedBy": "BizTalk to Logic Apps Refactoring Tool",
      "generatedAt": "2026-02-15T15:30:13.3485582Z"
    }
  }
}