BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/ProcessPO (43).workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "DefaultReceiveLocation": {
        "type": "Request",
        "kind": "Http"
      }
    },
    "actions": {
      "strApprovalStatus": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "strApprovalStatus",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {}
      },
      "msgPO": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "msgPO",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "strApprovalStatus": [
            "SUCCEEDED"
          ]
        }
      },
      "CreatAck_1acd0830": {
        "type": "Xslt",
        "inputs": {
          "content": "@triggerBody()",
          "map": {
            "name": "ProcessPO_CreateAckTransform_Map",
            "type": "Xslt"
          },
          "transformOptions": "ApplyXsltTemplates"
        },
        "runAfter": {
          "msgPO": [
            "SUCCEEDED"
          ]
        }
      },
      "SendAck": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "http://localhost/service",
          "body": "@body('CreatAck_1acd0830')",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "runAfter": {
          "CreatAck_1acd0830": [
            "SUCCEEDED"
          ]
        }
      },
      "Check_PO_cd22ad58": {
        "type": "If",
        "expression": "@greater(variables('msgPO')?['Total'], 1000)",
        "actions": {
          "Call_ApprovePO_51de45a6": {
            "type": "Workflow",
            "inputs": {
              "host": {
                "workflow": {
                  "id": "ApprovePO"
                }
              },
              "body": {
                "message": "@triggerBody()"
              }
            },
            "runAfter": {}
          }
        },
        "else": {
          "actions": {
            "Set_Approval_Automatically_69e80090": {
              "type": "Compose",
              "inputs": "@'strApprovalStatus = \"Yes\"'",
              "runAfter": {}
            }
          }
        },
        "runAfter": {
          "SendAck": [
            "SUCCEEDED"
          ]
        }
      },
      "Is_Approved_dc0e5e59": {
        "type": "If",
        "expression": "@equals(variables('strApprovalStatus'), 'Yes')",
        "actions": {
          "Send_to_Approved_39980ade": {
            "type": "Http",
            "inputs": {
              "method": "POST",
              "uri": "http://localhost/service",
              "body": "@triggerBody()",
              "headers": {
                "Content-Type": "application/json"
              }
            },
            "runAfter": {}
          }
        },
        "else": {
          "actions": {
            "Send_to_Denied_87900f32": {
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "http://localhost/service",
                "body": "@triggerBody()",
                "headers": {
                  "Content-Type": "application/json"
                }
              },
              "runAfter": {}
            }
          }
        },
        "runAfter": {
          "Check_PO_cd22ad58": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "Is_Approved_dc0e5e59": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {}
  }
}