BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/ProcesoSincrono.workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "DefaultReceiveLocation": {
        "type": "Request",
        "kind": "Http"
      }
    },
    "actions": {
      "lsLineaCaptura": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "lsLineaCaptura",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {}
      },
      "loXmlRespuesta": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "loXmlRespuesta",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "lsLineaCaptura": [
            "SUCCEEDED"
          ]
        }
      },
      "acuse": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "acuse",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "loXmlRespuesta": [
            "SUCCEEDED"
          ]
        }
      },
      "encabezado": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "encabezado",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "acuse": [
            "SUCCEEDED"
          ]
        }
      },
      "esReproceso": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "esReproceso",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "encabezado": [
            "SUCCEEDED"
          ]
        }
      },
      "lnEstado": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "lnEstado",
              "type": "integer",
              "value": 0
            }
          ]
        },
        "runAfter": {
          "esReproceso": [
            "SUCCEEDED"
          ]
        }
      },
      "codigoError": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "codigoError",
              "type": "integer",
              "value": 0
            }
          ]
        },
        "runAfter": {
          "lnEstado": [
            "SUCCEEDED"
          ]
        }
      },
      "reforma": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "reforma",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "codigoError": [
            "SUCCEEDED"
          ]
        }
      },
      "rutaAcusePDF": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "rutaAcusePDF",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "reforma": [
            "SUCCEEDED"
          ]
        }
      },
      "rutaDeclaracionXml": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "rutaDeclaracionXml",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "rutaAcusePDF": [
            "SUCCEEDED"
          ]
        }
      },
      "pdfBase64": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "pdfBase64",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "rutaDeclaracionXml": [
            "SUCCEEDED"
          ]
        }
      },
      "htmlBase64": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "htmlBase64",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "pdfBase64": [
            "SUCCEEDED"
          ]
        }
      },
      "strIdDeclaracion": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "strIdDeclaracion",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "htmlBase64": [
            "SUCCEEDED"
          ]
        }
      },
      "esDuplicada": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "esDuplicada",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "strIdDeclaracion": [
            "SUCCEEDED"
          ]
        }
      },
      "lineaCaptura": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "lineaCaptura",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "esDuplicada": [
            "SUCCEEDED"
          ]
        }
      },
      "strNombreDocumento": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "strNombreDocumento",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "lineaCaptura": [
            "SUCCEEDED"
          ]
        }
      },
      "strNombreStorage": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "strNombreStorage",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "strNombreDocumento": [
            "SUCCEEDED"
          ]
        }
      },
      "fechaCausacion": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "fechaCausacion",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "strNombreStorage": [
            "SUCCEEDED"
          ]
        }
      },
      "strFechaCausacion": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "strFechaCausacion",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "fechaCausacion": [
            "SUCCEEDED"
          ]
        }
      },
      "montoAPagar": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "montoAPagar",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "strFechaCausacion": [
            "SUCCEEDED"
          ]
        }
      },
      "lnAParcialidad": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "lnAParcialidad",
              "type": "integer",
              "value": 0
            }
          ]
        },
        "runAfter": {
          "montoAPagar": [
            "SUCCEEDED"
          ]
        }
      },
      "id": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "id",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "lnAParcialidad": [
            "SUCCEEDED"
          ]
        }
      },
      "Parcialidad": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "Parcialidad",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "id": [
            "SUCCEEDED"
          ]
        }
      },
      "FechaDeclaracion": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "FechaDeclaracion",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "Parcialidad": [
            "SUCCEEDED"
          ]
        }
      },
      "FechaVencimientoDeclaracion": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "FechaVencimientoDeclaracion",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "FechaDeclaracion": [
            "SUCCEEDED"
          ]
        }
      },
      "MsgDeclaracionAsync": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "MsgDeclaracionAsync",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "FechaVencimientoDeclaracion": [
            "SUCCEEDED"
          ]
        }
      },
      "MsgDeclaracion": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "MsgDeclaracion",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "MsgDeclaracionAsync": [
            "SUCCEEDED"
          ]
        }
      },
      "Inicalización_variables": {
        "type": "Compose",
        "inputs": "@'Sat.DyP.Herramientas.Datos.Bootstrapping.SqlTopazBootstrapper.CargarConfiguracionSqlRetry();\r\n\r\nlsLineaCaptura = System.String.Empty;\r\nreforma = System.String.Empty;\r\ncodigoError = System.Convert.ToInt16(Sat.DyP.DPCore.Modelo.CodigoErrorFlujoSincrono.General);\r\nloXmlRespuesta = new System.Xml.XmlDocument();\r\nacuse = new Sat.DyP.Core.Modelo.Acuse();\r\nmontoAPagar = new Sat.DyP.Core.Modelo.DatosMontoPagar();\r\nencabezado = new Sat.Com.Modelo.Encabezado();\r\nesReproceso = false;\r\nstrNombreDocumento = System.String.Empty;\r\nstrNombreStorage = System.String.Empty;\r\nstrFechaCausacion = System.String.Empty;\r\nfechaCausacion = System.DateTime.MinValue;\r\nlnAParcialidad = 0'",
        "runAfter": {
          "MsgDeclaracion": [
            "SUCCEEDED"
          ]
        }
      },
      "FlujoSincronoPrincipal": {
        "type": "Scope",
        "actions": {
          "Recibe_Declaracion": {
            "type": "Scope",
            "actions": {
              "Valida_Encabezado_de_la_Declaracion": {
                "type": "Compose",
                "inputs": "@'Sat.DyP.Herramientas.Datos.Bootstrapping.SqlTopazBootstrapper.CargarConfiguracionSqlRetry();\r\n\r\nstrFechaCausacion = xpath( MsgRecepcion,\"string(/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DAT_IDENT'']/*[local-name()=''struct.modelitem'' and @id=''SAT_CAUS_DT'']/@value)\");\r\nif (strFechaCausacion.Trim() != System.String.Empty)\r\n{\r\n    fechaCausacion = System.DateTime.ParseExact(strFechaCausacion,\"dd/MM/yyyy\",System.Globalization.CultureInfo.InvariantCulture);\r\n}\r\nelse\r\n{\r\n    fechaCausacion = System.DateTime.MinValue;\r\n}\r\nencabezado = new Sat.Com.Modelo.Encabezado(\r\n                    (System.Int32)xpath( MsgRecepcion, \"string(/*[local-name()=''sat.message'']/*[local-name()=''metadata'']/*[local-name()=''parameter'']/*[local-name()=''key'' and . =''SAT_UPD_FORM_ID'']/following-sibling::*)\"), \r\n                    (System.String)xpath( MsgRecepcion,\"string(/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DAT_IDENT'']/*[local-name()=''struct.modelitem'' and @id=''SAT_DECLAR_TYPE_CD'']/@value)\"), \r\n                    (System.String)xpath( MsgRecepcion,\"string(/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DAT_IDENT'']/*[local-name()=''struct.modelitem'' and @id=''SAT_FISCAL_PERIOD'']/@value)\"), \r\n                    (System.Int32)xpath( MsgRecepcion,\"string(/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DAT_IDENT'']/*[local-name()=''struct.modelitem'' and @id=''SAT_FISCAL_YEAR'']/@value)\"), \r\n                    fechaCausacion, \r\n                    (System.String)xpath( MsgRecepcion,\"string(/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DAT_IDENT'']/*[local-name()=''struct.modelitem'' and @id=''SAT_DECLAR_CATEG'']/@value)\"), \r\n                    (System.String)xpath( MsgRecepcion,\"string(/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DAT_IDENT'']/*[local-name()=''struct.modelitem'' and @id=''DURATION_FREQ'']/@value)\"), \r\n                    (System.String)xpath( MsgRecepcion,\"string(/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DAT_IDENT'']/*[local-name()=''struct.modelitem'' and @id=''SAT_RFC'']/@value)\"),\r\n                    Sat.Com.Modelo.EstadoDeclaracion.AlmacenadoXML,\r\n                    (System.String)xpath( MsgRecepcion,\"string(/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_CTATRIB'']/*[local-name()=''struct.modelitem'' and @id=''BO_ID'']/@value)\"),\r\n                    (System.Int32)xpath( MsgRecepcion,\"string(/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DAT_IDENT'']/*[local-name()=''struct.modelitem'' and @id=''SAT_ORIGEN'']/@value)\"), \r\n                    (System.String)xpath( MsgRecepcion,\"string(/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DAT_IDENT'']/*[local-name()=''struct.modelitem'' and @id=''SAT_DECLR_CLASS'']/@value)\"));   \r\n \r\n\r\nencabezado = Sat.DyP.Core.Dominio.ProcesamientoSincronoCD.ValidarDeclaracion(encabezado, acuse.FechaRecepcion.ToString())'",
                "runAfter": {}
              },
              "Almacena_XML_de_la_Declaracion": {
                "type": "Compose",
                "inputs": "@'Sat.DyP.Herramientas.Datos.Bootstrapping.SqlTopazBootstrapper.CargarConfiguracionSqlRetry();\r\n\r\nstrNombreDocumento = System.String.Format(\"{0}/{1}/{2}/{3}\", Sat.DyP.Herramientas.Util.ObtenerAnioDeMexico(), encabezado.Rfc, encabezado.IdPeriodo, encabezado.IdDeclaracion);\r\nencabezado.Estado = Sat.Com.Modelo.EstadoDeclaracion.AlmacenadoXML;\r\n\r\nacuse = Sat.DyP.Core.Dominio.ProcesamientoSincronoCD.AlmacenarDeclaracion(\r\n    MsgRecepcion, \r\n    encabezado.IdDeclaracion,\r\n    strNombreDocumento,\r\n    acuse.FechaRecepcion.ToString(),\r\n    encabezado.Rfc,\r\n    out lnEstado,\r\n    out strNombreStorage    \r\n);\r\n\r\ncodigoError = System.Convert.ToInt16(Sat.DyP.DPCore.Modelo.CodigoErrorFlujoSincrono.ValidarEncabezado)'",
                "runAfter": {
                  "Valida_Encabezado_de_la_Declaracion": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {}
          },
          "LineaCaptura_1": {
            "type": "Scope",
            "actions": {
              "Obtiene_Monto_a_Pagar": {
                "type": "Compose",
                "inputs": "@'Sat.DyP.Herramientas.Datos.Bootstrapping.SqlTopazBootstrapper.CargarConfiguracionSqlRetry();\r\n\r\nmontoAPagar = new Sat.DyP.Core.Modelo.DatosMontoPagar(\r\n              (System.Int32)xpath( MsgRecepcion, \"string(/*[local-name()=''sat.message'']/*[local-name()=''metadata'']/*[local-name()=''parameter'']/*[local-name()=''key'' and . =''SAT_UPD_FORM_ID'']/following-sibling::*)\"),\r\n              (System.Double)xpath( MsgRecepcion, \"string(/*[local-name()=''sat.message'']/*[local-name()=''metadata'']/*[local-name()=''parameter'']/*[local-name()=''key'' and . =''SAT_TOTAL_PAYMENT'']/following-sibling::*)\"),  \r\n              (System.String)xpath( MsgRecepcion, \"string(/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DCL_ACUSE'']/*[local-name()=''struct.modelitem'' and @id=''EXPIRATION_DATE'']/@value)\"),\r\n              (System.String)xpath( MsgRecepcion, \"string(/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DAT_IDENT'']/*[local-name()=''struct.modelitem'' and @id=''SAT_PRSNT_DECLR_DT'']/@value)\"),\r\n              (System.String)xpath( MsgRecepcion, \"string(/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DAT_IDENT'']/*[local-name()=''struct.modelitem'' and @id=''SAT_RIF'']/@value)\"),\r\n              (System.String)xpath( MsgRecepcion, \"string(/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DAT_IDENT'']/*[local-name()=''struct.modelitem'' and @id=''SAT_FISCAL_YEAR'']/@value)\"),\r\n              (System.String)xpath( MsgRecepcion, \"string(/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DAT_IDENT'']/*[local-name()=''struct.modelitem'' and @id=''SAT_FISCAL_PERIOD'']/@value)\"));\r\n\r\nacuse = Sat.DyP.Core.Dominio.ProcesamientoSincronoCD.ObtieneMontoAPagar(montoAPagar, acuse, encabezado.Rfc);\r\n\r\ncodigoError = System.Convert.ToInt16(Sat.DyP.DPCore.Modelo.CodigoErrorFlujoSincrono.MontoPagar)'",
                "runAfter": {}
              },
              "Monto__0__fc6b10b0": {
                "type": "If",
                "expression": "@greater(variables('acuse')?['Monto'], 0)",
                "actions": {
                  "Genera_Linea_de_Captura_fd78764d": {
                    "type": "Compose",
                    "inputs": "@'Sat.DyP.Herramientas.Datos.Bootstrapping.SqlTopazBootstrapper.CargarConfiguracionSqlRetry();\r\nif(!System.String.IsNullOrEmpty((System.String)xpath( MsgRecepcion,\"string(/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'']/*[local-name()=''struct.modelitem'' and @id=''SAT_APLICO_PARCIALIDAD'']/@value)\"))){\r\n    lnAParcialidad = System.Int32.Parse((System.String)xpath( MsgRecepcion,\"string(/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'']/*[local-name()=''struct.modelitem'' and @id=''SAT_APLICO_PARCIALIDAD'']/@value)\"));\r\n}\r\n\r\nSat.DyP.Herramientas.Diagnostico.AccesoLogEventos.EscribirEntradaInformation(\"Aplica Parcialidad = \" + lnAParcialidad.ToString(), \r\n                                                                       Sat.DyP.Herramientas.Diagnostico.IdentificadoresLogEventos.Procesamiento);\r\n\r\nacuse = Sat.DyP.Core.Dominio.ProcesamientoSincronoCD.GenerarLineaCaptura_INPC(\r\n    acuse, \r\n    encabezado,\r\n    (System.String)xpath( MsgRecepcion,\"string(/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DCL_ACUSE'']/*[local-name()=''struct.modelitem'' and @id=''SAT_INET_PAYER_MSG'']/@value)\"),\r\n    acuse.FechaRecepcion.ToString(\"dd/MM/yyyy\"),\r\n    (System.String)xpath( MsgRecepcion,\"string(/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DAT_IDENT'']/*[local-name()=''struct.modelitem'' and @id=''DUE_DATE'']/@value)\"),\r\n    encabezado.Rfc,\r\n    lnAParcialidad\r\n);\r\n\r\nSat.DyP.Herramientas.Diagnostico.AccesoLogEventos.EscribirEntradaInformation(\"FechaDeclaracion = \" + (System.String)xpath( MsgRecepcion,\"string(/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DCL_ACUSE'']/*[local-name()=''struct.modelitem'' and @id=''AS_OF_DATE'']/@value)\") + \" FechaVencimientoDeclaracion = \" + (System.String)xpath( MsgRecepcion,\"string(/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DAT_IDENT'']/*[local-name()=''struct.modelitem'' and @id=''DUE_DATE'']/@value)\"),\r\n                                                                       Sat.DyP.Herramientas.Diagnostico.IdentificadoresLogEventos.Procesamiento);\r\n\r\nlineaCaptura = acuse.LineaCaptura'",
                    "runAfter": {}
                  }
                },
                "else": {
                  "actions": {}
                },
                "runAfter": {
                  "Obtiene_Monto_a_Pagar": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {
              "Recibe_Declaracion": [
                "SUCCEEDED"
              ]
            }
          },
          "Sellodigital": {
            "type": "Scope",
            "actions": {
              "Solicita_Sello": {
                "type": "Compose",
                "inputs": "@'Sat.DyP.Herramientas.Datos.Bootstrapping.SqlTopazBootstrapper.CargarConfiguracionSqlRetry();\r\n\r\nacuse.CadenaOriginal = Sat.DyP.Core.Dominio.ProcesamientoSincronoCD.GenerarCadenaOriginal(MsgRecepcion, acuse.FechaRecepcion, acuse.LineaCaptura, acuse.NumeroOperacion.ToString(), encabezado.IdDeclaracion.ToString(), acuse.FechaRecepcion.ToString(), encabezado.Rfc);\r\nacuse.Sello = Sat.DyP.Core.Dominio.ProcesamientoSincronoCD.GenerarSello(acuse.CadenaOriginal, encabezado.IdDeclaracion);\r\n\r\nencabezado.Estado = Sat.Com.Modelo.EstadoDeclaracion.AlmacenadoDatosAcuse;\r\n\r\nSat.DyP.Core.Dominio.ProcesamientoSincronoCD.InsertarDatosAcuse(acuse, encabezado);\r\n\r\ncodigoError = System.Convert.ToInt16(Sat.DyP.DPCore.Modelo.CodigoErrorFlujoSincrono.GenerarAcuse)'",
                "runAfter": {}
              }
            },
            "runAfter": {
              "LineaCaptura_1": [
                "SUCCEEDED"
              ]
            }
          },
          "LlenaMensaje": {
            "type": "Scope",
            "actions": {
              "completa_Mensaje_de_la_Declaracion_588323ab": {
                "type": "Compose",
                "inputs": "@'MsgDeclaracionAsync = MsgRecepcion;\r\nxpath(MsgDeclaracionAsync,\"/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DCL_ACUSE'']/*[local-name()=''struct.modelitem'' and @id=''RECEIPT_DTTM'']/@value\") = System.String.Format(\"{0}\",acuse.FechaRecepcion.ToString(\"dd/MM/yyyy HH:mm:ss\"));\r\nxpath(MsgDeclaracionAsync,\"/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DCL_ACUSE'']/*[local-name()=''struct.modelitem'' and @id=''SAT_CAPTURE_LINE'']/@value\") = acuse.LineaCaptura;\r\nxpath(MsgDeclaracionAsync,\"/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DCL_ACUSE'']/*[local-name()=''struct.modelitem'' and @id=''SAT_SEAL_STRING'']/@value\") = acuse.Sello;\r\nxpath(MsgDeclaracionAsync,\"/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DCL_ACUSE'']/*[local-name()=''struct.modelitem'' and @id=''COMPLETION_TIME'']/@value\") = System.String.Format(\"{0}\",acuse.FechaRecepcion.ToString(\"dd/MM/yyyy HH:mm:ss\"));\r\nxpath(MsgDeclaracionAsync,\"/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DCL_ACUSE'']/*[local-name()=''struct.modelitem'' and @id=''CASE_ID'']/@value\") = acuse.NumeroOperacion.ToString();\r\nxpath(MsgDeclaracionAsync,\"/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DCL_ACUSE'']/*[local-name()=''struct.modelitem'' and @id=''AS_OF_DATE'']/@value\") = System.String.Format(\"{0}\",acuse.FechaRecepcion.ToString(\"dd/MM/yyyy\"));\r\nxpath(MsgDeclaracionAsync,\"/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DCL_ACUSE'']/*[local-name()=''struct.modelitem'' and @id=''EXPIRATION_DATE'']/@value\") = System.String.Format(\"{0}\",acuse.FechaVencimientoLC.ToString(\"dd/MM/yyyy\"));\r\n\r\n//SE REALIZA EL ANEXO DE LOS ELEMENTOS PARA LOS CODIGOS DE BARRAS.\r\n//asignación de valores a los elementos del mensaje.\r\nxpath(MsgDeclaracionAsync,\"/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DCL_ACUSE'']/*[local-name()=''struct.modelitem'' and @id=''SAT_CODIGO_BARRAS'']/@value\") = acuse.CodigoBarras;\r\nxpath(MsgDeclaracionAsync,\"/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DCL_ACUSE'']/*[local-name()=''struct.modelitem'' and @id=''SAT_CODIGO_BIDIMENSIONAL'']/@value\") = acuse.CodigoQR;\r\n\r\n//Trace.\r\n//SAT.SCADE.DYP.COMUN.BITACORA.AccesoLogEventos.EscribirEntradaInformation(\"CB: \" + acuse.CodigoBarras,1);\r\n//SAT.SCADE.DYP.COMUN.BITACORA.AccesoLogEventos.EscribirEntradaInformation(\"QR: \" + acuse.CodigoQR,1)'",
                "runAfter": {}
              }
            },
            "runAfter": {
              "Sellodigital": [
                "SUCCEEDED"
              ]
            }
          },
          "AlmacenaAcumulados": {
            "type": "Scope",
            "actions": {
              "Almacena_acumulados_en_BD_DyP": {
                "type": "Compose",
                "inputs": "@'Sat.DyP.Herramientas.Datos.Bootstrapping.SqlTopazBootstrapper.CargarConfiguracionSqlRetry();\r\n\r\nencabezado.Estado = Sat.Com.Modelo.EstadoDeclaracion.AlmacenadoAcumulado;\r\ncodigoError = Sat.DyP.Core.Dominio.ProcesamientoSincronoCD.AlmacenarAcumulado(encabezado.IdDeclaracion, MsgRecepcion, acuse.FechaRecepcion.ToString(), encabezado.Rfc);\r\n\r\ncodigoError = System.Convert.ToInt16(Sat.DyP.DPCore.Modelo.CodigoErrorFlujoSincrono.MontoPagar)'",
                "runAfter": {}
              }
            },
            "runAfter": {
              "LlenaMensaje": [
                "SUCCEEDED"
              ]
            }
          },
          "GeneraAcuse": {
            "type": "Scope",
            "actions": {
              "Genera_Acuse": {
                "type": "Compose",
                "inputs": "@'Sat.DyP.Herramientas.Datos.Bootstrapping.SqlTopazBootstrapper.CargarConfiguracionSqlRetry();\r\n\r\nreforma = (System.String)xpath( MsgRecepcion, \"string(/*[local-name()=''sat.message'']/*[local-name()=''metadata'']/*[local-name()=''parameter'']/*[local-name()=''key'' and . =''REFORM_ID'']/following-sibling::*)\");\r\n\r\nencabezado.Estado = (Sat.Com.Modelo.EstadoDeclaracion)Sat.DyP.Core.Dominio.ProcesamientoSincronoCD.GeneraAcuse(\r\n    MsgDeclaracionAsync, \r\n    acuse, \r\n    strNombreStorage,\r\n    strNombreDocumento,\r\n    reforma,\r\n    ref encabezado,\r\n    acuse.FechaRecepcion.ToString(),\r\n    out pdfBase64,\r\n    out htmlBase64,\r\n    out rutaAcusePDF,\r\n    out rutaDeclaracionXml\r\n)'",
                "runAfter": {}
              },
              "Almacena_Datos_de_la_Declaracion": {
                "type": "Compose",
                "inputs": "@'Sat.DyP.Herramientas.Datos.Bootstrapping.SqlTopazBootstrapper.CargarConfiguracionSqlRetry();\r\n\r\nencabezado.Estado = Sat.Com.Modelo.EstadoDeclaracion.AlmacenadoDocumentos;\r\n\r\ncodigoError = Sat.DyP.Core.Dominio.ProcesamientoSincronoCD.AlmacenarDocumentos\r\n(\r\n    encabezado.IdDeclaracion,\r\n    rutaAcusePDF,\r\n    rutaDeclaracionXml,\r\n    acuse.FechaRecepcion.ToString(),\r\n    encabezado.Rfc\r\n);\r\n\r\ncodigoError = System.Convert.ToInt16(Sat.DyP.DPCore.Modelo.CodigoErrorFlujoSincrono.InsertarDocumentos)'",
                "runAfter": {
                  "Genera_Acuse": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {
              "AlmacenaAcumulados": [
                "SUCCEEDED"
              ]
            }
          },
          "TerminaProcesoSincrono": {
            "type": "Scope",
            "actions": {
              "contruye_Mensaje_respuesta_formulario_b84c36d7": {
                "type": "Compose",
                "inputs": "@'loXmlRespuesta = Sat.DyP.Core.Dominio.GenerarMensajeRespuestaCD.MensajeRespuestaCorrecta(MsgDeclaracionAsync, encabezado.IdDeclaracion.ToString(), acuse.FechaRecepcion.ToString(), encabezado.Rfc);\r\nMsgDeclaracion = loXmlRespuesta;\r\nxpath( MsgDeclaracion, \"/*[local-name()=''sat.message'']/@type\")=\"message.response\";\r\nxpath( MsgDeclaracion, \"/*[local-name()=''sat.message'']/*[local-name()=''config'']/*[local-name()=''command'']/.\")=\"COMMAND_OK\";\r\nxpath( MsgDeclaracion, \"/*[local-name()=''sat.message'']/*[local-name()=''metadata'']/*[local-name()=''parameter'']/*[local-name()=''key'' and . =''SAT_FILE_PDF'']/following-sibling::*[position()=1]\") = Sat.DyP.Core.Dominio.GenerarDocumentoPdfCD.TruncaCadena(pdfBase64);\r\nxpath( MsgDeclaracion, \"/*[local-name()=''sat.message'']/*[local-name()=''metadata'']/*[local-name()=''parameter'']/*[local-name()=''key'' and . =''SAT_FILE_HTML'']/following-sibling::*[position()=1]\") = htmlBase64'",
                "runAfter": {}
              },
              "Termina_Proceso_Sincrono": {
                "type": "Compose",
                "inputs": "@'Sat.DyP.Herramientas.Datos.Bootstrapping.SqlTopazBootstrapper.CargarConfiguracionSqlRetry();\r\n\r\nencabezado.Estado = Sat.Com.Modelo.EstadoDeclaracion.Terminada;\r\nSat.DyP.Core.Dominio.ProcesamientoSincronoCD.ActualizarEstatusDeclaracion(\r\n    encabezado.IdDeclaracion,\r\n    System.Convert.ToInt16(encabezado.Estado),\r\n    acuse.FechaRecepcion.ToString(),\r\n    encabezado.Rfc);\r\n\r\ncodigoError = System.Convert.ToInt16(encabezado.Estado);\r\nesReproceso = false;\r\n\r\ncodigoError = System.Convert.ToInt16(Sat.DyP.DPCore.Modelo.CodigoErrorFlujoSincrono.llamadoAsincrono)'",
                "runAfter": {
                  "contruye_Mensaje_respuesta_formulario_b84c36d7": [
                    "SUCCEEDED"
                  ]
                }
              },
              "Proceso_asincrono": {
                "type": "Workflow",
                "inputs": {
                  "host": {
                    "workflow": {
                      "id": "ProcesoAsincrono"
                    }
                  },
                  "body": {
                    "message": "@triggerBody()"
                  }
                },
                "runAfter": {
                  "Termina_Proceso_Sincrono": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {
              "GeneraAcuse": [
                "SUCCEEDED"
              ]
            }
          },
          "Ocurre_Error_Plataforma": {
            "type": "Scope",
            "actions": {
              "Error_Declaracion": {
                "type": "Compose",
                "inputs": "@'Sat.DyP.Herramientas.Datos.Bootstrapping.SqlTopazBootstrapper.CargarConfiguracionSqlRetry();\r\n\r\nstrIdDeclaracion = (System.String)xpath( MsgRecepcion, \"string(/*[local-name()=''sat.message'']/*[local-name()=''metadata'']/*[local-name()=''parameter'']/*[local-name()=''key'' and . =''SAT_UPD_FORM_ID'']/following-sibling::*)\");\r\nesDuplicada = false;\r\nif (ExcepcionPlataforma.Message.Length > 45)\r\n{\r\n    if (ExcepcionPlataforma.Message.Contains(\"(Duplicadas)\"))\r\n        {\r\n            esDuplicada = true;\r\n        }\r\n}\r\n\r\nif (!esDuplicada)\r\n{\r\n    Sat.DyP.Core.Dominio.ProcesamientoSincronoCD.CancelarDeclaracion\r\n    (\r\n        System.Convert.ToInt32(strIdDeclaracion),\r\n        lineaCaptura,\r\n        System.Convert.ToInt16(Sat.Com.Modelo.EstadoDeclaracion.Cancelada),\r\n        codigoError,\r\n        acuse.FechaRecepcion.ToString(),\r\n        encabezado.Rfc\r\n    );\r\n}\r\n\r\nSat.DyP.Herramientas.Diagnostico.AccesoLogEventos.EscribirEntradaError(ExcepcionPlataforma.Message, \r\n                                                                       Sat.DyP.Herramientas.Diagnostico.IdentificadoresLogEventos.Procesamiento);\r\nSat.DyP.Herramientas.Diagnostico.AccesoLogEventos.EscribirEntradaError(ExcepcionPlataforma.StackTrace, \r\n                                                                       Sat.DyP.Herramientas.Diagnostico.IdentificadoresLogEventos.Procesamiento)'",
                "runAfter": {}
              },
              "Construye_Mensaje_Error_Plataforma_34657ce2": {
                "type": "Compose",
                "inputs": "@'MsgDeclaracion = MsgRecepcion;\r\n\r\nloXmlRespuesta = Sat.DyP.Core.Dominio.GenerarMensajeRespuestaCD.MensajeRespuestaError\r\n(\r\n    (System.Int32)xpath(MsgRecepcion, \"string(/*[local-name()=''sat.message'']/*[local-name()=''metadata'']/*[local-name()=''parameter'']/*[local-name()=''key'' and . =''SAT_UPD_FORM_ID'']/following-sibling::*)\"), \r\n    ExcepcionPlataforma.Message, \r\n    \"Estimado contribuyente. La declaración solicitada no pueder ser procesada en este momento. Favor de intentar más tarde\"\r\n);\r\nMsgDeclaracion = loXmlRespuesta'",
                "runAfter": {
                  "Error_Declaracion": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {
              "TerminaProcesoSincrono": [
                "FAILED",
                "TIMEDOUT",
                "SKIPPED"
              ]
            }
          },
          "OcurreErrorNegocio": {
            "type": "Scope",
            "actions": {
              "Rechaza_la_Declaracion": {
                "type": "Compose",
                "inputs": "@'Sat.DyP.Herramientas.Datos.Bootstrapping.SqlTopazBootstrapper.CargarConfiguracionSqlRetry();\r\n\r\nstrIdDeclaracion = (System.String)xpath( MsgRecepcion, \"string(/*[local-name()=''sat.message'']/*[local-name()=''metadata'']/*[local-name()=''parameter'']/*[local-name()=''key'' and . =''SAT_UPD_FORM_ID'']/following-sibling::*)\");\r\n\r\nSat.DyP.Herramientas.Diagnostico.AccesoLogEventos.EscribirEntradaWarning\r\n(\r\n    System.String.Format(\r\n        \"IdDeclaración: {0}, Mensaje: Estimado contribuyente. La declaración solicitada no pudo ser procesada  {1}\", \r\n        strIdDeclaracion, \r\n        ExcepcionNegocio.Message\r\n    ), \r\n    ExcepcionNegocio.LegacyErrorCode\r\n);\r\n\r\n\r\nSat.DyP.Herramientas.Diagnostico.AccesoLogEventos.EscribirEntradaError(ExcepcionNegocio.Message, \r\n                                                                       Sat.DyP.Herramientas.Diagnostico.IdentificadoresLogEventos.Procesamiento);\r\nSat.DyP.Herramientas.Diagnostico.AccesoLogEventos.EscribirEntradaError(ExcepcionNegocio.StackTrace, \r\n                                                                       Sat.DyP.Herramientas.Diagnostico.IdentificadoresLogEventos.Procesamiento);\r\n\r\nSat.DyP.Core.Dominio.ProcesamientoSincronoCD.CancelarDeclaracion\r\n(\r\n    System.Convert.ToInt32(strIdDeclaracion),\r\n    lineaCaptura,\r\n    System.Convert.ToInt16(Sat.Com.Modelo.EstadoDeclaracion.Rechazada),\r\n    codigoError,\r\n    acuse.FechaRecepcion.ToString(),\r\n    encabezado.Rfc\r\n)'",
                "runAfter": {}
              },
              "Construye_mensaje_de_error_negocio__e4b65072": {
                "type": "Compose",
                "inputs": "@'MsgDeclaracion = MsgRecepcion;\r\n\r\nloXmlRespuesta = Sat.DyP.Core.Dominio.GenerarMensajeRespuestaCD.MensajeRespuestaError\r\n(\r\n    (System.Int32)xpath(\r\n        MsgRecepcion, \r\n        \"string(/*[local-name()=''sat.message'']/*[local-name()=''metadata'']/*[local-name()=''parameter'']/*[local-name()=''key'' and . =''SAT_UPD_FORM_ID'']/following-sibling::*)\"\r\n    ), \r\n    ExcepcionNegocio.Message, \r\n    System.String.Format(\r\n        \"Estimado contribuyente. La declaración solicitada no pudo ser procesada {0}\",\r\n        ExcepcionNegocio.Message\r\n    )\r\n);\r\nMsgDeclaracion = loXmlRespuesta'",
                "runAfter": {
                  "Rechaza_la_Declaracion": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {
              "TerminaProcesoSincrono": [
                "FAILED",
                "TIMEDOUT",
                "SKIPPED"
              ]
            }
          },
          "ExcepcionDeclaracionProcesada": {
            "type": "Scope",
            "actions": {
              "DescartaDeclaracion": {
                "type": "Compose",
                "inputs": "@'Sat.DyP.Herramientas.Datos.Bootstrapping.SqlTopazBootstrapper.CargarConfiguracionSqlRetry();\r\n\r\nstrIdDeclaracion = (System.String)xpath( MsgRecepcion, \"string(/*[local-name()=''sat.message'']/*[local-name()=''metadata'']/*[local-name()=''parameter'']/*[local-name()=''key'' and . =''SAT_UPD_FORM_ID'']/following-sibling::*)\");\r\n\r\nSat.DyP.Herramientas.Logger.RegistroEvento.ErrorDyPBTS(ExcepcionDeclaracionProcesada,\r\n     System.Convert.ToInt32(Sat.DyP.Herramientas.Diagnostico.IdentificadoresLogEventos.AccesoBaseDyP), \r\n     \"Proceso Sincrono\", \r\n     strIdDeclaracion,\r\n     System.String.Empty,\r\n     System.String.Empty,\r\n     System.String.Empty,\r\n     System.String.Empty,\r\n     System.String.Empty);\r\n\r\nSat.DyP.Herramientas.Diagnostico.AccesoLogEventos.EscribirEntradaError(ExcepcionDeclaracionProcesada.Message, \r\n                                                                       Sat.DyP.Herramientas.Diagnostico.IdentificadoresLogEventos.Procesamiento);\r\nSat.DyP.Herramientas.Diagnostico.AccesoLogEventos.EscribirEntradaError(ExcepcionDeclaracionProcesada.StackTrace, \r\n                                                                       Sat.DyP.Herramientas.Diagnostico.IdentificadoresLogEventos.Procesamiento);\r\n\r\n\r\nSat.DyP.Herramientas.Diagnostico.AccesoLogEventos.EscribirEntradaWarning(\r\n    System.String.Format(\r\n        \"IdDeclaración: {0}, Mensaje: Estimado contribuyente. La declaración solicitada no pudo ser procesada {1}\", \r\n        strIdDeclaracion, \r\n        ExcepcionDeclaracionProcesada.Message\r\n    ),\r\n    ExcepcionDeclaracionProcesada.LegacyErrorCode\r\n)'",
                "runAfter": {}
              },
              "Construye_mensaje_de_error_declaración_procesada_74ba83c8": {
                "type": "Compose",
                "inputs": "@'MsgDeclaracion = MsgRecepcion;\r\n\r\nloXmlRespuesta = Sat.DyP.Core.Dominio.GenerarMensajeRespuestaCD.MensajeRespuestaError(\r\n    (System.Int32)xpath(\r\n        MsgRecepcion,\r\n        \"string(/*[local-name()=''sat.message'']/*[local-name()=''metadata'']/*[local-name()=''parameter'']/*[local-name()=''key'' and . =''SAT_UPD_FORM_ID'']/following-sibling::*)\"\r\n    ),\r\n    ExcepcionDeclaracionProcesada.Message, \r\n    System.String.Format(\r\n        \"Estimado contribuyente. La declaración solicitada no pudo ser procesada {0}\",\r\n        ExcepcionDeclaracionProcesada.Message\r\n    )\r\n);\r\n\r\nMsgDeclaracion = loXmlRespuesta'",
                "runAfter": {
                  "DescartaDeclaracion": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {
              "TerminaProcesoSincrono": [
                "FAILED",
                "TIMEDOUT",
                "SKIPPED"
              ]
            }
          },
          "ExcepcionGenerica": {
            "type": "Scope",
            "actions": {
              "Excepcion_Generica": {
                "type": "Compose",
                "inputs": "@'Sat.DyP.Herramientas.Datos.Bootstrapping.SqlTopazBootstrapper.CargarConfiguracionSqlRetry();\r\nstrIdDeclaracion = (System.String)xpath( MsgRecepcion, \"string(/*[local-name()=''sat.message'']/*[local-name()=''metadata'']/*[local-name()=''parameter'']/*[local-name()=''key'' and . =''SAT_UPD_FORM_ID'']/following-sibling::*)\");\r\n\r\nSat.DyP.Core.Dominio.ProcesamientoSincronoCD.CancelarDeclaracion(\r\n    System.Convert.ToInt32(strIdDeclaracion),\r\n    lineaCaptura,\r\n    System.Convert.ToInt16(Sat.Com.Modelo.EstadoDeclaracion.Cancelada),\r\n    codigoError,\r\n    acuse.FechaRecepcion.ToString(),\r\n    encabezado.Rfc\r\n);\r\n\r\nSat.DyP.Herramientas.Diagnostico.AccesoLogEventos.EscribirEntradaError(\r\n    System.String.Format(\r\n        \"IdDeclaración: {0}, Mensaje: Error en el proceso sincrono de la declaracion debido a {1}\", \r\n        strIdDeclaracion,\r\n        ExcepcionGenerica.Message\r\n    ), \r\n    Sat.DyP.Herramientas.Diagnostico.IdentificadoresLogEventos.Procesamiento\r\n);\r\n\r\nSat.DyP.Herramientas.Diagnostico.AccesoLogEventos.EscribirEntradaError(\r\n    System.String.Format(\r\n        \"IdDeclaración: {0}, Mensaje StackTrace: Error en el proceso sincrono de la declaracion debido a {1}\", \r\n        strIdDeclaracion,\r\n        ExcepcionGenerica.StackTrace\r\n    ),\r\n    Sat.DyP.Herramientas.Diagnostico.IdentificadoresLogEventos.Procesamiento\r\n)'",
                "runAfter": {}
              },
              "Construye_mensaje_de_error_excepción_generica_141a3f73": {
                "type": "Compose",
                "inputs": "@'MsgDeclaracion = MsgRecepcion;\r\n\r\nloXmlRespuesta = Sat.DyP.Core.Dominio.ProcesamientoSincronoCD.GenerarMensajeRespuestaError(\r\n    (System.Int32)xpath(\r\n        MsgRecepcion,\r\n        \"string(/*[local-name()=''sat.message'']/*[local-name()=''metadata'']/*[local-name()=''parameter'']/*[local-name()=''key'' and . =''SAT_UPD_FORM_ID'']/following-sibling::*)\"\r\n    ),\r\n    ExcepcionGenerica.Message,\r\n    acuse.FechaRecepcion.ToString(),\r\n    encabezado.Rfc\r\n);\r\nMsgDeclaracion = loXmlRespuesta'",
                "runAfter": {
                  "Excepcion_Generica": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {
              "TerminaProcesoSincrono": [
                "FAILED",
                "TIMEDOUT",
                "SKIPPED"
              ]
            }
          }
        },
        "runAfter": {
          "Inicalización_variables": [
            "SUCCEEDED"
          ]
        }
      },
      "EnvíaDeclaracion": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "http://localhost/service",
          "body": "@triggerBody()",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "runAfter": {
          "FlujoSincronoPrincipal": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "EnvíaDeclaracion": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {}
  }
}