BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/receivePO_workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "DefaultReceiveLocation": {
        "type": "Request",
        "kind": "Http"
      }
    },
    "actions": {
      "CallOrchestration_1": {
        "type": "Workflow",
        "inputs": {
          "host": {
            "workflow": {
              "id": "findShippingPrice"
            }
          },
          "body": {
            "message": "@triggerBody()"
          }
        },
        "runAfter": {}
      },
      "SendPO": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "http://localhost/service",
          "body": "@triggerBody()",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "runAfter": {
          "CallOrchestration_1": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "SendPO": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {}
  }
}