BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/ReceivePOandSubmitToWS_workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "consumeWebServiceRL": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "path": "C:\\Program Files (x86)\\Microsoft BizTalk Server 2016\\SDK\\Samples\\Orchestrations\\ConsumeWebService\\In"
          },
          "serviceProviderConfiguration": {
            "connectionName": "azureblob",
            "operationId": "whenABlobIsAddedOrModified",
            "serviceProviderId": "/serviceProviders/AzureBlob"
          }
        },
        "kind": "Polling",
        "recurrence": {
          "frequency": "Minute",
          "interval": 1
        }
      }
    },
    "actions": {
      "ConstructPOMessage_87cb81f3": {
        "type": "Xslt",
        "inputs": {
          "content": "@triggerBody()",
          "map": {
            "name": "FilePOToWebPO",
            "type": "Xslt"
          },
          "transformOptions": "ApplyXsltTemplates"
        },
        "runAfter": {}
      },
      "WebServicePOSend": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "http://localhost/service",
          "body": "@triggerBody()",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "runAfter": {
          "ConstructPOMessage_87cb81f3": [
            "SUCCEEDED"
          ]
        }
      },
      "WebServiceInvoiceReceive": {
        "type": "Compose",
        "inputs": "// Unmapped: Response Receive response from POWebServicePort (BizTalk correlation pattern - requires manual configuration)",
        "runAfter": {
          "WebServicePOSend": [
            "SUCCEEDED"
          ]
        }
      },
      "ConstructInvoiceMessage_42970e5b": {
        "type": "Xslt",
        "inputs": {
          "content": "@triggerBody()",
          "map": {
            "name": "WebInvoiceToFileInvoice",
            "type": "Xslt"
          },
          "transformOptions": "ApplyXsltTemplates"
        },
        "runAfter": {
          "WebServiceInvoiceReceive": [
            "SUCCEEDED"
          ]
        }
      },
      "FileInvoiceSend": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "http://localhost/service",
          "body": "@triggerBody()",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "runAfter": {
          "ConstructInvoiceMessage_42970e5b": [
            "SUCCEEDED"
          ]
        }
      },
      "consumeWebServiceInvoiceSP": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "containerName": "container",
            "blobName": "%MessageID%.xml",
            "content": "@triggerBody()",
            "overrideIfExists": ""
          },
          "serviceProviderConfiguration": {
            "connectionName": "azureblob",
            "operationId": "uploadBlob",
            "serviceProviderId": "/serviceProviders/AzureBlob"
          }
        },
        "runAfter": {
          "FileInvoiceSend": [
            "SUCCEEDED"
          ]
        }
      },
      "consumeWebServicePOSP": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "http://localhost/POWebService/submitPOService.asmx",
          "body": "@triggerBody()",
          "headers": {
            "Content-Type": "text/xml; charset=utf-8"
          }
        },
        "runAfter": {
          "consumeWebServiceInvoiceSP": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {},
    "metadata": {
      "detectedPatterns": [
        {
          "name": "Message Translator",
          "description": "Transform message format from one schema to another",
          "recommendation": "Use Data Mapper for visual transformations, Parse XML/Compose XML for schema validation, or Liquid templates for complex mapping"
        }
      ],
      "optimizationApplied": true,
      "generatedBy": "BizTalk to Logic Apps Refactoring Tool",
      "generatedAt": "2026-02-15T15:30:13.3685612Z"
    }
  }
}