BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/Reprocesamiento (37).workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "DefaultReceiveLocation": {
        "type": "Request",
        "kind": "Http"
      }
    },
    "actions": {
      "esReproceso": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "esReproceso",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {}
      },
      "idDeclaracion": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "idDeclaracion",
              "type": "integer",
              "value": 0
            }
          ]
        },
        "runAfter": {
          "esReproceso": [
            "SUCCEEDED"
          ]
        }
      },
      "rutaXmlDeclaracion": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "rutaXmlDeclaracion",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "idDeclaracion": [
            "SUCCEEDED"
          ]
        }
      },
      "oDeclaracion": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "oDeclaracion",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "rutaXmlDeclaracion": [
            "SUCCEEDED"
          ]
        }
      },
      "strFechaRecepcion": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "strFechaRecepcion",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "oDeclaracion": [
            "SUCCEEDED"
          ]
        }
      },
      "fechaRecepcion": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "fechaRecepcion",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "strFechaRecepcion": [
            "SUCCEEDED"
          ]
        }
      },
      "acuse": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "acuse",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "fechaRecepcion": [
            "SUCCEEDED"
          ]
        }
      },
      "strFechaCausacion": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "strFechaCausacion",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "acuse": [
            "SUCCEEDED"
          ]
        }
      },
      "fechaCausacion": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "fechaCausacion",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "strFechaCausacion": [
            "SUCCEEDED"
          ]
        }
      },
      "encabezado": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "encabezado",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "fechaCausacion": [
            "SUCCEEDED"
          ]
        }
      },
      "moduloLogNegocio": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "moduloLogNegocio",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "encabezado": [
            "SUCCEEDED"
          ]
        }
      },
      "MensajeDeclaracion": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "MensajeDeclaracion",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "moduloLogNegocio": [
            "SUCCEEDED"
          ]
        }
      },
      "id": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "id",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "MensajeDeclaracion": [
            "SUCCEEDED"
          ]
        }
      },
      "Expression_1": {
        "type": "Compose",
        "inputs": "@'moduloLogNegocio = \"Sat.DyP.Core.Procesos.Reprocesamiento\"'",
        "runAfter": {
          "id": [
            "SUCCEEDED"
          ]
        }
      },
      "Flujo_Principal": {
        "type": "Scope",
        "actions": {
          "Obtiene_XML": {
            "type": "Scope",
            "actions": {
              "Obtiene_XML_Declaracion": {
                "type": "Compose",
                "inputs": "@'Sat.DyP.Herramientas.Datos.Bootstrapping.SqlTopazBootstrapper.CargarConfiguracionSqlRetry();\r\n\r\nesReproceso=true;\r\nidDeclaracion = (System.Int32)xpath( MensajeFolio, \"string(/*[local-name()=''Reprocesar'']/*[local-name()=''Folio'']/.)\");\r\n//Sat.DyP.Herramientas.Diagnostico.AccesoLogEventos.EscribirEntradaInformation(\"Antes de obtener el xml de la declaracion \" + idDeclaracion.ToString(), \r\n//                                                                       Sat.DyP.Herramientas.Diagnostico.IdentificadoresLogEventos.Procesamiento);\r\n\r\noDeclaracion = new System.Xml.XmlDocument();\r\n\r\n//No es una ruta, es el contenido del archivo\r\nrutaXmlDeclaracion = Sat.DyP.Core.Dominio.ObtenerDocumentosCD.ObtenerXMLDeclaracion(idDeclaracion,\r\n        System.String.Empty,\r\n        System.String.Empty);\r\n\r\noDeclaracion.LoadXml(rutaXmlDeclaracion);\r\n\r\n//Sat.DyP.Herramientas.Diagnostico.AccesoLogEventos.EscribirEntradaInformation(\"Después de obtener el xml de la declaracion\", \r\n//                                                                       Sat.DyP.Herramientas.Diagnostico.IdentificadoresLogEventos.Procesamiento)'",
                "runAfter": {}
              },
              "Construye_Mensaje_Declaración_d9a2cb78": {
                "type": "Compose",
                "inputs": "@'MensajeDeclaracion = oDeclaracion'",
                "runAfter": {
                  "Obtiene_XML_Declaracion": [
                    "SUCCEEDED"
                  ]
                }
              },
              "Inicialliza_Valores": {
                "type": "Compose",
                "inputs": "@'Sat.DyP.Herramientas.Datos.Bootstrapping.SqlTopazBootstrapper.CargarConfiguracionSqlRetry();\r\n\r\n\r\nstrFechaRecepcion = xpath( MensajeDeclaracion,\"string(/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DCL_ACUSE'']/*[local-name()=''struct.modelitem'' and @id=''RECEIPT_DTTM'']/@value)\");\r\nif (strFechaRecepcion.Trim() != System.String.Empty)\r\n{\r\n    fechaRecepcion = System.DateTime.ParseExact(strFechaRecepcion,\"dd/MM/yyyy HH:mm:ss\",System.Globalization.CultureInfo.InvariantCulture);\r\n}\r\nelse\r\n{\r\n    fechaRecepcion = System.DateTime.MinValue;\r\n}\r\n\r\nacuse = new Sat.DyP.Core.Modelo.Acuse(\r\n                    (System.String)xpath( MensajeDeclaracion,\"string(/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DCL_ACUSE'']/*[local-name()=''struct.modelitem'' and @id=''SAT_CAPTURE_LINE'']/@value)\"),\r\n                    System.String.Empty, \r\n                    (System.String)xpath( MensajeDeclaracion,\"string(/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DCL_ACUSE'']/*[local-name()=''struct.modelitem'' and @id=''SAT_SEAL_STRING'']/@value)\"), \r\n                    (System.Int32)xpath( MensajeDeclaracion,\"string(/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DCL_ACUSE'']/*[local-name()=''struct.modelitem'' and @id=''CASE_ID'']/@value)\"), \r\n                    System.DateTime.MinValue,\r\n                    (System.Double)xpath( MensajeDeclaracion, \"string(/*[local-name()=''sat.message'']/*[local-name()=''metadata'']/*[local-name()=''parameter'']/*[local-name()=''key'' and . =''SAT_TOTAL_PAYMENT'']/following-sibling::*)\"),\r\n                    (System.Int32)xpath( MensajeDeclaracion, \"string(/*[local-name()=''sat.message'']/*[local-name()=''metadata'']/*[local-name()=''parameter'']/*[local-name()=''key'' and . =''SAT_UPD_FORM_ID'']/following-sibling::*)\"));\r\nacuse.FechaRecepcion = fechaRecepcion;\r\n\r\nstrFechaCausacion = xpath( MensajeDeclaracion,\"string(/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DAT_IDENT'']/*[local-name()=''struct.modelitem'' and @id=''SAT_CAUS_DT'']/@value)\");\r\nif (strFechaCausacion.Trim() != System.String.Empty)\r\n{\r\n    fechaCausacion = System.DateTime.ParseExact(strFechaCausacion,\"dd/MM/yyyy\",System.Globalization.CultureInfo.InvariantCulture);\r\n}\r\nelse\r\n{\r\n    fechaCausacion = System.DateTime.MinValue;\r\n}\r\n\r\nencabezado = new Sat.Com.Modelo.Encabezado(\r\n                    (System.Int32)xpath( MensajeDeclaracion, \"string(/*[local-name()=''sat.message'']/*[local-name()=''metadata'']/*[local-name()=''parameter'']/*[local-name()=''key'' and . =''SAT_UPD_FORM_ID'']/following-sibling::*)\"), \r\n                    (System.String)xpath( MensajeDeclaracion,\"string(/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DAT_IDENT'']/*[local-name()=''struct.modelitem'' and @id=''SAT_DECLAR_TYPE_CD'']/@value)\"), \r\n                    (System.String)xpath( MensajeDeclaracion,\"string(/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DAT_IDENT'']/*[local-name()=''struct.modelitem'' and @id=''SAT_FISCAL_PERIOD'']/@value)\"), \r\n                    (System.Int32)xpath( MensajeDeclaracion,\"string(/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DAT_IDENT'']/*[local-name()=''struct.modelitem'' and @id=''SAT_FISCAL_YEAR'']/@value)\"), \r\n                    fechaCausacion, \r\n                    (System.String)xpath( MensajeDeclaracion,\"string(/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DAT_IDENT'']/*[local-name()=''struct.modelitem'' and @id=''SAT_DECLAR_CATEG'']/@value)\"), \r\n                    (System.String)xpath( MensajeDeclaracion,\"string(/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DAT_IDENT'']/*[local-name()=''struct.modelitem'' and @id=''DURATION_FREQ'']/@value)\"), \r\n                    (System.String)xpath( MensajeDeclaracion,\"string(/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DAT_IDENT'']/*[local-name()=''struct.modelitem'' and @id=''SAT_RFC'']/@value)\"),\r\n                    Sat.Com.Modelo.EstadoDeclaracion.Terminada,\r\n                    (System.String)xpath( MensajeDeclaracion,\"string(/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_CTATRIB'']/*[local-name()=''struct.modelitem'' and @id=''BO_ID'']/@value)\"),\r\n                    (System.Int32)xpath( MensajeDeclaracion,\"string(/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DAT_IDENT'']/*[local-name()=''struct.modelitem'' and @id=''SAT_ORIGEN'']/@value)\"), \r\n                    (System.String)xpath( MensajeDeclaracion,\"string(/*[local-name()=''sat.message'']/*[local-name()=''data'']/*[local-name()=''sat.protocol'']/*[local-name()=''sat.bundle'']/*[local-name()=''struct.group'']/*[local-name()=''struct.modelgroup'' and @id=''SAT_DAT_IDENT'']/*[local-name()=''struct.modelitem'' and @id=''SAT_DECLR_CLASS'']/@value)\"))'",
                "runAfter": {
                  "Construye_Mensaje_Declaración_d9a2cb78": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {}
          },
          "StartOrchestration_1": {
            "type": "Workflow",
            "inputs": {
              "host": {
                "workflow": {
                  "id": "ProcesoAsincrono"
                }
              },
              "body": {
                "message": "@triggerBody()"
              }
            },
            "runAfter": {
              "Obtiene_XML": [
                "SUCCEEDED"
              ]
            }
          },
          "Excepcion_General": {
            "type": "Scope",
            "actions": {
              "Escribe_error": {
                "type": "Compose",
                "inputs": "@'Sat.DyP.Herramientas.Datos.Bootstrapping.SqlTopazBootstrapper.CargarConfiguracionSqlRetry();\r\n\r\nSat.DyP.Herramientas.Diagnostico.AccesoLogEventos.EscribirEntradaError(\r\nExcepcionGeneral.Message,\r\nSat.DyP.Herramientas.Diagnostico.IdentificadoresLogEventos.Procesamiento\r\n);\r\n\r\n\r\nSat.DyP.Herramientas.Diagnostico.AccesoLogEventos.EscribirEntradaError(ExcepcionGeneral.Message, \r\n                                                                       Sat.DyP.Herramientas.Diagnostico.IdentificadoresLogEventos.Procesamiento);\r\nSat.DyP.Herramientas.Diagnostico.AccesoLogEventos.EscribirEntradaError(ExcepcionGeneral.StackTrace, \r\n                                                                       Sat.DyP.Herramientas.Diagnostico.IdentificadoresLogEventos.Procesamiento)'",
                "runAfter": {}
              }
            },
            "runAfter": {
              "StartOrchestration_1": [
                "FAILED",
                "TIMEDOUT",
                "SKIPPED"
              ]
            }
          }
        },
        "runAfter": {
          "Expression_1": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "Flujo_Principal": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {}
  }
}