BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/Shipper1Process.workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "DefaultReceiveLocation": {
        "type": "Request",
        "kind": "Http"
      }
    },
    "actions": {
      "Construct_Shipping_Order_Ack_Message_c68063ad": {
        "type": "Xslt",
        "inputs": {
          "content": "@triggerBody()",
          "map": {
            "name": "ShipmentOrderAck",
            "type": "Xslt"
          },
          "transformOptions": "ApplyXsltTemplates"
        },
        "runAfter": {}
      },
      "Send_Shipping_Order_Ack": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "http://localhost/service",
          "body": "@body('Construct_Shipping_Order_Ack_Message_c68063ad')",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "runAfter": {
          "Construct_Shipping_Order_Ack_Message_c68063ad": [
            "SUCCEEDED"
          ]
        }
      },
      "Receive_Shipping_Advice": {
        "type": "Compose",
        "inputs": "// Unmapped: Response Receive response from ReceiveFiles (BizTalk correlation pattern - requires manual configuration)",
        "runAfter": {
          "Send_Shipping_Order_Ack": [
            "SUCCEEDED"
          ]
        }
      },
      "Construct_Shipping_Advice_Ack_Message_2bef9bb9": {
        "type": "Xslt",
        "inputs": {
          "content": "@triggerBody()",
          "map": {
            "name": "ShipmentAdviceAck",
            "type": "Xslt"
          },
          "transformOptions": "ApplyXsltTemplates"
        },
        "runAfter": {
          "Receive_Shipping_Advice": [
            "SUCCEEDED"
          ]
        }
      },
      "Send_Shipping_Advice_Ack": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "http://localhost/service",
          "body": "@body('Construct_Shipping_Advice_Ack_Message_2bef9bb9')",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "runAfter": {
          "Construct_Shipping_Advice_Ack_Message_2bef9bb9": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "Send_Shipping_Advice_Ack": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {}
  }
}