BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/Shipper2Process_workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "DefaultReceiveLocation": {
        "type": "Request",
        "kind": "Http"
      }
    },
    "actions": {
      "Construct_Shipment_Order_Ack_Message_444e863e": {
        "type": "Xslt",
        "inputs": {
          "content": "@triggerBody()",
          "map": {
            "name": "ShipmentOrderAck",
            "type": "Xslt"
          },
          "transformOptions": "ApplyXsltTemplates"
        },
        "runAfter": {}
      },
      "Send_Shipment_Order_Ack_Message": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "http://localhost/service",
          "body": "@triggerBody()",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "runAfter": {
          "Construct_Shipment_Order_Ack_Message_444e863e": [
            "SUCCEEDED"
          ]
        }
      },
      "Receive_Shipment_Advice_Message": {
        "type": "Compose",
        "inputs": "// Unmapped: Response Receive response from ReceiveShipmentFiles (BizTalk correlation pattern - requires manual configuration)",
        "runAfter": {
          "Send_Shipment_Order_Ack_Message": [
            "SUCCEEDED"
          ]
        }
      },
      "Construct_Shipping_Advice_Ack_bdc9c3a1": {
        "type": "Xslt",
        "inputs": {
          "content": "@triggerBody()",
          "map": {
            "name": "ShipmentAdviceAck",
            "type": "Xslt"
          },
          "transformOptions": "ApplyXsltTemplates"
        },
        "runAfter": {
          "Receive_Shipment_Advice_Message": [
            "SUCCEEDED"
          ]
        }
      },
      "Send_Shipping_Advice_Ack": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "http://localhost/service",
          "body": "@triggerBody()",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "runAfter": {
          "Construct_Shipping_Advice_Ack_bdc9c3a1": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "Send_Shipping_Advice_Ack": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {},
    "metadata": {
      "detectedPatterns": [
        {
          "name": "Message Translator",
          "description": "Transform message format from one schema to another",
          "recommendation": "Use Data Mapper for visual transformations, Parse XML/Compose XML for schema validation, or Liquid templates for complex mapping"
        }
      ],
      "optimizationApplied": true,
      "generatedBy": "BizTalk to Logic Apps Refactoring Tool",
      "generatedAt": "2026-02-15T15:30:13.5515579Z"
    }
  }
}