BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/SuspendMessage (40)_workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "DefaultReceiveLocation": {
        "type": "Request",
        "kind": "Http"
      }
    },
    "actions": {
      "ErrorText": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "ErrorText",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {}
      },
      "BuildErrorDetailsString": {
        "type": "Compose",
        "inputs": "@'ErrorText = \"Failure code: \" + MessageToSuspend(ErrorReport.FailureCode) + \"\\r\\n\" +\r\n\"Description: \" + MessageToSuspend(ErrorReport.Description)'",
        "runAfter": {
          "ErrorText": [
            "SUCCEEDED"
          ]
        }
      },
      "SuspendInstance": {
        "type": "Terminate",
        "inputs": {
          "runStatus": "Failed",
          "runError": {
            "code": "Terminated",
            "message": "ErrorText;"
          }
        },
        "runAfter": {
          "BuildErrorDetailsString": [
            "SUCCEEDED"
          ]
        }
      },
      "DummyExpression": {
        "type": "Compose",
        "inputs": "@'ErrorText = MessageToSuspend(ErrorReport.Description)'",
        "runAfter": {
          "SuspendInstance": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "DummyExpression": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {}
  }
}