BizTalktoLogicApps.Tests/Data/LogicApps/Workflows/UpdateOrder_workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "DefaultReceiveLocation": {
        "type": "Request",
        "kind": "Http"
      }
    },
    "actions": {
      "orderID": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "orderID",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {}
      },
      "partnerID": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "partnerID",
              "type": "string",
              "value": ""
            }
          ]
        },
        "runAfter": {
          "orderID": [
            "SUCCEEDED"
          ]
        }
      },
      "result": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "result",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "runAfter": {
          "partnerID": [
            "SUCCEEDED"
          ]
        }
      },
      "BusinessFaultMessage": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "BusinessFaultMessage",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "result": [
            "SUCCEEDED"
          ]
        }
      },
      "SystemFaultMessage": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "SystemFaultMessage",
              "type": "object",
              "value": null
            }
          ]
        },
        "runAfter": {
          "BusinessFaultMessage": [
            "SUCCEEDED"
          ]
        }
      },
      "DBScope": {
        "type": "Scope",
        "actions": {
          "Update_Order": {
            "type": "Compose",
            "inputs": "@'orderID = OrderMessage(Microsoft.Samples.BizTalk.Litware.Schemas.OrderGroupID);\r\npartnerID = OrderMessage(Microsoft.Samples.BizTalk.Litware.Schemas.SoldToName);\r\nresult = Microsoft.Samples.BizTalk.Litware.Utilities.DBHelper.UpdateOrder(partnerID, orderID, OrderMessage)'",
            "runAfter": {}
          },
          "CatchBusinessException": {
            "type": "Scope",
            "actions": {
              "OrderFaultMessage_0e7eecde": {
                "type": "Compose",
                "inputs": "@'BusinessFaultMessage = Microsoft.Samples.BizTalk.Litware.Utilities.ResourceHelper.GetEmptyBusinessFault();\r\nBusinessFaultMessage.Message = appExp.Message;\r\nBusinessFaultMessage.Trace = appExp.StackTrace'",
                "runAfter": {}
              },
              "Send_Business_Fault": {
                "type": "Http",
                "inputs": {
                  "method": "POST",
                  "uri": "http://localhost/service",
                  "body": "@triggerBody()",
                  "headers": {
                    "Content-Type": "application/json"
                  }
                },
                "runAfter": {
                  "OrderFaultMessage_0e7eecde": [
                    "SUCCEEDED"
                  ]
                }
              },
              "End_Orch": {
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Failed",
                  "runError": {
                    "code": "Terminated",
                    "message": "appExp.Message;"
                  }
                },
                "runAfter": {
                  "Send_Business_Fault": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {
              "Update_Order": [
                "FAILED",
                "TIMEDOUT",
                "SKIPPED"
              ]
            }
          },
          "CatchSystemException": {
            "type": "Scope",
            "actions": {
              "OrderFaultMessage_66f1a824": {
                "type": "Compose",
                "inputs": "@'SystemFaultMessage = Microsoft.Samples.BizTalk.Litware.Utilities.ResourceHelper.GetEmptySystemFault();\r\nSystemFaultMessage.Message = e.Message;\r\nSystemFaultMessage.Trace = e.StackTrace'",
                "runAfter": {}
              },
              "Send_System_Fault": {
                "type": "Http",
                "inputs": {
                  "method": "POST",
                  "uri": "http://localhost/service",
                  "body": "@triggerBody()",
                  "headers": {
                    "Content-Type": "application/json"
                  }
                },
                "runAfter": {
                  "OrderFaultMessage_66f1a824": [
                    "SUCCEEDED"
                  ]
                }
              },
              "End_Orch_1": {
                "type": "Terminate",
                "inputs": {
                  "runStatus": "Failed",
                  "runError": {
                    "code": "Terminated",
                    "message": "e.Message;"
                  }
                },
                "runAfter": {
                  "Send_System_Fault": [
                    "SUCCEEDED"
                  ]
                }
              }
            },
            "runAfter": {
              "Update_Order": [
                "FAILED",
                "TIMEDOUT",
                "SKIPPED"
              ]
            }
          }
        },
        "runAfter": {
          "SystemFaultMessage": [
            "SUCCEEDED"
          ]
        }
      },
      "Construct_Ack_104365bc": {
        "type": "Xslt",
        "inputs": {
          "content": "@triggerBody()",
          "map": {
            "name": "PurchaseOrder_To_OrderAck",
            "type": "Xslt"
          },
          "transformOptions": "ApplyXsltTemplates"
        },
        "runAfter": {
          "DBScope": [
            "SUCCEEDED"
          ]
        }
      },
      "SendUpdate": {
        "type": "Http",
        "inputs": {
          "method": "POST",
          "uri": "http://localhost/service",
          "body": "@triggerBody()",
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "runAfter": {
          "Construct_Ack_104365bc": [
            "SUCCEEDED"
          ]
        }
      },
      "DefaultSendPort": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "entityName": "queue",
            "message": "@triggerBody()",
            "sessionId": "",
            "contentType": "application/json"
          },
          "serviceProviderConfiguration": {
            "connectionName": "servicebus",
            "operationId": "sendMessage",
            "serviceProviderId": "/serviceProviders/serviceBus"
          }
        },
        "runAfter": {
          "SendUpdate": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {},
    "metadata": {
      "detectedPatterns": [
        {
          "name": "Request-Reply (Synchronous)",
          "description": "Synchronous request-response pattern",
          "recommendation": "Use Request trigger with Response action (built-in pattern)"
        },
        {
          "name": "Message Translator",
          "description": "Transform message format from one schema to another",
          "recommendation": "Use Data Mapper for visual transformations, Parse XML/Compose XML for schema validation, or Liquid templates for complex mapping"
        },
        {
          "name": "Exception Handling & Compensation",
          "description": "Handle errors and perform compensating actions",
          "recommendation": "Use Scope action with Configure Run After for error handling"
        }
      ],
      "optimizationApplied": true,
      "generatedBy": "BizTalk to Logic Apps Refactoring Tool",
      "generatedAt": "2026-02-15T15:30:13.6602132Z"
    }
  }
}