BizTalktoLogicApps.Tests/Data/LogicApps/Pipelines/CustomPartyResolutionPipeline_workflow.json
{
  "kind": "Stateful",
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "contentVersion": "1.0.0.0",
    "triggers": {
      "pipelinereceive": {
        "type": "Request",
        "kind": "Http"
      }
    },
    "actions": {
      "Disassemble": {
        "type": "Scope",
        "actions": {
          "XMLdisassembler": {
            "type": "Foreach",
            "foreach": "@triggerBody()?['items']",
            "actions": {
              "ParseXMLwithSchema": {
                "type": "XmlParse",
                "inputs": {
                  "content": "@items('XMLdisassembler')?['$content']",
                  "schema": {
                    "source": "LogicApp",
                    "name": "SCHEMA_NAME_HERE"
                  },
                  "xmlReaderSettings": {
                    "dtdProcessing": "Prohibit",
                    "xmlNormalization": true,
                    "ignoreWhitespace": true,
                    "ignoreProcessingInstructions": true
                  },
                  "jsonWriterSettings": {
                    "ignoreAttributes": false,
                    "useFullyQualifiedNames": false
                  }
                },
                "metadata": {
                  "comment": "// Use 'Parse XML with schema' action\n// ACTION REQUIRED:\n// 1. Upload XSD schema to Logic App artifacts\n// 2. Select schema in Parse XML action\n// 3. Configure XPath expressions for property extraction\n// 4. Map promoted properties from BizTalk schema annotations"
                },
                "runAfter": {}
              }
            },
            "runtimeConfiguration": {
              "concurrency": {
                "repetitions": 20
              }
            },
            "runAfter": {}
          }
        },
        "runAfter": {}
      },
      "ResolveParty": {
        "type": "Scope",
        "actions": {
          "CustomPartyResolutionPipelineComponent": {
            "type": "InvokeFunction",
            "inputs": {
              "functionName": "ResolvePartner",
              "parameters": {
                "certificateThumbprint": "@triggerBody()?['CertificateThumbprint']",
                "windowsSID": "@triggerBody()?['WindowsSID']",
                "resolutionMode": "CertificateThenSID"
              }
            },
            "metadata": {
              "comment": "// Component: Party Resolution\r\n// Description: Maps sender certificate or security identifier (SID) to configured BizTalk Server party. Uses WindowsUser and SignatureCertificate context properties.\r\n// Behavior: Reads WindowsUser and SignatureCertificate from message context. Resolves party by certificate (if enabled) or by SID. Sets SourcePartyID as OriginatorPID if resolved and host is Authentication Trusted. If resolution fails, stamps OriginatorPID as 's-1-5-7' (anonymous user). Resolution order: Certificate first (if By Certificate = True), then SID (if By SID = True).\r\n// Message Flow: 1 message in → 1 message out\r\n// Properties:\n// MIGRATION: Implement via Azure Functions with data store lookup\n// FUNCTION NAME: ResolvePartner\n// DATA STORE: Azure Table Storage or SQL Database\n// Stage: ResolveParty (All)"
            },
            "runAfter": {}
          }
        },
        "runAfter": {
          "Disassemble": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "outputs": {}
  }
}